<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Garry" content="">
    <title>Working Hour Page</title>


    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/working_hour.css" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <!-- Carousel Code-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Activate Bootstrap 4 Carousel via Data Attributes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .carousel{
            background: #eb8034;
            margin-top: 20px;
        }
        .carousel-item{
            text-align: center;
            min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
        }
        .bs-example{
            margin: 20px;
        }
    </style>
    <!-- Carousel code-->
</head>
</html>

<body>
<%include header.ejs%>

<!--  TILES CODE-->
<div class="container">
    <div class="row">
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='annual_bonus';" style="cursor: pointer;">
                <img src="images/annual_bonus.jpg" alt="My Awesome Tile">
            </div>
        </div>
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='pay_slip';" style="cursor: pointer;">
                <img src="images/pay_slips.jpg" alt="My Awesome Tile">
            </div>
        </div>
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='annual_bonus';" style="cursor: pointer;">
                <img src="images/annual_bonus.jpg" alt="My Awesome Tile">
            </div>
        </div>
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='pay_rate_level';" style="cursor: pointer;">
                <img src="images/pay_rate_level.jpg" alt="My Awesome Tile">
            </div>
        </div>
    </div>
</div>
<!-- TILES CODE END-->

<!-- CAROUSEL CODE-->
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="numbertext">1 / 5</div>
                <img src="images/annualleave/fulltime/1.png" alt="First Slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <div class="numbertext">2 / 5</div>
                <img src="images/annualleave/fulltime/2.png" alt="Second Slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <div class="numbertext">3 / 5</div>
                <img src="images/annualleave/fulltime/3.png" alt="Third Slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <div class="numbertext">4 / 5</div>
                <img src="images/annualleave/fulltime/4.png" alt="Third Slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <div class="numbertext">5 / 5</div>
                <img src="images/annualleave/fulltime/5.png" alt="Third Slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
</body>
<!-- CAROUSEL CODE END-->
<%include links.ejs%>
<!--    FOOTER CODE-->
<%include footer.ejs %>
<%include back_top.ejs%>
</body>