<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Garry" content="">
    <title>Working Hour Page</title>


    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/working_hour.css" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
</head>
</html>

<body>
<%include header.ejs%>

<!--  TILES CODE-->
<div class="container">
    <div class="row">
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='pay_raise_visu';" style="cursor: pointer;">
                <img src="http://placehold.it/240x144?text=Pay Raise" alt="My Awesome Tile">
            </div>
        </div>
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='pay_slip';" style="cursor: pointer;">
                <img src="http://placehold.it/240x144?text=Pay Slips" alt="My Awesome Tile">
            </div>
        </div>
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='superannuation';" style="cursor: pointer;">
                <img src="http://placehold.it/240x144?text=Superannuation" alt="My Awesome Tile">
            </div>
        </div>
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='pay_rate_level';" style="cursor: pointer;">
                <img src="http://placehold.it/240x144?text=Pay Rate Level" alt="My Awesome Tile">
            </div>
        </div>
    </div>
</div>
<!-- TILES CODE END-->

<!-- CAROUSEL CODE-->
<%include slider_annual_leave.ejs%>
<!-- CAROUSEL CODE END-->
<%include links.ejs%>
<!--    FOOTER CODE-->
<%include footer.ejs %>
<%include back_top.ejs%>
</body>