<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Garry" content="">
    <title>Minimum Wage Page</title>

    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/working_hour.css" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
</head>
<body>
<!--<div class="gray_style">-->
<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
    <div class="container">
        <a class="navbar-brand-sharon" href="/">
            <div class = "logo-image">
                <img src="images/logo.png" class="img-fluid">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <div id="menu_area" class="menu-area">
                    <div class="container">
                        <div class="row">
                            <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li><a id="nav_home" href="/" style="font-family: Josefin Sans;">Home</a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Employee Entitlements</a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Your Pay</a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li ><a  id="myfont_1" href="minimum_wage">Minimum Wage</a></li>
                                                        <li><a  id="myfont_2" href="pay_slip">Pay Slip</a></li>
                                                        <li><a id="myfont_3"  href="superannuation">Superannuation</a></li>
                                                        <li><a id="myfont_4"  href="working_hour">Working Hours</a></li>
                                                        <li><a id="myfont_5" href="annual_bonus">Annual Bonus</a></li>
                                                        <li><a id="myfont_6" href="infographics_epic1">Quick Info</a></li>
                                                        <li><a id="myfont_20" href="pay_raise_visu">Salary&Job Analysis</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Your Leave</a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li><a id="myfont_8" href="annual_leave">Annual Leave Entitlements</a></li>
                                                        <li><a id="myfont_9" href="sick_leave">Sick Leave Entitlements</a></li>
                                                        <li>
                                                            <a id="myfont_21" href="pay_rate_level">Paid Leave Analysis</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_10" href="infographic_epic2">Quick Info</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Your Contract</a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li>
                                                            <a id="myfont_12" href="contract_termination">Contract Termination</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_13" href="industrial_action">Industrial Action</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_14" href="redundancy">Redundancy</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_15" href="resignation">Resignation</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_16" href="unfair_dismissal_case">Unfair Dismissal Case</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_17" href="unfair_dismissal">Unfair Dismissal</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_22" href="injury_visualisation">Injury Analysis</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_18" href="infographic_epic3">Quick Info</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a id="myfont_23" href="external_links">External Links</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#au" data-reload onclick="translate_au(); delete_motive_ch();">
                        <span class="flag-icon flag-icon-au"> </span>
                        <span id="nav-separator">English</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#cn" data-reload onclick="translate_cn(); delete_motive_au();">
                        <span class="flag-icon flag-icon-cn" id="nav-separator"></span>
                        <span id="nav-separator">中文</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Links start here-->
<div style="text-align: center;">
    <span id="page2-entitlement">Government Links and Helplines</span>
</div>
<div id="rectangle"></div>
<div class="container">
    <div class="row">
        <div class="col-6" style="border-style: solid; border-color: darkgrey;text-align: center;">
            <h3 id="min_wage">Minimum Wage</h3>
            <p id="text1">Certain employees may have different pay entitlements depending on whether they have a reduced work capacity because of disability, if they're under the age of 21 or if they are an apprentice or trainee.</p>
            <hr>
            <p id="t1">For more information about pay for these employees, visit:</p>
            <a href="https://www.fairwork.gov.au/pay/minimum-wages/employees-with-disability-pay-rates" id="link1">Employees with disability pay rates</a> <br>
            <a href="https://www.fairwork.gov.au/pay/minimum-wages/junior-pay-rates" id="link2">Junior Pay rates</a> <br>
            <a href="https://www.fairwork.gov.au/pay/minimum-wages/apprentice-and-trainee-pay-rates" id="link3">Apprentice and trainee pay rates</a> <hr>
            <p id="text2">If you have questions about how much tax comes out of a pay rate, please contact the: </p>
                <a href="https://www.ato.gov.au/" id="link4">Australian Taxation Office</a>


        </div>
        <div class="col-6" style="border-style: solid; border-color: darkgrey;text-align: center;">
            <article>
                <h3 id="head1">Working Hours Information</h3>
                <p id="text3">Most student visas allow you to work for up to 40 hours every two weeks while your course is in session,
                    and unrestricted hours during any scheduled course break,
                    but before you undertake any paid work you need to make sure your visa allows you to work.</p>
                <hr>
                <p id="text4">Find out more information at the following link</p>
                <a href="https://www.homeaffairs.gov.au/" id="link5" >Department of Home Affairs website.</a>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="border-style: solid; border-color: darkgrey;text-align: center;">
            <h3 id="pay">Pay Slips and Record-Keeping</h3>
            <p id="text5">In any business, large or small, record-keeping is vital to success.
                Record-keeping and pay slip obligations ensure employees receive correct wages and entitlements.</p> <hr>
            <p id="text6"> Check out the following link to learn what has to be included on pay slips and find our pay slip template.</p>
            <a href="https://www.fairwork.gov.au/Pay/pay-slips-and-record-keeping/pay-slips" id="link6">Pay Slips page</a>
        </div>
        <div class="col-6" style="border-style: solid; border-color: darkgrey; text-align: center;">
            <h3 id="income">Income Statements</h3>
            <p id="text7"> There have been changes to the way some employers need to report payroll information to the Australian Taxation Office (ATO).
                This includes payments such as:</p>
            <li id="list1">salaries and wages</li>
            <li id="list2">pay as you go (PAYG) withholding</li>
            <li id="list3">superannuation information.</li>
            <p id="text8">This reporting change is called Single Touch Payroll (STP).</p><hr>
            <p id="text9"> If an employer reports using STP, they don't have to give employees an end-of-year payment summary.
                An employee’s end-of-year payment summary - now called an income statement - will be available through their myGov account. <br>
                Go to the ATO’s website to learn more about: </p>
            <a href="https://www.ato.gov.au/Business/Single-Touch-Payroll/" id="link7">Single Touch Payroll</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="border-style: solid; border-color: darkgrey; text-align: center;">
            <h3 id="tax">Tax & Superannuation</h3>
            <p id="text10">For questions about your tax contact the ATO on 13 28 61 or </p>
            <a href="https://www.ato.gov.au/" id="link8">Visit Their Website</a> <hr>
            <h5 id="super">Superannuation Guarantee</h5>
            <p id="text11">Under the superannuation guarantee,
                employers have to pay superannuation contributions of 9.5%  of an employee's ordinary time earnings if:</p>
            <p id="text12">when an employee is paid $450 or more before tax in a month and is:</p>
            <li id="list4">over 18 years, or</li>
            <li id="list5">under 18 years and works over 30 hours a week.</li>
            <p id="text13">This applies to full-time and part-time employees and some casual employees, and includes temporary residents.</p>
            <p id="text14">Superannuation has to be paid at least every 3 months, into the employee's nominated account.</p> <hr>
            <p id="text15">For more information about the superannuation guarantee, contact the ATO on 13 10 20 or </p>
            <a href="https://www.ato.gov.au/Super/" id="link9"> Visit ATO Website</a>

        </div>
    </div>
</div>

<!--    FOOTER CODE-->
<footer>
    <div class="container">
        <div class="content-footer row">
            <div class="column-footer col-lg-6 col-md-6 col-sm-6">
                <h3><span id="quick-link">Quick Links</span></h3>
                <ul id="restaurant-hours">
                    <li>
                        <a href="pay_raise_visu"><span id="pay-raise-2">Pay Raise</span></a>
                    </li>
                    <li>
                        <a href="working_hour"> <span id="working-hours-2">Working Hours</span></a>
                    </li>
                    <li>
                        <a href="superannuation"><span id="super-ann">Superannuation</span></a>
                    </li>
                    <li>
                        <a href="sick_leave"><span id="sick-leave-ent">Sick Leave Entitlements</span></a>
                    <li>
                        <a href="annual_bonus"><span id="annual-bonus-2">Annual Bonus</span></a>
                    </li>
                </ul>
                <div class="line-divide first-line"></div>
            </div>

            <div class="column-footer col-lg-3 col-md-3 col-sm-7">
                <h3><span id="other-links">Other Useful Links</span></h3>
                <ul id="useful-links">
                    <li>
                        <a href="minimum_wage"><span id="min-wage-3">Minimum Wage</span></a>
                    </li>
                    <li>
                        <a href="pay_rate_level"><span id="view-pay-rate-3">View Your Pay Rate Level</span></a>
                    </li>
                    <li>
                        <a href="pay_slip"><span id="pay-slip-3">Pay Slip</span></a>
                    </li>
                    <li>
                        <a href="annual_leave"><span id="annual-leave-3">Annual Leave Entitlements</span></a>
                    </li>
                </ul>
                <div class="line-divide second-line"></div>
            </div>
        </div>
    </div>
    <div class="wrap-bottom-footer">
        <div class="container">
            <div class="bottom-footer row justify-content-between">
                <div class="col-12 col-sm-7">© <span id="copy-right">2019 KnowYourRights. All rights reserved.</span></div>
                <div class="col-12 col-sm-5"><span id="privacy-pol">Privacy Policy</span>
                    <span id="terms-of-use">Terms of use</span></div>
            </div>
        </div>
    </div>
</footer>
<%include back_top.ejs%>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script src="routes/scroll.js"></script>-->
<script>
    var dataReload = document.querySelectorAll("[data-reload]");

    //Language translations
    var language = {
        au:{
            welcome: "Welcome to KnowYourRights",
            home: "Home",
            minwage: "Minimum Wage"
        },
        cn:{
            welcome: "欢迎来到KnowYourRights",
            home: "主页",
            minwage: "最低工资"
        }
    };

    function translate_cn() {
        document.getElementById("nav_home").textContent = "主页";
        document.getElementById("navbarDropdown").textContent = "员工权利";
        document.getElementById("navbar1").textContent = "关于您的薪水";
        document.getElementById("myfont_1").textContent = "最低工资";
        document.getElementById("myfont_2").textContent = "工资单";
        document.getElementById("myfont_3").textContent = "退休金";
        document.getElementById("myfont_4").textContent = "工作时间";
        document.getElementById("myfont_5").textContent = "年度奖金";
        document.getElementById("myfont_6").textContent = "快速资讯";
        document.getElementById("myfont_20").textContent = "薪资和工作分析";
        document.getElementById("navbar2").textContent = "关于您的假期";
        document.getElementById("myfont_8").textContent = "年假权利";
        document.getElementById("myfont_9").textContent = "病假权利";
        document.getElementById("myfont_10").textContent = "快速资讯";
        document.getElementById("myfont_21").textContent = "带薪休假分析";
        document.getElementById("navbar3").textContent = "关于您的合同";
        document.getElementById("myfont_12").textContent = "合同信息";
        document.getElementById("myfont_13").textContent = "工业行动";
        document.getElementById("myfont_14").textContent = "冗余";
        document.getElementById("myfont_15").textContent = "辞职";
        document.getElementById("myfont_16").textContent = "不公平解雇案";
        document.getElementById("myfont_17").textContent = "不公平解雇";
        document.getElementById("myfont_18").textContent = "快速资讯";
        document.getElementById("myfont_22").textContent = "损伤分析";
        document.getElementById("myfont_23").textContent = "外部链接";
        document.getElementById("page2-entitlement").textContent = "政府链接和热线电话";
        document.getElementById("min_wage").textContent = "最低工资";
        document.getElementById("text1").textContent = "某些雇员的工资待遇可能会有所不同，具体取决于他们是否因残障而工作能力下降，年龄在21岁以下，或者是学徒或受训者。";
        document.getElementById("t1").textContent = "有关这些员工工资的更多信息，请访问：";
        document.getElementById("link1").textContent = "残疾员工支付费用";
        document.getElementById("link2").textContent = "初级工资率";
        document.getElementById("link3").textContent = "学徒和实习生支付费用";
        document.getElementById("text2").textContent = "如果您对工资税的影响有疑问，请联系";
        document.getElementById("link4").textContent = "澳大利亚税务局";
        document.getElementById("link5").textContent = "\n" +
            "内政部网站";

        document.getElementById("head1").textContent = "工作时间信息";
        document.getElementById("text3").textContent = "\n" +
            "大多数学生签证允许您在课程学习期间每两周最多工作40个小时，\n" +
            "        在任何计划的课程休息期间不受限制的时间，\n" +
            "        但是在您从事任何有偿工作之前，您需要确保签证允许您工作。";
        document.getElementById("text4").textContent = "在以下链接中查找更多信息";
        document.getElementById("link5").textContent = "内政部网站。";
        document.getElementById("pay").textContent = "工资单和记录保存";
        document.getElementById("text5").textContent = "在任何规模的企业中，保持记录对于成功都是至关重要的。\n" +
            "        记录保存和工资单义务确保员工获得正确的工资和权利。";
        document.getElementById("text6").textContent = "查看以下链接，了解工资单上必须包含的内容，并找到我们的工资单模板。";
        document.getElementById("link6").textContent = "工资单页面";
        document.getElementById("income").textContent = "收入报表";
        document.getElementById("text7").textContent = "一些雇主需要向澳大利亚税务局（ATO）报告工资信息的方式已经发生了变化。这包括付款，例如：";
        document.getElementById("list1").textContent = "工资薪金";
        document.getElementById("list2").textContent = "即付即用（PAYG）预扣款";
        document.getElementById("list3").textContent = "退休金信息";
        document.getElementById("text8").textContent = "此报告更改称为单点薪资（STP）";
        document.getElementById("text9").textContent = "如果雇主使用STP进行报告，则不必向员工提供年末付款摘要。员工的年末付款摘要（现称为损益表）将通过其myGov帐户提供。\n" +
            "转到ATO的网站以了解有关以下内容的更多信息：";
        document.getElementById("link7").textContent = "单点工资单";
        document.getElementById("tax").textContent = "税收和养老金";
        document.getElementById("text10").textContent = "有关您的税金的问题，请致电13 28 61或联系ATO。";
        document.getElementById("link8").textContent = "访问他们的网站";
        document.getElementById("super").textContent = "退休金保证";
        document.getElementById("text11").textContent = "在退休金保证下，\n" +
            "        在以下情况下，雇主必须支付雇员正常时间收入的9.5％的退休金：";
        document.getElementById("text12").textContent = "当雇员在一个月内获得税前$ 450或以上的报酬是：";
        document.getElementById("list4").textContent = "超过18年，或";

        document.getElementById("list5").textContent = "未满18岁，每周工作30小时以上";
        document.getElementById("text13").textContent = "这适用于全职和兼职雇员以及一些临时雇员，包括临时居民。";
        document.getElementById("text14").textContent = "至少每3个月将退休金存入员工的指定帐户中。";
        document.getElementById("text15").textContent = "有关退休金保证的更多信息，请致电13 10 20与ATO联系，或访问";
        document.getElementById("link9").textContent = "ATO网站";
        document.getElementById("quick-link").textContent = "快速链接";
        document.getElementById("working-hours-2").textContent = "工作时间";
        document.getElementById("super-ann").textContent = "退休金";
        document.getElementById("sick-leave-ent").textContent = "病假权利";
        document.getElementById("annual-bonus-2").textContent = "年度奖金";
        document.getElementById("pay-raise-2").textContent = "加薪";
        document.getElementById("other-links").textContent = "其他有用的链接";
        document.getElementById("min-wage-3").textContent = "最低工资";
        document.getElementById("view-pay-rate-3").textContent = "查看您的工资水平";
        document.getElementById("pay-slip-3").textContent = "工资单";
        document.getElementById("annual-leave-3").textContent = "年假权利";
        document.getElementById("copy-right").textContent = "2019年KnowYourRights。版权所有。";
        document.getElementById("privacy-pol").textContent = "隐私政策";
        document.getElementById("terms-of-use").textContent = "使用条款";


    }
    function translate_au() {
        document.getElementById("nav_home").textContent = "Home";
        document.getElementById("navbarDropdown").textContent = "Employee Entitlement";
        document.getElementById("navbar1").textContent = "About Your Pay";
        document.getElementById("myfont_1").textContent = "Minimum Wage";
        document.getElementById("myfont_2").textContent = "Pay Slip";
        document.getElementById("myfont_3").textContent = "Superannuation";
        document.getElementById("myfont_4").textContent = "Working Hours";
        document.getElementById("myfont_5").textContent = "Annual Bonus";
        document.getElementById("myfont_6").textContent = "Quick Info";
        document.getElementById("myfont_20").textContent = "Salary&Job Analysis";
        document.getElementById("navbar2").textContent = "About Your leave";
        document.getElementById("myfont_8").textContent = "Annual Leave Entitlements";
        document.getElementById("myfont_9").textContent = "Sick Leave Entitlements";
        document.getElementById("myfont_10").textContent = "Quick Info";
        document.getElementById("myfont_21").textContent = "Paid Leave Analysis";
        document.getElementById("navbar3").textContent = "About Your Contract";
        document.getElementById("myfont_12").textContent = "Contract Information";
        document.getElementById("myfont_13").textContent = "industrial Action";
        document.getElementById("myfont_14").textContent = "Redundancy";
        document.getElementById("myfont_15").textContent = "Resignation";
        document.getElementById("myfont_16").textContent = "Unfair Dismissal Case";
        document.getElementById("myfont_17").textContent = "Unfair Dismissal";
        document.getElementById("myfont_18").textContent = "Quick Info";
        document.getElementById("myfont_22").textContent = "Injury Analysis";
        document.getElementById("myfont_23").textContent = "External Links";
        document.getElementById("page2-entitlement").textContent = "Government Links and Helplines";
        document.getElementById("min_wage").textContent = "Minimum Wage";
        document.getElementById("text1").textContent = "Certain employees may have different pay entitlements depending on whether they have a reduced work capacity because of disability, if they're under the age of 21 or if they are an apprentice or trainee.";
        document.getElementById("t1").textContent = "For more information about pay for these employees, visit:";
        document.getElementById("link1").textContent = "Employees with disability pay rates";
        document.getElementById("link2").textContent = "Junior Pay rates";
        document.getElementById("link3").textContent = "Apprentice and trainee pay rates";
        document.getElementById("text2").textContent = "If you have questions about how much tax comes out of a pay rate, please contact the";
        document.getElementById("link4").textContent = "Australian taxation Office";
        document.getElementById("head1").textContent = "Working Hours Information";
        document.getElementById("text3").textContent = "Most student visas allow you to work for up to 40 hours every two weeks while your course is in session,\n" +
            "        and unrestricted hours during any scheduled course break,\n" +
            "        but before you undertake any paid work you need to make sure your visa allows you to work.";
        document.getElementById("text4").textContent = "Find out more information at the following link.";
        document.getElementById("link5").textContent = "Department of Home Affairs website.";
        document.getElementById("pay").textContent = "Pay Slips and Record-Keeping";
        document.getElementById("text5").textContent = "In any business, large or small, record-keeping is vital to success.\n" +
            "        Record-keeping and pay slip obligations ensure employees receive correct wages and entitlements.";
        document.getElementById("text6").textContent = "Check out the following link to learn what has to be included on pay slips and find our pay slip template.";
        document.getElementById("link6").textContent = "Pay Slips page";
        document.getElementById("income").textContent = "Income Statements";
        document.getElementById("text7").textContent = "There have been changes to the way some employers need to report payroll information to the Australian Taxation Office (ATO). This includes payments such as:";
        document.getElementById("list1").textContent = "salaries and wages";
        document.getElementById("list2").textContent = "pay as you go (PAYG) withholding";
        document.getElementById("list3").textContent = "superannuation information";
        document.getElementById("text8").textContent = "This reporting change is called Single Touch Payroll (STP)";
        document.getElementById("text9").textContent = "If an employer reports using STP, they don't have to give employees an end-of-year payment summary. An employee’s end-of-year payment summary - now called an income statement - will be available through their myGov account. \n" +
            "Go to the ATO’s website to learn more about:";
        document.getElementById("link7").textContent = "Single Touch Payroll";
        document.getElementById("tax").textContent = "Tax & Superannuation";
        document.getElementById("text10").textContent = "For questions about your tax contact the ATO on 13 28 61 or";
        document.getElementById("link8").textContent = "Visit Their Website";
        document.getElementById("super").textContent = "Superannuation Guarantee";
        document.getElementById("text11").textContent = "Under the superannuation guarantee,\n" +
            "        employers have to pay superannuation contributions of 9.5%  of an employee's ordinary time earnings if:";
        document.getElementById("text12").textContent = "when an employee is paid $450 or more before tax in a month and is:";
        document.getElementById("list4").textContent = "over 18 years, or";
        document.getElementById("list5").textContent = "under 18 years and works over 30 hours a week";
        document.getElementById("text13").textContent = "This applies to full-time and part-time employees and some casual employees, and includes temporary residents.";
        document.getElementById("text14").textContent = "Superannuation has to be paid at least every 3 months, into the employee's nominated account.";
        document.getElementById("text15").textContent = "For more information about the superannuation guarantee, contact the ATO on 13 10 20 or, visit the";
        document.getElementById("link9").textContent = "ATO Website";
        document.getElementById("quick-link").textContent = "Quick Links";
        document.getElementById("working-hours-2").textContent = "Working Hours";
        document.getElementById("super-ann").textContent = "Superannuation";
        document.getElementById("sick-leave-ent").textContent = "Sick Leave Entitlements";
        document.getElementById("annual-bonus-2").textContent = "Annual Bonus";
        document.getElementById("pay-raise-2").textContent = "Pay Raise";
        document.getElementById("other-links").textContent = "Other Useful Links";
        document.getElementById("min-wage-3").textContent = "Minimum Wage";
        document.getElementById("view-pay-rate-3").textContent = "View Your Pay Rate Level";
        document.getElementById("pay-slip-3").textContent = "Pay Slip";
        document.getElementById("annual-leave-3").textContent = "Annual Leave Entitlements";
        document.getElementById("copy-right").textContent = "2019 KnowYourRights. All rights reserved.";
        document.getElementById("privacy-pol").textContent = "Privacy Policy";
        document.getElementById("terms-of-use").textContent = "Terms of Use";
    }
</script>
</body>
</html>