<footer>
    <div class="container">
        <div class="content-footer row">
            <!--
                            <div class="column-footer col-lg-5 col-md-8 col-sm-7">
                                <h3>Contact information</h3>
                                <ul>
                                    <li>ADDRESS:</li>
                                    <li>900 Dandenong Road</li>
                                    <li>Caulfield East, VIC</li>
                                    <li>3145</li>
                                </ul>
                            </div>
            -->

            <div class="column-footer col-lg-6 col-md-6 col-sm-6">
                <h3>Quick Links</h3>
                <ul id="restaurant-hours">
                    <li>
                        <a href="pay_raise_visu">Pay Raise</a>
                    </li>
                    <li>
                        <a href="working_hour"> Working Hours</a>
                    </li>
                    <li>
                        <a href="superannuation">Superannuation</a>
                    </li>
                    <li>
                        <a href="sick_leave">Sick Leave entitlements</a>
                    <li>
                        <a href="annual_bonus">Annual Bonus</a>
                    </li>
                </ul>
                <div class="line-divide first-line"></div>
            </div>

            <div class="column-footer col-lg-3 col-md-3 col-sm-7">
                <h3>Other Useful links</h3>
                <ul id="useful-links">
                    <li>
                        <a href="minimum_wage">Minimum Wage</a>
                    </li>
                    <li>
                        <a href="pay_rate_level">View your pay rate level</a>
                    </li>
                    <li>
                        <a href="pay_slip">Pay Slip</a>
                    </li>
                    <li>
                        <a href="annual_leave">Annual Leave Entitlements</a>
                    </li>
                </ul>
                <div class="line-divide second-line"></div>
            </div>
        </div>
    </div>
    <div class="wrap-bottom-footer">
        <div class="container">
            <div class="bottom-footer row justify-content-between">
                <div class="col-12 col-sm-7">© 2019 KnowYourRights. All rights reserved.</div>
                <div class="col-12 col-sm-5"><span>Privacy policy</span>
                    <span>Terms of use</span></div>
            </div>
        </div>
    </div>
</footer>