<footer>
    <div class="container">
        <div class="content-footer row">
            <div class="column-footer col-lg-6 col-md-6 col-sm-6">
                <h3><span id="quick-link">Quick Links</span></h3>
                <ul id="restaurant-hours">
                    <li>
                        <a href="pay_raise_visu"><span id="pay-raise-2">Pay Raise</span></a>
                    </li>
                    <li>
                        <a href="working_hour"> <span id="working-hours-2">Working Hours</span></a>
                    </li>
                    <li>
                        <a href="superannuation"><span id="super-ann">Superannuation</span></a>
                    </li>
                    <li>
                        <a href="sick_leave"><span id="sick-leave-ent">Sick Leave Entitlements</span></a>
                    <li>
                        <a href="annual_bonus"><span id="annual-bonus-2">Annual Bonus</span></a>
                    </li>
                </ul>
                <div class="line-divide first-line"></div>
            </div>

            <div class="column-footer col-lg-3 col-md-3 col-sm-7">
                <h3><span id="other-links">Other Useful Links</span></h3>
                <ul id="useful-links">
                    <li>
                        <a href="minimum_wage"><span id="min-wage-3">Minimum Wage</span></a>
                    </li>
                    <li>
                        <a href="pay_rate_level"><span id="view-pay-rate-3">View Your Pay Rate Level</span></a>
                    </li>
                    <li>
                        <a href="pay_slip"><span id="pay-slip-3">Pay Slip</span></a>
                    </li>
                    <li>
                        <a href="annual_leave"><span id="annual-leave-3">Annual Leave Entitlements</span></a>
                    </li>
                </ul>
                <div class="line-divide second-line"></div>
            </div>
        </div>
    </div>
    <div class="wrap-bottom-footer">
        <div class="container">
            <div class="bottom-footer row justify-content-between">
                <div class="col-12 col-sm-7">© <span id="copy-right">2019 KnowYourRights. All rights reserved.</span></div>
                <div class="col-12 col-sm-5"><span id="privacy-pol">Privacy Policy</span>
                    <span id="terms-of-use">Terms of use</span></div>
            </div>
        </div>
    </div>
</footer>