<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
    <div class="container">
        <a class="navbar-brand-sharon" href="/">
            <div class = "logo-image">
                <img src="images/logo.png" class="img-fluid">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!--
                          <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                              <span class="sr-only">(current)</span>
                            </a>
                          </li>
                -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <span class="oi oi-home" title="home" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-home" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-employee" href="#entitlement">Employee Entitlement
                        <span id="nav-separator">|</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-en" href="#au"><span class="flag-icon flag-icon-au"> </span>
                        <span id="nav-separator">English</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-en" href="#cn"><span class="flag-icon flag-icon-cn" id="nav-separator"> </span>
                        <span id="nav-separator">中文</span></a>
                </li>

                <!--        <li class="nav-item">-->
                <!--          <a class="nav-link nav-link-translate" id="google_translate_element" href="#entitlement">Translate</a>-->
                <!--        </li>-->
                <!--
                          <li class="nav-item">
                            <a class="nav-link" id="nav-link-sharon" href="#">About</a>
                          </li>
                -->
            </ul>
        </div>
    </div>
</nav>