<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome to knowyourrights</title>

  <!-- Bootstrap core CSS -->
  <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <link href="css/scroll.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body style="background-color: #f0f0f0;">
<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
  <div class="container">
    <a class="navbar-brand-sharon" href="/">
      <div class = "logo-image">
        <img src="images/logo.png" class="img-fluid">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" id="nav-link-home" href="/"><span id="homenav">Home</span></a>-->
<!--        </li>-->
        <div id="menu_area" class="menu-area">
          <div class="container">
            <div class="row">
              <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li><a id="nav_home" href="/" style="font-family: Josefin Sans;">Home</a></li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" href="#" style="font-family:Josefin Sans;" id="navbarDropdown_emp" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Employee Entitlements</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown">
                          <a class="dropdown-toggle" href="#" id="navbarDropdown_pay" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Pay</span></a>
                          <ul class="dropdown-menu" style="font-family:Josefin Sans;" aria-labelledby="navbarDropdown_pay_under">
                            <li ><a  id="myfont_1" href="minimum_wage">Minimum Wage</a></li>
                            <li><a  id="myfont_2" href="pay_slip">Pay Slip</a></li>
                            <li><a id="myfont_3"  href="superannuation">Superannuation</a></li>
                            <li><a id="myfont_4"  href="working_hour">Working Hours</a></li>
                            <li><a id="myfont_5" href="annual_bonus">Annual Bonus</a></li>
                            <li><a id="myfont_20" href="pay_raise_visu">Salary&Job Analysis</a></li>
                            <li><a id="myfont_6" href="infographics_epic1">Quick Info</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="dropdown-toggle" href="#" id="navbarDropdown_leave" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Leave</span></a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a id="myfont_8" href="annual_leave">Annual Leave Entitlements</a></li>
                            <li><a id="myfont_9" href="sick_leave">Sick Leave Entitlements</a></li>
                            <li>
                              <a id="myfont_21" href="pay_rate_level">Paid Leave Analysis</a>
                            </li>
                            <li>
                              <a id="myfont_10" href="infographic_epic2">Quick Info</a>
                            </li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a class="dropdown-toggle" href="#" id="navbarDropdown_contract" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Contract</span></a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                              <a id="myfont_12" href="contract_termination">Contract Termination</a>
                            </li>
                            <li>
                              <a id="myfont_13" href="industrial_action">Industrial Action</a>
                            </li>
                            <li>
                              <a id="myfont_14" href="redundancy">Redundancy</a>
                            </li>
                            <li>
                              <a id="myfont_15" href="resignation">Resignation</a>
                            </li>
                            <li>
                              <a id="myfont_16" href="unfair_dismissal_case">Unfair Dismissal Case</a>
                            </li>
                            <li>
                              <a id="myfont_17" href="unfair_dismissal">Unfair Dismissal</a>
                            </li>
                            <li>
                              <a id="myfont_22" href="injury_visualisation">Injury Analysis</a>
                            </li>
                            <li>
                              <a id="myfont_18" href="infographic_epic3">Quick Info</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a id="myfont_23" href="external_links">External Links</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-au" href="#au" data-reload onclick="translate_au(); delete_motive_ch();">
            <span class="flag-icon flag-icon-au"> </span>
            <span id="nav-separator">English</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-au" href="#cn" data-reload onclick="translate_cn(); delete_motive_au();">
            <span class="flag-icon flag-icon-cn" id="nav-separator"></span>
            <span id="nav-separator">中文</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="title-div-sharon">
  <p class="title-sharon"><span id="international-st">For International Students</span>
    <span id="know-entitle">Know Your Working Entitlements</span></p>
</div>
<div class="container-fluid">
  <section id="section03" class="demo">
    <a href="#entitlement"><span></span></a>
  </section>
</div>
<!-- Page Content -->
<div class="parallax">
</div>
<div class="container-fluid" id="entitlement">
  <span id="page2-entitlement" style="color:black;">EMPLOYEE ENTITLEMENT</span>
</div>
<div class="container-fluid">
  <div id="rectangle"></div>
</div>
<div class="container">
  <div class="row">
<!--    style="text-align: center"-->
    <div class="col-4" style="text-align: center">
      <span id="about-your-pay" style="font-weight: bold; font-family: 'Architects Daughter', cursive;">About Your Pay</span>
      <a href="#">
        <img class="img img-fluid" src="images/home1.png" alt="Pay">
      </a>
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="story1" style="font-family: 'Architects Daughter', cursive;">Storyboards</span>
          </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="minimum_wage"><span id="minwage" style="font-family: 'Architects Daughter', cursive;">Minimum Wage</span></a>
              <a class="dropdown-item" href="pay_slip"><span id="pay-slip" style="font-family: 'Architects Daughter', cursive;">Pay Slip</span></a>
              <a class="dropdown-item" href="superannuation"><span id="super-an" style="font-family: 'Architects Daughter', cursive;">Superannuation</span></a>
              <a class="dropdown-item" href="working_hour"><span id="working-hrs" style="font-family: 'Architects Daughter', cursive;">Working Hours</span></a>
              <a class="dropdown-item" href="annual_bonus"><span id="annual-bonus" style="font-family: 'Architects Daughter', cursive;">Annual Bonus</span></a>
              <a class="dropdown-item" href="infographics_epic1"><span id="infograph1" style="font-family: 'Architects Daughter', cursive;">Quick Info</span></a>
            </div>
            <a class="btn btn-secondary" href="pay_raise_visu" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
              <span id="myfont_6" style="font-family: 'Architects Daughter', cursive;">Salary&Job Analysis</span>
            </a>
        </div>
    </div>
    <!--  style="text-align: center"-->
    <div class="col-4" style="text-align: center">
        <span id="about-your-leave" style="font-weight: bold; font-family: 'Architects Daughter', cursive;">About Your Leave</span>
        <a href="#">
          <img class="img img-fluid" src="images/home2.png" alt="Leave">
        </a>
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="story2" style="font-family: 'Architects Daughter', cursive;">Storyboards</span></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="annual_leave"><span id="annual-leave-entitle" style="font-family: 'Architects Daughter', cursive;">Annual Leave Entitlements</span></a>
            <a class="dropdown-item" href="sick_leave"><span id="sick-leave-entitle" style="font-family: 'Architects Daughter', cursive;">Sick Leave Entitlements</span></a>
            <a class="dropdown-item" href="infographic_epic2"><span id="infograph2" style="font-family: 'Architects Daughter', cursive;">Quick Info</span></a>
          </div>
        <a class="btn btn-secondary" href="pay_rate_level" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
          <span id="myfont_11" style="font-family: 'Architects Daughter', cursive;">Paid Leave Analysis</span>
        </a>
        </div>
    </div>
    <div class="col-4" style="text-align: center">
        <span id="about-your-workplace" style="font-weight: bold; font-family: 'Architects Daughter', cursive;">About Your Contract</span>
        <a href="#">
          <img class="img img-fluid" src="images/home3.png" alt="Leave">
        </a>
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="story3" style="font-family: 'Architects Daughter', cursive;">Storyboards</span></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="contract_termination"><span id="contract_termination" style="font-family: 'Architects Daughter', cursive;">Contract Termination</span></a>
            <a class="dropdown-item" href="industrial_action"><span id="ind_act" style="font-family: 'Architects Daughter', cursive;">Industrial Action</span></a>
            <a class="dropdown-item" href="redundancy"><span id="red" style="font-family: 'Architects Daughter', cursive;">Redundancy</span></a>
            <a class="dropdown-item" href="resignation"><span id="resignation" style="font-family: 'Architects Daughter', cursive;">Resignation</span></a>
            <a class="dropdown-item" href="unfair_dismissal_case"><span id="udc" style="font-family: 'Architects Daughter', cursive;">Unfair Dismissal Case</span></a>
            <a class="dropdown-item" href="unfair_dismissal"><span id="ud" style="font-family: 'Architects Daughter', cursive;">Unfair Dismissal</span></a>
            <a class="dropdown-item" href="infographic_epic3"><span id="infograph3" style="font-family: 'Architects Daughter', cursive;">Quick Info</span></a>
          </div>
          <a class="btn btn-secondary" href="injury_visualisation" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
            <span id="myfont_19" style="font-family: 'Architects Daughter', cursive;">Injury Analysis</span>
          </a>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12" style="text-align: center">
      <span id="page2-motive"style="color:black;">Our Motive</span>
    </div>
  </div>
</div>
<!--<div class="container-fluid" id="aboutus">-->
<!--  -->
<!--</div>-->
<div class="container">
  <div id="rectangle"></div>
</div>
<div class="container" id="motive-original">
  <div class="row" id="motive-au-1">
    <div class="col-6">
      <img src="images/ABOUT_US/About_us_1.png" alt="about1" style="width:100%">
    </div>
    <div class="col-6">
      <img src="images/ABOUT_US/About_us_2.png" alt="about2" style="width:100%">
    </div>
  </div>
  <div class="row" id="motive-au-2">
    <div class="col-6">
      <img src="images/ABOUT_US/About_us_3.png" alt="about3" style="width:100%">
    </div>
    <div class="col-6">
      <img src="images/ABOUT_US/About_us_4.jpg" alt="about4" style="width:100%">
    </div>
  </div>
</div>
  <!-- FOOTER CODE -->

  <footer>
    <div class="container">
      <div class="content-footer row">
        <div class="column-footer col-lg-6 col-md-6 col-sm-6">
          <h3><span id="quick-link">Quick Links</span></h3>
          <ul id="restaurant-hours">
            <li>
              <a href="pay_raise_visu"><span id="pay-raise-2">Pay Raise</span></a>
            </li>
            <li>
              <a href="working_hour"> <span id="working-hours-2">Working Hours</span></a>
            </li>
            <li>
              <a href="superannuation"><span id="super-ann">Superannuation</span></a>
            </li>
            <li>
              <a href="sick_leave"><span id="sick-leave-ent">Sick Leave Entitlements</span></a>
            <li>
              <a href="annual_bonus"><span id="annual-bonus-2">Annual Bonus</span></a>
            </li>
          </ul>
          <div class="line-divide first-line"></div>
        </div>

        <div class="column-footer col-lg-3 col-md-3 col-sm-7">
          <h3><span id="other-links">Other Useful Links</span></h3>
          <ul id="useful-links">
            <li>
              <a href="minimum_wage"><span id="min-wage-3">Minimum Wage</span></a>
            </li>
            <li>
              <a href="pay_rate_level"><span id="view-pay-rate-3">View Your Pay Rate Level</span></a>
            </li>
            <li>
              <a href="pay_slip"><span id="pay-slip-3">Pay Slip</span></a>
            </li>
            <li>
              <a href="annual_leave"><span id="annual-leave-3">Annual Leave Entitlements</span></a>
            </li>
          </ul>
          <div class="line-divide second-line"></div>
        </div>
      </div>
    </div>
    <div class="wrap-bottom-footer">
      <div class="container">
        <div class="bottom-footer row justify-content-between">
          <div class="col-12 col-sm-7">© <span id="copy-right">2019 KnowYourRights. All rights reserved.</span></div>
          <div class="col-12 col-sm-5"><span id="privacy-pol">Privacy Policy</span>
            <span id="terms-of-use">Terms of use</span></div>
        </div>
      </div>
    </div>
  </footer>

<!-- FOOTER CODE END-->
<%include back_top.ejs%>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script src="routes/scroll.js"></script>-->
<!--<script>-->
<!--  $(document).ready(function(){-->
<!--    $('.dropdown-submenu a.test').on("click", function(e){-->
<!--      $(this).next('ul').toggle();-->
<!--      e.stopPropagation();-->
<!--      e.preventDefault();-->
<!--    });-->
<!--  });-->
<!--</script>-->
<script>
(function($){
$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
if (!$(this).next().hasClass('show')) {
$(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
}
var $subMenu = $(this).next(".dropdown-menu");
$subMenu.toggleClass('show');

$(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
$('.dropdown-submenu .show').removeClass("show");
});

return false;
});
})(jQuery)
</script>
<script>
  // var passwordGuess = window.prompt("Please enter a password");
  // if (passwordGuess != "squads") {
  //   document.body.innerHTML = "Wrong password, try again!";
  //   window.stop();
  // }

    var dataReload = document.querySelectorAll("[data-reload]");

    //Language translations
    var language = {
      au:{
        welcome: "Welcome to KnowYourRights",
        home: "Home",
        minwage: "Minimum Wage"
      },
      cn:{
        welcome: "欢迎来到KnowYourRights",
        home: "主页",
        minwage: "最低工资"
      }
    };
    function translate_cn() {
      document.getElementById("nav_home").textContent = "主页";
      document.getElementById("navbarDropdown_emp").textContent = "员工权益";
      document.getElementById("international-st").textContent = "对于国际学生";
      document.getElementById("know-entitle").textContent = "了解您的工作权利";




      document.getElementById("nav-link-employee").textContent = "员工权利";

      document.getElementById("know-entitle").textContent = "了解你的工作权利";
      document.getElementById("page2-entitlement").textContent = "员工权利";
      document.getElementById("about-your-pay").textContent = "支付权利";
      document.getElementById("story1").textContent = "故事板";
      document.getElementById("minwage").textContent = "最低工资";
      document.getElementById("pay-slip").textContent = "支付单";
      document.getElementById("super-an").textContent = "退休金";
      document.getElementById("working-hrs").textContent = "工作时间";
      document.getElementById("annual-bonus").textContent = "年度奖金";
      document.getElementById("infograph1").textContent = "信息图";
      document.getElementById("infograph2").textContent = "信息图";
      document.getElementById("infograph3").textContent = "信息图";
      document.getElementById("visu1").textContent = "可视化";
      document.getElementById("about-your-leave").textContent = "休假权利";
      document.getElementById("story2").textContent = "故事板";
      document.getElementById("annual-leave-entitle").textContent = "年假权利";
      document.getElementById("sick-leave-entitle").textContent = "病假权利";
      document.getElementById("visu2").textContent = "可视化";
      document.getElementById("about-your-workplace").textContent = "工作场所权益";
      document.getElementById("story3").textContent = "故事板";
      document.getElementById("contract_termination").textContent = "合同终止";
      document.getElementById("ind_act").textContent = "工业行动";
      document.getElementById("red").textContent = "冗余";
      document.getElementById("resignation").textContent = "辞职";
      document.getElementById("udc").textContent = "不公平解雇案";
      document.getElementById("ud").textContent = "不公平解雇";
      document.getElementById("visu3").textContent = "可视化";
      // document.getElementById("view-pay-rate").textContent = "查看您的工资水平";
      // document.getElementById("about-your-leave").textContent = "关于你的假期";
      // document.getElementById("pay-raise").textContent = "加薪";

      // document.getElementById("annual-leave-entitle").textContent = "年假权利";
      // document.getElementById("sick-leave-entitle").textContent = "病假权利";
      document.getElementById("page2-motive").textContent = "我们的动机";
      document.getElementById("quick-link").textContent = "快速链接";
      document.getElementById("pay-raise-2").textContent = "加薪";
      document.getElementById("working-hours-2").textContent = "工作时间";
      document.getElementById("super-ann").textContent = "养老金";
      document.getElementById("sick-leave-ent").textContent = "病假权利";
      document.getElementById("annual-bonus-2").textContent = "年度奖金";
      document.getElementById("other-links").textContent = "其他有用的链接";
      document.getElementById("min-wage-3").textContent = "最低工资";
      document.getElementById("view-pay-rate-3").textContent = "查看您的工资水平";
      document.getElementById("pay-slip-3").textContent = "工资单";
      document.getElementById("annual-leave-3").textContent = "年假权利";
      document.getElementById("copy-right").textContent = "2019年KnowYourRights。版权所有。";
      document.getElementById("privacy-pol").textContent = "隐私政策";
      document.getElementById("terms-of-use").textContent = "使用条款";


    }
    function translate_au() {
      document.getElementById("nav_home").textContent = "Home";
      document.getElementById("navbarDropdown_emp").textContent = "Employee Entitlements";
      document.getElementById("international-st").textContent = "For International Students";
      document.getElementById("know-entitle").textContent = "Know Your Working Entitlements";



      document.getElementById("nav-link-employee").textContent = "Employee Entitlement";


      document.getElementById("page2-entitlement").textContent = "EMPLOYEE ENTITLEMENT";
      document.getElementById("about-your-pay").textContent = "Pay Entitlements";
      document.getElementById("story1").textContent = "Storyboards";
      document.getElementById("minwage").textContent = "Minimum Wage";
      document.getElementById("pay-slip").textContent = "Pay Slip";
      document.getElementById("super-an").textContent = "Superannuation";
      document.getElementById("working-hrs").textContent = "Working Hours";
      document.getElementById("annual-bonus").textContent = "Annual Bonus";
      document.getElementById("infograph1").textContent = "Infographic";
      document.getElementById("infograph2").textContent = "Infographic";
      document.getElementById("infograph3").textContent = "Infographic";
      document.getElementById("visu1").textContent = "Visualisation";
      document.getElementById("about-your-leave").textContent = "Leave Entitlements";
      document.getElementById("story2").textContent = "故事板";
      document.getElementById("annual-leave-entitle").textContent = "Annual Leave Entitlements";
      document.getElementById("sick-leave-entitle").textContent = "Sick Leave Entitlements";
      document.getElementById("visu2").textContent = "Visualisation";
      document.getElementById("about-your-workplace").textContent = "Workplace Entitlements";
      document.getElementById("story3").textContent = "Storyboards";
      document.getElementById("contract_termination").textContent = "Contract Termination";
      document.getElementById("ind_act").textContent = "Industrial Action";
      document.getElementById("red").textContent = "Redundancy";
      document.getElementById("resignation").textContent = "Resignation";
      document.getElementById("udc").textContent = "Unfair Dismissal Case";
      document.getElementById("ud").textContent = "Unfair Dismissal";
      document.getElementById("visu3").textContent = "Visualisation";
      // document.getElementById("view-pay-rate").textContent = "View Your Pay Rate Level";
      // document.getElementById("about-your-leave").textContent = "About Your Leave";
      // document.getElementById("pay-raise").textContent = "Pay Raise";

      // document.getElementById("annual-leave-entitle").textContent = "Annual Leave Entitlements";
      // document.getElementById("sick-leave-entitle").textContent = "Sick Leave Entitlements";
      document.getElementById("page2-motive").textContent = "Our Motive";
      document.getElementById("quick-link").textContent = "Quick Links";
      document.getElementById("pay-raise-2").textContent = "Pay Raise";
      document.getElementById("working-hours-2").textContent = "Working Hours";
      document.getElementById("super-ann").textContent = "Superannuation";
      document.getElementById("sick-leave-ent").textContent = "Sick Leave Entitlements";
      document.getElementById("annual-bonus-2").textContent = "Annual Bonus";
      document.getElementById("other-links").textContent = "Other Useful Links";
      document.getElementById("min-wage-3").textContent = "Minimum Wage";
      document.getElementById("view-pay-rate-3").textContent = "View Your Pay Rate Level";
      document.getElementById("pay-slip-3").textContent = "Pay Slip";
      document.getElementById("annual-leave-3").textContent = "Annual Leave Entitlements";
      document.getElementById("copy-right").textContent = "2019 KnowYourRights. All rights reserved.";
      document.getElementById("privacy-pol").textContent = "Privacy Policy";
      document.getElementById("terms-of-use").textContent = "Terms of Use";
    }

    function delete_motive_ch(){
        let element_1 = document.getElementById("motive-au-1");
        let element_2 = document.getElementById("motive-au-2");
        element_1.parentNode.removeChild(element_1);
        element_2.parentNode.removeChild(element_2);
        document.getElementById("motive-original").innerHTML = "  <div class=\"row\" id=\"motive-au-1\">\n" +
            "    <div class=\"col-6\">\n" +
            "      <img src=\"images/about1.png\" alt=\"about1\" style=\"width:100%\">\n" +
            "    </div>\n" +
            "    <div class=\"col-6\">\n" +
            "      <img src=\"images/about2.png\" alt=\"about2\" style=\"width:100%\">\n" +
            "    </div>\n" +
            "  </div>\n" +
            "  <div class=\"row\" id=\"motive-au-2\">\n" +
            "    <div class=\"col-6\">\n" +
            "      <img src=\"images/about3.png\" alt=\"about3\" style=\"width:100%\">\n" +
            "    </div>\n" +
            "    <div class=\"col-6\">\n" +
            "      <img src=\"images/about4.png\" alt=\"about4\" style=\"width:100%\">\n" +
            "    </div>\n" +
            "  </div>";
    }

    function delete_motive_au(){
      let element_1 = document.getElementById("motive-au-1");
      let element_2 = document.getElementById("motive-au-2");
      element_1.parentNode.removeChild(element_1);
      element_2.parentNode.removeChild(element_2);
      document.getElementById("motive-original").innerHTML = "  <div class=\"row\" id=\"motive-au-1\">\n" +
              "    <div class=\"col-6\">\n" +
              "      <img src=\"images/about_us_cn/1.png\" alt=\"about1\" style=\"width:100%\">\n" +
              "    </div>\n" +
              "    <div class=\"col-6\">\n" +
              "      <img src=\"images/about_us_cn/2.png\" alt=\"about2\" style=\"width:100%\">\n" +
              "    </div>\n" +
              "  </div>\n" +
              "  <div class=\"row\" id=\"motive-au-2\">\n" +
              "    <div class=\"col-6\">\n" +
              "      <img src=\"images/about_us_cn/3.png\" alt=\"about3\" style=\"width:100%\">\n" +
              "    </div>\n" +
              "    <div class=\"col-6\">\n" +
              "      <img src=\"images/about_us_cn/4.png\" alt=\"about4\" style=\"width:100%\">\n" +
              "    </div>\n" +
              "  </div>";
    }


</script>
</body>
</html>
