<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome to KnowYourRights</title>

  <!-- Bootstrap core CSS -->
  <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <link href="css/scroll.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
  <link href="css/scroll.css" rel="stylesheet">
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
  <div class="container">
    <a class="navbar-brand-sharon" href="/">
      <div class = "logo-image">
        <img src="images/logo.png" class="img-fluid">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!--
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
        -->
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <span class="oi oi-home" title="home" aria-hidden="true"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-sharon" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-sharon" href="#entitlement">Employee Entitlement</a>
        </li>
        <!--
                  <li class="nav-item">
                    <a class="nav-link" id="nav-link-sharon" href="#">About</a>
                  </li>
        -->
      </ul>
    </div>
  </div>
</nav>
<div class="title-div-sharon">
  <p class="title-sharon"><span>For International Students</span>
    <span>Know Your Working Entitlements</span></p>
</div>
<div class="container-fluid">
  <section id="section03" class="demo">
    <a href="#entitlement"><span></span></a>
  </section>
</div>
<!-- Page Content -->
<div class="parallax">
</div>
<div class="container-fluid" id="entitlement">
  <span id="page2-entitlement">EMPLOYEE ENTITLEMENT</span>
</div>
<div class="container-fluid">
  <div id="rectangle"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <a href="#">
        <img class="img img-fluid" src="images/home1.png" alt="Pay">
      </a>
      <div class="container" id="info-pay">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About Your Pay
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="minimum_wage">Minimum Wage</a>
            <a class="dropdown-item" href="pay_slip">Pay Slip</a>
            <a class="dropdown-item" href="superannuation">Superannuation</a>
            <a class="dropdown-item" href="working_hour">Working Hours</a>
            <a class="dropdown-item" href="pay_rate_level">View you pay rate level</a>
          </div>
        </div>
        <!--
                          <span class="page-2-info-title">About Your Pay</span>
                          <ul class="b">
                              <li>Minimum Wage</li>
                              <li>Pay Slip</li>
                              <li>Superannuation</li>
                              <li>Working Hours</li>
                              <li>View Your Pay Rate Level</li>
                          </ul>
        -->
      </div>
    </div>
    <div class="col-4">
      <a href="#">
        <img class="img img-fluid" src="images/home2.png" alt="Leave">
      </a>
      <div class="container" id="info-leave">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About Your Leave
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="pay_raise_visu">Pay Raise</a>
            <a class="dropdown-item" href="/">Annual Bonus</a>
            <a class="dropdown-item" href="/">Annual Leave</a>
            <a class="dropdown-item" href="/">Leave Entitlements</a>
          </div>
        </div>

      </div>
    </div>
<!--    <div class="col-4">-->
<!--      <a href="#">-->
<!--        <img class="img img-fluid" src="images/home3.png" alt="Injury">-->
<!--      </a>-->
<!--      <div class="container" id="info-injury">-->
<!--        <div class="dropdown show">-->
<!--          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            About Your Workplace-->
<!--          </a>-->

<!--          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
<!--            <a class="dropdown-item" href="minimum_wage">Minimum Wage</a>-->
<!--            <a class="dropdown-item" href="pay_slip">Pay Slip</a>-->
<!--            <a class="dropdown-item" href="superannuation">Superannuation</a>-->
<!--            <a class="dropdown-item" href="working_hour">Working Hours</a>-->
<!--            <a class="dropdown-item" href="/">View you pay rate level</a>-->
<!--          </div>-->
<!--        </div></div>-->
<!--    </div>-->
  </div>
</div>
<div class="container-fluid" id="aboutus">
  <span id="page2-entitlement">Our Motive</span>
</div>
<div class="container-fluid">
  <div id="rectangle"></div>
</div>
<div class="row">
  <div class="column">
    <img src="images/1.png" alt="about1" style="width:100%">
  </div>
  <div class="column">
    <img src="images/2.png" alt="about2" style="width:100%">
  </div>
  <div class="column">
    <img src="images/3.png" alt="about3" style="width:100%">
  </div>
  <div class="column">
    <img src="images/4.png" alt="about4" style="width:100%">
  </div>
</div>
<footer>
  <div class="container">
    <div class="content-footer row">
      <!--
                      <div class="column-footer col-lg-5 col-md-8 col-sm-7">
                          <h3>Contact information</h3>
                          <ul>
                              <li>ADDRESS:</li>
                              <li>900 Dandenong Road</li>
                              <li>Caulfield East, VIC</li>
                              <li>3145</li>
                          </ul>
                      </div>
      -->

      <div class="column-footer col-lg-6 col-md-6 col-sm-6">
        <h3>Quick Links</h3>
        <ul id="restaurant-hours">
          <li>
            <a href="pay_raise_visu">Pay Raise</a>
          </li>
          <li>
            <a href="working_hour"> Working Hours</a>
          </li>
          <li>
            <a href="superannuation">Superannuation</a>
          </li>
          <li>
            <a href="/">Leave entitlements</a>
          <li>
            <a href="/">Annual Bonus</a>
          </li>
        </ul>
        <div class="line-divide first-line"></div>
      </div>

      <div class="column-footer col-lg-3 col-md-3 col-sm-7">
        <h3>Other Useful links</h3>
        <ul id="useful-links">
          <li>
            <a href="minimum_wage">Minimum Wage</a>
          </li>
          <li>
            <a href="pay_rate_level">View your pay rate level</a>
          </li>
          <li>
            <a href="pay_slip">Pay Slip</a>
          </li>
          <li>
            <a href="/">Annual Leave</a>
          </li>
        </ul>
        <div class="line-divide second-line"></div>
      </div>
    </div>
  </div>
  <div class="wrap-bottom-footer">
    <div class="container">
      <div class="bottom-footer row justify-content-between">
        <div class="col-12 col-sm-7">© 2019 KnowYourRights. All rights reserved.</div>
        <div class="col-12 col-sm-5"><span>Privacy policy</span>
          <span>Terms of use</span></div>
      </div>
    </div>
  </div>
</footer>
<%include back_top.ejs%>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="routes/scroll.js"></script>

</body>

</html>
