<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome to knowyourrights</title>

  <!-- Bootstrap core CSS -->
  <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <link href="css/scroll.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
  <link href="css/scroll.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
</head>

<body>
<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
  <div class="container">
    <a class="navbar-brand-sharon" href="/">
      <div class = "logo-image">
        <img src="images/logo.png" class="img-fluid">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <span class="oi oi-home" title="home" aria-hidden="true"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-home" href="/"><span id="homenav">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-employee" href="#entitlement">Employee Entitlement
            <span id="nav-separator">|</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-au" href="#au" onclick="translate_au()" data-reload>
            <span class="flag-icon flag-icon-au"></span>
            <span id="nav-separator-au">English</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-cn" href="#cn" onclick="translate_cn()" data-reload>
            <span class="flag-icon flag-icon-cn" id="nav-separator"></span>
            <span id="nav-separator-cn">中文</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="title-div-sharon">
  <p class="title-sharon"><span id="international-st">For International Students</span>
    <span id="know-entitle">Know Your Working Entitlements</span></p>
</div>
<div class="container-fluid">
  <section id="section03" class="demo">
    <a href="#entitlement"><span></span></a>
  </section>
</div>
<!-- Page Content -->
<div class="parallax">
</div>
<div class="container-fluid" id="entitlement">
  <span id="page2-entitlement">EMPLOYEE ENTITLEMENT</span>
</div>
<div class="container-fluid">
  <div id="rectangle"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <a href="#">
        <img class="img img-fluid" src="images/home1.png" alt="Pay">
      </a>
      <div class="container" id="info-pay">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="about-your-pay">About Your Pay</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="minimum_wage"><span id="minwage">Minimum Wage</span></a>
            <a class="dropdown-item" href="pay_slip"><span id="pay-slip">Pay Slip</span></a>
            <a class="dropdown-item" href="superannuation"><span id="super-an">Superannuation</span></a>
            <a class="dropdown-item" href="working_hour"><span id="working-hrs">Working Hours</span></a>
            <a class="dropdown-item" href="pay_rate_level"><span id="view-pay-rate">View you pay rate level</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <a href="#">
        <img class="img img-fluid" src="images/home2.png" alt="Leave">
      </a>
      <div class="container" id="info-leave">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="about-your-leave">About Your Leave</span></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="pay_raise_visu"><span id="pay-raise">Pay Raise</span></a>
            <a class="dropdown-item" href="/"><span id="annual-bonus">Annual Bonus</span></a>
            <a class="dropdown-item" href="annual_leave"><span id="annual-leave-entitle">Annual Leave Entitlements</span></a>
            <a class="dropdown-item" href="/"><span id="sick-leave-entitle">Sick Leave Entitlements</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="aboutus">
  <span id="page2-entitlement">Our Motive</span>
</div>
<div class="container-fluid">
  <div id="rectangle"></div>
</div>
<div class="row">
  <div class="column">
    <img src="images/about1.png" alt="about1" style="width:100%">
  </div>
  <div class="column">
    <img src="images/about2.png" alt="about2" style="width:100%">
  </div>
  <div class="column">
    <img src="images/about3.png" alt="about3" style="width:100%">
  </div>
  <div class="column">
    <img src="images/about4.png" alt="about4" style="width:100%">
  </div>
</div>
<%include footer.ejs%>
<%include back_top.ejs%>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script src="routes/scroll.js"></script>-->
<script>
    var dataReload = document.querySelectorAll("[data-reload]");

    //Language translations
    var language = {
      au:{
        welcome: "Welcome to KnowYourRights",
        home: "Home",
        minwage: "Minimum Wage"
      },
      cn:{
        welcome: "欢迎来到KnowYourRights",
        home: "主页",
        minwage: "最低工资"
      }
    };
    //Define language using window hashing
    // if (window.location.hash) {
    //   //console.log(window.location.hash);
    //   if (window.location.hash === "#cn") {
    //     homenav.textContent = language.cn.home;
    //     minwage.textContent = language.cn.minwage;
    //   } else {
    //     homenav.textContent = language.au.home;
    //     minwage.textContent = language.au.minwage;
    //   }
    // }
    // //Language Reload onclick illiteration
    // for(i=0; i< dataReload.length; i++){
    //   //console.log(dataReload[i]);
    //   dataReload[i].onclick = function(){
    //     //console.log("hello");
    //     if(window.location.hash === "#au"){
    //       //window.location.href = "#au";
    //       alert("hello");
    //       // window.location.reload();
    //     }
    //     else if(window.location.hash === "#cn"){
    //       //window.location.href = "#cn";
    //       // window.location.reload();
    //     }
    //   };
    // }
    function translate_cn() {
      document.getElementById("homenav").textContent = "主页";
    }
    function translate_au() {
      document.getElementById("homenav").textContent = "Home";
    }
</script>

</body>

</html>
