<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Garry" content="">
    <title>Industrial Action Page</title>


    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/working_hour.css" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
</head>
</html>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
    <div class="container">
        <a class="navbar-brand-sharon" href="/">
            <div class = "logo-image">
                <img src="images/logo.png" class="img-fluid">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <div id="menu_area" class="menu-area">
                    <div class="container">
                        <div class="row">
                            <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li><a id="nav_home" href="/" style="font-family: Josefin Sans;">Home</a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">Employee Entitlements</span></a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Pay</span></a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li ><a  id="myfont_1" href="#">Minimum Wage</a></li>
                                                        <li><a  id="myfont_2" href="#">Pay Slip</a></li>
                                                        <li><a id="myfont_3"  href="#">Superannuation</a></li>
                                                        <li><a id="myfont_4"  href="#">Working Hours</a></li>
                                                        <li><a id="myfont_5" href="#">Annual Bonus</a></li>
                                                        <li><a id="myfont_6" href="#">Quick Info</a></li>
                                                        <li><a id="myfont_20" href="#">Salary&Job Analysis</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Leave</span></a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li><a id="myfont_8" href="#">Annual Leave Entitlements</a></li>
                                                        <li><a id="myfont_9" href="#">Sick Leave Entitlements</a></li>
                                                        <li><a id="myfont_10" href="#">Quick Info</a></li>
                                                        <li><a id="myfont_21" href="#">Paid Leave Analysis</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Contract</span></a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li>
                                                            <a id="myfont_12" href="#">Contract Information</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_13" href="#">Industrial Action</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_14" href="#">Redundancy</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_15" href="#">Resignation</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_16" href="#">Unfair Dismissal Case</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_17" href="#">Unfair Dismissal</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_18" href="#">Infographic</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_22" href="#">Injury Analysis</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a id="myfont_23" href="#">External Links</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#au" data-reload onclick="translate_au(); delete_motive_cn();">
                        <span class="flag-icon flag-icon-au"> </span>
                        <span id="nav-separator">English</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#cn" data-reload onclick="translate_cn(); delete_motive_au();">
                        <span class="flag-icon flag-icon-cn" id="nav-separator"></span>
                        <span id="nav-separator">中文</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- CAROUSEL CODE-->
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="container my-4" id="min_wrapper">
                <!--                <hr class="my-4">-->
                <!--Carousel Wrapper-->
                <div id="carousel-thumb" data-interval="false" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                    <!--Slides-->
                    <div id="trial" class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/1.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/2.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/3.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/4.png" alt="Fourth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/5.png" alt="Fifth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/6.png" alt="Sixth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/7.png" alt="Seventh slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                    <ol id ="indicator_caro" class="carousel-indicators">
                        <li data-target="#carousel-thumb" data-slide-to="0" class="active">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/1.png" class="img-fluid">
                        </li>
                        <li data-target="#carousel-thumb" data-slide-to="1">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/2.png" class="img-fluid">
                        </li>
                        <li data-target="#carousel-thumb" data-slide-to="2">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/3.png" class="img-fluid">
                        </li>
                        <li data-target="#carousel-thumb" data-slide-to="3">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/4.png" class="img-fluid">
                        </li>
                        <li data-target="#carousel-thumb" data-slide-to="4">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/5.png" class="img-fluid">
                        </li>
                        <li data-target="#carousel-thumb" data-slide-to="5">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/6.png" class="img-fluid">
                        </li>
                        <li data-target="#carousel-thumb" data-slide-to="5">
                            <img class="d-block w-100" src="images/ABOUT_CONTRACT/Contract_Industrial_action/7.png" class="img-fluid">
                        </li>
                    </ol>
                </div>
                <!--/.Carousel Wrapper-->
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <!--/.Slides-->
            <!--Controls-->

        </div>
        <div class="col-2"></div>
    </div>
</div>
<!-- CAROUSEL CODE END-->

<!-- FOOTER CODE -->

<footer>
    <div class="container">
        <div class="content-footer row">
            <div class="column-footer col-lg-6 col-md-6 col-sm-6">
                <h3><span id="quick-link">Quick Links</span></h3>
                <ul id="restaurant-hours">
                    <li>
                        <a href="pay_raise_visu"><span id="pay-raise-2">Pay Raise</span></a>
                    </li>
                    <li>
                        <a href="working_hour"> <span id="working-hours-2">Working Hours</span></a>
                    </li>
                    <li>
                        <a href="superannuation"><span id="super-ann">Superannuation</span></a>
                    </li>
                    <li>
                        <a href="sick_leave"><span id="sick-leave-ent">Sick Leave Entitlements</span></a>
                    <li>
                        <a href="annual_bonus"><span id="annual-bonus-2">Annual Bonus</span></a>
                    </li>
                </ul>
                <div class="line-divide first-line"></div>
            </div>

            <div class="column-footer col-lg-3 col-md-3 col-sm-7">
                <h3><span id="other-links">Other Useful Links</span></h3>
                <ul id="useful-links">
                    <li>
                        <a href="minimum_wage"><span id="min-wage-3">Minimum Wage</span></a>
                    </li>
                    <li>
                        <a href="pay_rate_level"><span id="view-pay-rate-3">View Your Pay Rate Level</span></a>
                    </li>
                    <li>
                        <a href="pay_slip"><span id="pay-slip-3">Pay Slip</span></a>
                    </li>
                    <li>
                        <a href="annual_leave"><span id="annual-leave-3">Annual Leave Entitlements</span></a>
                    </li>
                </ul>
                <div class="line-divide second-line"></div>
            </div>
        </div>
    </div>
    <div class="wrap-bottom-footer">
        <div class="container">
            <div class="bottom-footer row justify-content-between">
                <div class="col-12 col-sm-7">© <span id="copy-right">2019 KnowYourRights. All rights reserved.</span></div>
                <div class="col-12 col-sm-5"><span id="privacy-pol">Privacy Policy</span>
                    <span id="terms-of-use">Terms of use</span></div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER CODE END-->

<%include back_top.ejs%>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script src="routes/scroll.js"></script>-->
<script>
    var dataReload = document.querySelectorAll("[data-reload]");

    //Language translations
    var language = {
        au:{
            welcome: "Welcome to KnowYourRights",
            home: "Home",
            minwage: "Minimum Wage"
        },
        cn:{
            welcome: "欢迎来到KnowYourRights",
            home: "主页",
            minwage: "最低工资"
        }
    };
    function translate_cn() {
        document.getElementById("page2-entitlement").textContent = "政府链接和热线电话";
        // document.getElementById("page2-entitlement_gov").textContent = "政府链接和帮助热线";
        document.getElementById("min_wage").textContent = "最低工资";
        document.getElementById("text1").textContent = "某些员工可能有不同的工资待遇，具体取决于他们是否因残疾而工作能力下降，如果他们未满21岁，或者他们是学徒或实习生。\n" +
            "        有关这些员工薪酬的更多信息，请访问：";
        document.getElementById("link1").textContent = "残疾员工支付费用";
        document.getElementById("link2").textContent = "初级工资率";
        document.getElementById("link3").textContent = "学徒和实习生支付费用";
        document.getElementById("text2").textContent = "如果您对工资税的影响有疑问，请联系";
        document.getElementById("link5").textContent = "\n" +
            "内政部网站";
        document.getElementById("link6").textContent = "工资单页面";
        document.getElementById("head1").textContent = "工作时间信息";
        document.getElementById("text3").textContent = "\n" +
            "大多数学生签证允许您在课程学习期间每两周最多工作40个小时，\n" +
            "        在任何计划的课程休息期间不受限制的时间，\n" +
            "        但是在您从事任何有偿工作之前，您需要确保签证允许您工作。";
        document.getElementById("pay").textContent = "工资单和记录保存";
        document.getElementById("text4").textContent = "在以下链接中查找更多信息";
        document.getElementById("text5").textContent = "在任何规模的企业中，保持记录对于成功都是至关重要的。\n" +
            "        记录保存和工资单义务确保员工获得正确的工资和权利。";
        document.getElementById("text6").textContent = "查看以下链接，了解工资单上必须包含的内容，并找到我们的工资单模板。";
        document.getElementById("income").textContent = "收入报表";
        document.getElementById("text7").textContent = "一些雇主需要向澳大利亚税务局（ATO）报告工资信息的方式已经发生了变化。这包括付款，例如：";
        document.getElementById("list1").textContent = "工资薪金";
        document.getElementById("list2").textContent = "即付即用（PAYG）预扣款";
        document.getElementById("list3").textContent = "退休金信息";
        document.getElementById("text8").textContent = "此报告更改称为单点薪资（STP）";
        document.getElementById("text9").textContent = "如果雇主使用STP进行报告，则不必向员工提供年末付款摘要。员工的年末付款摘要（现称为损益表）将通过其myGov帐户提供。\n" +
            "转到ATO的网站以了解有关以下内容的更多信息：";
        document.getElementById("link7").textContent = "单点工资单";
        document.getElementById("tax").textContent = "税收和养老金";
        document.getElementById("text10").textContent = "有关您的税金的问题，请致电13 28 61或联系ATO。";
        document.getElementById("link8").textContent = "访问他们的网站";
        document.getElementById("super").textContent = "退休金保证";
        document.getElementById("text11").textContent = "在退休金保证下，\n" +
            "        在以下情况下，雇主必须支付雇员正常时间收入的9.5％的退休金：";
        document.getElementById("text12").textContent = "当雇员在一个月内获得税前$ 450或以上的报酬是：";
        document.getElementById("list4").textContent = "超过18年，或";
        document.getElementById("list5").textContent = "未满18岁，每周工作30小时以上";
        document.getElementById("text13").textContent = "这适用于全职和兼职雇员以及一些临时雇员，包括临时居民。";
        document.getElementById("text14").textContent = "至少每3个月将退休金存入员工的指定帐户中。";
        document.getElementById("text15").textContent = "有关退休金保证的更多信息，请致电13 10 20与ATO联系，或访问";
        document.getElementById("link9").textContent = "ATO网站";
        document.getElementById("quick-link").textContent = "快速链接";
        document.getElementById("working-hours-2").textContent = "工作时间";
        document.getElementById("super-ann").textContent = "退休金";
        document.getElementById("sick-leave-ent").textContent = "病假权利";
        document.getElementById("annual-bonus-2").textContent = "年度奖金";
        document.getElementById("pay-raise-2").textContent = "加薪";
        document.getElementById("other-links").textContent = "其他有用的链接";
        document.getElementById("min-wage-3").textContent = "最低工资";
        document.getElementById("view-pay-rate-3").textContent = "查看您的工资水平";
        document.getElementById("pay-slip-3").textContent = "工资单";
        document.getElementById("annual-leave-3").textContent = "年假权利";
        document.getElementById("copy-right").textContent = "2019年KnowYourRights。版权所有。";
        document.getElementById("privacy-pol").textContent = "隐私政策";
        document.getElementById("terms-of-use").textContent = "使用条款";
    }
    function translate_au() {
        document.getElementById("page2-entitlement").textContent = "Government Links and Helplines";
        // document.getElementById("page2-entitlement").textContent = "Infographics";
        document.getElementById("min_wage").textContent = "Minimum Wage";
        document.getElementById("text1").textContent = "Certain employees may have different pay entitlements depending on whether they have a reduced work capacity because of disability, if they're under the age of 21 or if they are an apprentice or trainee.\n" +
            "        For more information about pay for these employees, visit:";
        document.getElementById("link1").textContent = "Employees with disability pay rates";
        document.getElementById("link2").textContent = "Junior Pay rates";
        document.getElementById("link3").textContent = "Apprentice and trainee pay rates";
        document.getElementById("text2").textContent = "If you have questions about how much tax comes out of a pay rate, please contact the";
        document.getElementById("link5").textContent = "Department of Home Affairs website.";
        document.getElementById("link6").textContent = "Pay Slips page";
        document.getElementById("head1").textContent = "Working Hours Information";
        document.getElementById("text3").textContent = "Most student visas allow you to work for up to 40 hours every two weeks while your course is in session,\n" +
            "        and unrestricted hours during any scheduled course break,\n" +
            "        but before you undertake any paid work you need to make sure your visa allows you to work.";
        document.getElementById("text4").textContent = "Find out more information at the following link.";
        document.getElementById("pay").textContent = "Pay Slips and Record-Keeping";
        document.getElementById("text5").textContent = "In any business, large or small, record-keeping is vital to success.\n" +
            "        Record-keeping and pay slip obligations ensure employees receive correct wages and entitlements.";
        document.getElementById("text6").textContent = "Check out the following link to learn what has to be included on pay slips and find our pay slip template.";
        document.getElementById("income").textContent = "Income Statements";
        document.getElementById("text7").textContent = "There have been changes to the way some employers need to report payroll information to the Australian Taxation Office (ATO). This includes payments such as:";
        document.getElementById("list1").textContent = "salaries and wages";
        document.getElementById("list2").textContent = "pay as you go (PAYG) withholding";
        document.getElementById("list3").textContent = "superannuation information";
        document.getElementById("text8").textContent = "This reporting change is called Single Touch Payroll (STP)";
        document.getElementById("text9").textContent = "If an employer reports using STP, they don't have to give employees an end-of-year payment summary. An employee’s end-of-year payment summary - now called an income statement - will be available through their myGov account. \n" +
            "Go to the ATO’s website to learn more about:";
        document.getElementById("link7").textContent = "Single Touch Payroll";
        document.getElementById("tax").textContent = "Tax & Superannuation";
        document.getElementById("text10").textContent = "For questions about your tax contact the ATO on 13 28 61 or";
        document.getElementById("link8").textContent = "Visit Their Website";
        document.getElementById("super").textContent = "Superannuation Guarantee";
        document.getElementById("text11").textContent = "Under the superannuation guarantee,\n" +
            "        employers have to pay superannuation contributions of 9.5%  of an employee's ordinary time earnings if:";
        document.getElementById("text12").textContent = "when an employee is paid $450 or more before tax in a month and is:";
        document.getElementById("list4").textContent = "over 18 years, or";
        document.getElementById("list5").textContent = "under 18 years and works over 30 hours a week";
        document.getElementById("text13").textContent = "This applies to full-time and part-time employees and some casual employees, and includes temporary residents.";
        document.getElementById("text14").textContent = "Superannuation has to be paid at least every 3 months, into the employee's nominated account.";
        document.getElementById("text15").textContent = "For more information about the superannuation guarantee, contact the ATO on 13 10 20 or, visit the";
        document.getElementById("link9").textContent = "ATO Website";
        document.getElementById("quick-link").textContent = "Quick Links";
        document.getElementById("working-hours-2").textContent = "Working Hours";
        document.getElementById("super-ann").textContent = "Superannuation";
        document.getElementById("sick-leave-ent").textContent = "Sick Leave Entitlements";
        document.getElementById("annual-bonus-2").textContent = "Annual Bonus";
        document.getElementById("pay-raise-2").textContent = "Pay Raise";
        document.getElementById("other-links").textContent = "Other Useful Links";
        document.getElementById("min-wage-3").textContent = "Minimum Wage";
        document.getElementById("view-pay-rate-3").textContent = "View Your Pay Rate Level";
        document.getElementById("pay-slip-3").textContent = "Pay Slip";
        document.getElementById("annual-leave-3").textContent = "Annual Leave Entitlements";
        document.getElementById("copy-right").textContent = "2019 KnowYourRights. All rights reserved.";
        document.getElementById("privacy-pol").textContent = "Privacy Policy";
        document.getElementById("terms-of-use").textContent = "Terms of Use";
    }

    function delete_motive_au(){
        let element_1 = document.getElementById("carouselExampleIndicators");
        element_1.parentNode.removeChild(element_1);
        document.getElementById("bonus_wrapper").innerHTML = "<div id=\"carouselExampleIndicators\" class=\"carousel slide\" data-ride=\"carousel\">\n" +
            "        <ol id=\"indicator_carousel\" class=\"carousel-indicators\">\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"0\" class=\"active\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"1\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"2\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"3\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"4\"></li>\n" +
            "        </ol>\n" +
            "        <div class=\"carousel-inner\">\n" +
            "            <div class=\"carousel-item active\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_chinese/1.png\" alt=\"First slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_chinese/2.png\" alt=\"Second slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_chinese/3.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_chinese/4.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_chinese/5.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_chinese/6.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_chinese/7.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "        </div>\n" +
            "        <a class=\"carousel-control-prev\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"prev\">\n" +
            "            <span id=\"color_prev\" class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n" +
            "            <span id=\"color_prev\" class=\"sr-only\">Previous</span>\n" +
            "        </a>\n" +
            "        <a class=\"carousel-control-next\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"next\">\n" +
            "            <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n" +
            "            <span class=\"sr-only\">Next</span>\n" +
            "        </a>\n" +
            "    </div>";
    }

    function delete_motive_cn(){
        let element_1 = document.getElementById("carouselExampleIndicators");
        element_1.parentNode.removeChild(element_1);
        document.getElementById("bonus_wrapper").innerHTML = "<div id=\"carouselExampleIndicators\" class=\"carousel slide\" data-ride=\"carousel\">\n" +
            "        <ol id=\"indicator_carousel\" class=\"carousel-indicators\">\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"0\" class=\"active\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"1\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"2\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"3\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"4\"></li>\n" +
            "        </ol>\n" +
            "        <div class=\"carousel-inner\">\n" +
            "            <div class=\"carousel-item active\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_english/1.png\" alt=\"First slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_english/2.png\" alt=\"Second slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_english/3.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_english/4.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_english/5.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_english/6.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/workplace-storyboard/industrial_action_english/7.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "        </div>\n" +
            "        <a class=\"carousel-control-prev\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"prev\">\n" +
            "            <span id=\"color_prev\" class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n" +
            "            <span id=\"color_prev\" class=\"sr-only\">Previous</span>\n" +
            "        </a>\n" +
            "        <a class=\"carousel-control-next\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"next\">\n" +
            "            <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n" +
            "            <span class=\"sr-only\">Next</span>\n" +
            "        </a>\n" +
            "    </div>";
    }

    $(function(){
        $(".tile").mousedown(function(){
            $(this).addClass("selecionado");
        });

        $(".tile").mouseup(function(){
            $(this).removeClass("selecionado");
        });
    });
</script>
</body>