<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title> links and helplines information</title>

    <link rel="stylesheet" href="css/index.css" />

</head>

<body>
<div class="container-fluid" id="aboutus">
    <span id="page2-entitlement">Government Links and Helplines</span>
</div>
<div class="container-fluid">
    <div id="rectangle"></div>
</div>


</body>
</html>