<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Garry" content="">
    <title>Minimum Wage Page</title>
    
    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/working_hour.css" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <!-- Carousel code-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Activate Bootstrap 4 Carousel via Data Attributes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .carousel{
            background: #eb8034;
            margin-top: 20px;
        }
        .carousel-item{
            text-align: center;
            min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
            transition-duration: 10s;
        }
        .bs-example{
            margin: 20px;
        }
    </style>
    <!-- carousel Code-->
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
    <div class="container">
        <a class="navbar-brand-sharon" href="/">
            <div class = "logo-image">
                <img src="images/logo.png" class="img-fluid">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <span class="oi oi-home" title="home" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-home" href="/"><span id="homenav">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-employee" href="#entitlement">Employee Entitlement
                        <span id="nav-separator">|</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#au" data-reload onclick="translate_au();delete_motive_cn();">
                        <span class="flag-icon flag-icon-au"> </span>
                        <span id="nav-separator">English</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#cn" data-reload onclick="translate_cn();delete_motive_au();">
                        <span class="flag-icon flag-icon-cn" id="nav-separator"></span>
                        <span id="nav-separator">中文</span>
                        <span id="nav-separator">|</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#ce" data-reload onclick="casualEmp();">
                        <span id="nav-separator">Casual Employees</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#ce" data-reload onclick="delete_motive_cn();">
                        <span id="nav-separator">Full-Time Employees</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--  TILES CODE-->
<div class="container">
    <div class="row">
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='working_hour';" style="cursor: pointer;">
                <img src="images/Check.your.minimum.wage.2.jpg" alt="My Awesome Tile">
            </div>
        </div>
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='pay_slip';" style="cursor: pointer;">
                <img src="images/pay_slips.jpg" alt="My Awesome Tile">
            </div>
        </div>
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='superannuation';" style="cursor: pointer;">
                <img src="images/Check.your.minimum.wage.3.jpg" alt="My Awesome Tile">
            </div>
        </div>
        <div class="tile">
            <div class="tile-thumbnail" onclick="location.href='pay_rate_level';" style="cursor: pointer;">
                <img src="images/pay_rate_level.jpg" alt="My Awesome Tile">
            </div>
        </div>
    </div>
</div>
<!-- TILES CODE END-->
<!--<div align="center">-->
<!--    <button class="button" data-reload onclick="myFunction1()">Casual Employees</button>-->
<!--    <button class="button" data-reload onclick="myFunction2()">Part/Full Time Employees</button>-->
<!--</div>-->

<!-- CAROUSEL CODE-->
<div class="bs-example" id="wrapper_min">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="numbertext">This storyboard provides information for part time employees (1 / 5)</div>
                <img src="images/minwage/Part&Full time/1.png" alt="First Slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <div class="numbertext">This storyboard provides information for part time employees (2 / 5)</div>
                <img src="images/minwage/Part&Full time/2.png" alt="Second Slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <div class="numbertext">This storyboard provides information for part time employees (3 / 5)</div>
                <img src="images/minwage/Part&Full time/3.png" alt="Third Slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <div class="numbertext">This storyboard provides information for part time employees (4 / 5)</div>
                <img src="images/minwage/Part&Full time/4.png" alt="Fourth Slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <div class="numbertext">This storyboard provides information for part time employees (5 / 5)</div>
                <img src="images/minwage/Part&Full time/5.png" alt="Fifth Slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<!-- CAROUSEL CODE END-->
<div class="container-fluid" id="aboutus">
    <span id="page2-entitlement">Infographics</span>
</div>
<div class="container-fluid">
    <div id="rectangle"></div>
</div>
<div class="row">
<div class="infographics">
    <img class="poster" src="images/Wage.png"/>
    <svg class="bulb" xmlns="http://www.w3.org/2000/svg" xmlns:lucid="lucid"><g transform="translate(-340 -220)" lucid:page-tab-id="0_0"><g filter="url(#a)"><path d="M360 242c0-1.1.9-2 2-2h84c1.1 0 2 .9 2 2v84c0 1.1-.9 2-2 2h-84c-1.1 0-2-.9-2-2z" fill="#fff"/><path d="M394.95 311.14c0 .83.3 1.54.9 2.13.58.6 1.28.9 2.12.9h12.06c.84 0 1.54-.3 2.13-.9.6-.6.9-1.3.9-2.13v-3.02h-18.1zm9.05-57.3c-4.6 0-8.77 1.38-12.48 4.1-3.7 2.73-6.26 6.3-7.64 10.7-1.38 4.4-1.33 8.76.16 13.12 1.5 4.36 4.12 7.87 7.9 10.5v6.82c0 .83.3 1.54.88 2.13.6.6 1.3.9 2.13.9h18.1c.83 0 1.54-.3 2.13-.9.6-.58.88-1.3.88-2.12v-6.82c3.78-2.63 6.4-6.14 7.9-10.5s1.54-8.73.16-13.13c-1.38-4.4-3.93-7.96-7.64-10.68-3.7-2.73-7.87-4.1-12.48-4.1zm8.6 33.48l-2.57 1.8v6.94h-12.06v-6.93l-2.57-1.8c-3.13-2.18-5.14-5.12-6.05-8.82-.9-3.7-.46-7.22 1.3-10.6 1.78-3.36 4.45-5.72 8-7.07 3.57-1.35 7.13-1.35 10.7 0 3.55 1.35 6.22 3.7 8 7.08 1.76 3.38 2.2 6.9 1.3 10.6-.9 3.7-2.92 6.65-6.05 8.82zm0 0" fill="#757575"/></g><defs><filter id="a" filterUnits="objectBoundingBox" x="-.02" y="-.01" width="1.03" height="1.03"><feOffset result="offOut" in="SourceAlpha" dy="1"/><feGaussianBlur result="blurOut" in="offOut" stdDeviation=".75"/><feColorMatrix result="colorOut" in="blurOut" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0"/><feBlend in="SourceGraphic" in2="colorOut"/></filter></defs></g></svg>
    <svg class="search" xmlns="http://www.w3.org/2000/svg" xmlns:lucid="lucid"><g lucid:page-tab-id="0_0" stroke="#000" stroke-opacity="0"><path d="M125.6 54.04c0-.9.24-2.1.24-3.07 0-17.07-13.92-30.74-31.2-30.74C84.56 20 75.2 24.76 69.44 32.7c-3.6-2.36-7.92-3.57-12.48-3.57-12.96 0-23.52 10.5-23.52 23.3v1.86C24.8 58.9 20 66.33 20 75.47c0 14.4 11.76 25.64 26.88 25.64h66.24c15.12 0 26.88-11.24 26.88-25.64 0-9.63-5.28-17.3-14.4-21.44z" fill="#59b4d9"/><path d="M36.84 87.2c0-9.87 5-17.5 14.34-22.34v-1.93c0-13.66 11.26-24.68 25.02-24.68 4.72 0 9.34 1.2 13.2 3.62 5.96-8.44 16.06-13.75 26.84-13.75-5.77-4.98-13.18-8.12-21.56-8.12-10.1 0-19.44 4.82-25.2 12.7-3.67-2.4-8-3.6-12.52-3.6-13 0-23.5 10.6-23.5 23.3v1.93C24.82 58.9 20 66.3 20 75.48c0 12.22 8.37 22.27 20.1 24.92-2.1-3.86-3.26-8.36-3.26-13.2z" fill="#fff" fill-opacity=".2"/><path d="M102.32 94.38c-2.4 9.38-10.55 15.86-20.15 15.86-1.7 0-3.37-.25-5.07-.7-2.37-.75-4.78-1.7-6.7-3.12-2.15-1.45-3.85-3.36-5.26-5.3-3.16-4.8-4.57-10.56-3.16-16.54 2.4-9.38 10.6-15.86 20.2-15.86 1.65 0 3.35.25 5.02.7 5.27 1.46 9.84 4.57 12.7 9.4 2.92 4.56 3.87 10.3 2.42 15.56" fill="#fff"/><path d="M102.32 94.38c-2.4 9.38-10.55 15.86-20.15 15.86-1.7 0-3.37-.25-5.07-.7-2.37-.75-4.78-1.7-6.7-3.12-2.15-1.45-3.85-3.36-5.26-5.3-3.16-4.8-4.57-10.56-3.16-16.54 2.4-9.38 10.6-15.86 20.2-15.86 1.65 0 3.35.25 5.02.7 5.27 1.46 9.84 4.57 12.7 9.4 2.92 4.56 3.87 10.3 2.42 15.56" fill="#59b4d9" fill-opacity=".1"/><path d="M93.44 72.1c-1.92-1.22-4.07-2.2-6.25-2.65-1.67-.5-3.37-.73-5.04-.73-9.6 0-17.75 6.47-20.15 15.83-1.43 6.02-.25 12 3.12 16.57.48.73 1.2 1.67 1.92 2.4 4.32-13.68 13.9-24.95 26.4-31.42" fill="#59b4d9" fill-opacity=".3"/><path d="M107.6 74.27c-4.08-6.73-10.58-11.54-18.27-13.47-2.4-.48-4.73-.96-7.14-.96-13.72 0-25.5 9.38-28.87 22.52-1.93 7.46-.72 15.16 3.12 21.9L33.92 127c-2.88 2.9-2.88 7.95 0 10.84 1.7 1.44 3.6 2.16 5.54 2.16 1.92 0 3.85-.72 5.53-2.16l22.52-22.77c2.4 1.44 5.05 2.4 7.7 3.13 2.4.48 4.8.96 7.2.96 13.64 0 25.43-9.38 28.8-22.6 1.68-7.7.47-15.64-3.6-22.3zm-5.3 20.12c-2.4 9.37-10.57 15.86-20.1 15.86-1.7 0-3.38-.24-5.06-.72-2.4-.72-4.8-1.68-6.74-3.13-2.16-1.43-3.84-3.35-5.3-5.28-3.1-4.8-4.56-10.58-3.1-16.6 2.4-9.3 10.57-15.78 20.2-15.78 1.67 0 3.36.24 4.96.72 5.3 1.44 9.86 4.57 12.75 9.38 2.9 4.73 3.86 10.26 2.4 15.55z" fill="#3e3e3e"/><path d="M65.36 113.84c-3.12-2.16-5.52-4.56-7.67-7.7-.5-.7-.74-1.17-1.22-1.9l-1.92 2.16-.24.24c.24.48.48.97.96 1.44 2.4 3.35 5.05 6.24 8.4 8.63.24.26.96.5 1.68.74l2.16-2.16c-.96-.72-1.44-.96-2.16-1.44z" fill="#1e1e1e" fill-opacity=".5"/></g></svg>
</div>

    <div class="infographics">
        <img class="poster" src="images/Working_hour.png"/>
    </div>
</div>
<!-- Links start here-->
<div class="container-fluid" id="aboutus">
    <span id="page2-entitlement">Government Links and Helplines</span>
</div>
<div class="container-fluid">
    <div id="rectangle"></div>
</div>

<div class="w3-container">
    <h2 id="min_wage">Minimum Wage</h2>
    <p id="text1">Certain employees may have different pay entitlements depending on whether they have a reduced work capacity because of disability, if they're under the age of 21 or if they are an apprentice or trainee.
        For more information about pay for these employees, visit:</p>
    <a href="https://www.fairwork.gov.au/pay/minimum-wages/employees-with-disability-pay-rates" id="link1">Employees with disability pay rates</a>
    <br>
    <a href="https://www.fairwork.gov.au/pay/minimum-wages/junior-pay-rates" id="link2">Junior Pay rates</a> <br>
    <a href="https://www.fairwork.gov.au/pay/minimum-wages/apprentice-and-trainee-pay-rates" id="link3">Apprentice and trainee pay rates</a> <br>
    <p id="text2">If you have questions about how much tax comes out of a pay rate, please contact the <a href="https://www.ato.gov.au/" id="link4">Australian Taxation Office</a> </p>
    <hr>
</div>

<article class="w3-container">
    <h2 id="head1">Working Hours Information</h2>
    <p id="text3">Most student visas allow you to work for up to 40 hours every two weeks while your course is in session,
        and unrestricted hours during any scheduled course break,
        but before you undertake any paid work you need to make sure your visa allows you to work.</p> <br>
    <p id="text4">Find out more information at the  <a href="https://www.homeaffairs.gov.au/" id="link5" >Department of Home Affairs website.</a> </p> <br>
    <hr>
</article>

<article class="w3-container">
    <h2 id="pay">Pay Slips and Record-Keeping</h2>
    <p>In any business, large or small, record-keeping is vital to success.
        Record-keeping and pay slip obligations ensure employees receive correct wages and entitlements.</p>
    Check out the <a href="https://www.fairwork.gov.au/Pay/pay-slips-and-record-keeping/pay-slips">Pay Slips page</a> to learn what has to be included on pay slips and find our pay slip template. <br> <br> <br>
    <h3>Income Statements</h3>
    <p> There have been changes to the way some employers need to report payroll information to the Australian Taxation Office (ATO).
        This includes payments such as:</p>
    <li>salaries and wages</li>
    <li>pay as you go (PAYG) withholding</li>
    <li>superannuation information.</li>
    <p>This reporting change is called Single Touch Payroll (STP).</p> <br>
    <p> If an employer reports using STP, they don't have to give employees an end-of-year payment summary.
        An employee’s end-of-year payment summary - now called an income statement - will be available through their myGov account. <br>
        Go to the ATO’s website to learn more about <a href="https://www.ato.gov.au/Business/Single-Touch-Payroll/">Single Touch Payroll</a> </p>
    <hr>
</article>

<section class="w3-container">
    <h2>Tax & Superannuation</h2>
    <p>For questions about your tax contact the ATO on <u>13 28 61</u> or <a href="https://www.ato.gov.au/">Visit Their Website</a></p>
    <h4>Superannuation Guarantee</h4>
    <p>Under the superannuation guarantee,
        employers have to pay superannuation contributions of 9.5%  of an employee's ordinary time earnings if:</p>
    <p>when an employee is paid $450 or more before tax in a month and is:</p>
    <li>over 18 years, or</li>
    <li>under 18 years and works over 30 hours a week.</li>
    <p>This applies to full-time and part-time employees and some casual employees, and includes temporary residents.</p>
    <p>Superannuation has to be paid at least every 3 months, into the employee's nominated account.</p>
    <p>For more information about the superannuation guarantee, visit the <a href="https://www.ato.gov.au/Super/">ATO Website</a> or contact the ATO on <u>13 10 20</u>.</p>

    <hr>
</section>

<!--    FOOTER CODE-->
<footer>
    <div class="container">
        <div class="content-footer row">
            <div class="column-footer col-lg-6 col-md-6 col-sm-6">
                <h3><span id="quick-link">Quick Links</span></h3>
                <ul id="restaurant-hours">
                    <li>
                        <a href="pay_raise_visu"><span id="pay-raise-2">Pay Raise</span></a>
                    </li>
                    <li>
                        <a href="working_hour"> <span id="working-hours-2">Working Hours</span></a>
                    </li>
                    <li>
                        <a href="superannuation"><span id="super-ann">Superannuation</span></a>
                    </li>
                    <li>
                        <a href="sick_leave"><span id="sick-leave-ent">Sick Leave Entitlements</span></a>
                    <li>
                        <a href="annual_bonus"><span id="annual-bonus-2">Annual Bonus</span></a>
                    </li>
                </ul>
                <div class="line-divide first-line"></div>
            </div>

            <div class="column-footer col-lg-3 col-md-3 col-sm-7">
                <h3><span id="other-links">Other Useful Links</span></h3>
                <ul id="useful-links">
                    <li>
                        <a href="minimum_wage"><span id="min-wage-3">Minimum Wage</span></a>
                    </li>
                    <li>
                        <a href="pay_rate_level"><span id="view-pay-rate-3">View Your Pay Rate Level</span></a>
                    </li>
                    <li>
                        <a href="pay_slip"><span id="pay-slip-3">Pay Slip</span></a>
                    </li>
                    <li>
                        <a href="annual_leave"><span id="annual-leave-3">Annual Leave Entitlements</span></a>
                    </li>
                </ul>
                <div class="line-divide second-line"></div>
            </div>
        </div>
    </div>
    <div class="wrap-bottom-footer">
        <div class="container">
            <div class="bottom-footer row justify-content-between">
                <div class="col-12 col-sm-7">© <span id="copy-right">2019 KnowYourRights. All rights reserved.</span></div>
                <div class="col-12 col-sm-5"><span id="privacy-pol">Privacy Policy</span>
                    <span id="terms-of-use">Terms of use</span></div>
            </div>
        </div>
    </div>
</footer>
<%include back_top.ejs%>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script src="routes/scroll.js"></script>-->
<script>
    var dataReload = document.querySelectorAll("[data-reload]");

    //Language translations
    var language = {
        au:{
            welcome: "Welcome to KnowYourRights",
            home: "Home",
            minwage: "Minimum Wage"
        },
        cn:{
            welcome: "欢迎来到KnowYourRights",
            home: "主页",
            minwage: "最低工资"
        }
    };

    function translate_cn() {
        document.getElementById("homenav").textContent = "主页";
        document.getElementById("nav-link-employee").textContent = "员工权利";
        // document.getElementById("international-st").textContent = "对于国际学生";
        // document.getElementById("know-entitle").textContent = "了解你的工作权利";
        // document.getElementById("page2-entitlement").textContent = "员工权利";
        // document.getElementById("about-your-pay").textContent = "关于你的工资";
        // document.getElementById("minwage").textContent = "最低工资";
        // document.getElementById("pay-slip").textContent = "支付单";
        // document.getElementById("super-an").textContent = "退休金";
        // document.getElementById("working-hrs").textContent = "工作时间";
        // document.getElementById("view-pay-rate").textContent = "查看您的工资水平";
        // document.getElementById("about-your-leave").textContent = "关于你的假期";
        // document.getElementById("pay-raise").textContent = "加薪";
        // document.getElementById("annual-bonus").textContent = "年度奖金";
        // document.getElementById("annual-leave-entitle").textContent = "年假权利";
        // document.getElementById("sick-leave-entitle").textContent = "病假权利";
        document.getElementById("page2-entitlement").textContent = "政府链接和帮助热线";
        document.getElementById("min_wage").textContent = "最低工资";
        document.getElementById("text1").textContent = "某些员工可能有不同的工资待遇，具体取决于他们是否因残疾而工作能力下降，如果他们未满21岁，或者他们是学徒或实习生。\n" +
            "        有关这些员工薪酬的更多信息，请访问：";
        document.getElementById("link1").textContent = "残疾员工支付费用";
        document.getElementById("link2").textContent = "初级工资率";
        document.getElementById("link3").textContent = "学徒和实习生支付费用";
        document.getElementById("text2").textContent = "如果您对工资税的影响有疑问，请联系";
        //document.getElementById("link4").textContent = "澳大利亚税务局";
        document.getElementById("head1").textContent = "工作时间信息";
        document.getElementById("text3").textContent = "\n" +
            "大多数学生签证允许您在课程学习期间每两周最多工作40个小时，\n" +
            "        在任何计划的课程休息期间不受限制的时间，\n" +
            "        但是在您从事任何有偿工作之前，您需要确保签证允许您工作。";
        document.getElementById("text4").textContent = "在内政部网站上查找更多信息。";
        document.getElementById("quick-link").textContent = "快速链接";
        document.getElementById("annual-leave-3").textContent = "年假权利";
        document.getElementById("copy-right").textContent = "2019年KnowYourRights。版权所有。";
        document.getElementById("privacy-pol").textContent = "隐私政策";
        document.getElementById("terms-of-use").textContent = "使用条款";


    }
    function translate_au() {
        document.getElementById("homenav").textContent = "Home";
        document.getElementById("nav-link-employee").textContent = "Employee Entitlement";
        // document.getElementById("international-st").textContent = "For International Students";
        // document.getElementById("know-entitle").textContent = "Know Your Entitlements";
        // document.getElementById("page2-entitlement").textContent = "EMPLOYEE ENTITLEMENT";
        // document.getElementById("about-your-pay").textContent = "About Your Pay";
        // document.getElementById("minwage").textContent = "Minimum Wage";
        // document.getElementById("pay-slip").textContent = "Pay Slip]";
        // document.getElementById("super-an").textContent = "Superannuation";
        // document.getElementById("view-pay-rate").textContent = "View Your Pay Rate Level";
        // document.getElementById("about-your-leave").textContent = "About Your Leave";
        // document.getElementById("pay-raise").textContent = "Pay Raise";
        // document.getElementById("annual-bonus").textContent = "Annual Bonus";
        // document.getElementById("annual-leave-entitle").textContent = "Annual Leave Entitlements";
        // document.getElementById("sick-leave-entitle").textContent = "Sick Leave Entitlements";
        document.getElementById("page2-entitlement").textContent = "Government Links and Helplines";
        document.getElementById("min_wage").textContent = "Minimum Wage";
        document.getElementById("text1").textContent = "Certain employees may have different pay entitlements depending on whether they have a reduced work capacity because of disability, if they're under the age of 21 or if they are an apprentice or trainee.\n" +
            "        For more information about pay for these employees, visit:";
        document.getElementById("link1").textContent = "Employees with disability pay rates";
        document.getElementById("link2").textContent = "Junior Pay rates";
        document.getElementById("link3").textContent = "Apprentice and trainee pay rates";
        document.getElementById("text2").textContent = "If you have questions about how much tax comes out of a pay rate, please contact the";
        //document.getElementById("link4").textContent = "Australian Taxation Office";
        document.getElementById("head1").textContent = "Working Hours Information";
        document.getElementById("text3").textContent = "Most student visas allow you to work for up to 40 hours every two weeks while your course is in session,\n" +
            "        and unrestricted hours during any scheduled course break,\n" +
            "        but before you undertake any paid work you need to make sure your visa allows you to work.";
        document.getElementById("text4").textContent = "Find out more information at the Department of Home Affairs website.";
        document.getElementById("quick-link").textContent = "Quick Links";
        document.getElementById("annual-leave-3").textContent = "Annual Leave Entitlements";
        document.getElementById("copy-right").textContent = "2019 KnowYourRights. All rights reserved.";
        document.getElementById("privacy-pol").textContent = "Privacy Policy";
        document.getElementById("terms-of-use").textContent = "Terms of Use";
    }

    function delete_motive_au(){
        let element_1 = document.getElementById("myCarousel");
        element_1.parentNode.removeChild(element_1);
        document.getElementById("wrapper_min").innerHTML = "<div id=\"myCarousel\" class=\"carousel slide\" data-interval=\"3000\" data-ride=\"carousel\">\n" +
            "        <!-- Carousel indicators -->\n" +
            "        <ol class=\"carousel-indicators\">\n" +
            "            <li data-target=\"#myCarousel\" data-slide-to=\"0\" class=\"active\"></li>\n" +
            "            <li data-target=\"#myCarousel\" data-slide-to=\"1\"></li>\n" +
            "            <li data-target=\"#myCarousel\" data-slide-to=\"2\"></li>\n" +
            "        </ol>\n" +
            "        <!-- Wrapper for carousel items -->\n" +
            "        <div class=\"carousel-inner\">\n" +
            "            <div class=\"carousel-item active\">\n" +
            "                <div class=\"numbertext\">1 / 5</div>\n" +
            "                <img src=\"images/st-board-chinese-1/min-wage-cn/part_full/1.png\" alt=\"First Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">2 / 5</div>\n" +
            "                <img src=\"images/st-board-chinese-1/min-wage-cn/part_full/2.png\" alt=\"Second Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">3 / 5</div>\n" +
            "                <img src=\"images/st-board-chinese-1/min-wage-cn/part_full/3.png\" alt=\"Third Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">4 / 5</div>\n" +
            "                <img src=\"images/st-board-chinese-1/min-wage-cn/part_full/4.png\" alt=\"Fourth Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">5 / 5</div>\n" +
            "                <img src=\"images/st-board-chinese-1/min-wage-cn/part_full/5.png\" alt=\"Fifth Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "        </div>\n" +
            "        <!-- Carousel controls -->\n" +
            "        <a class=\"carousel-control-prev\" href=\"#myCarousel\" data-slide=\"prev\">\n" +
            "            <span class=\"carousel-control-prev-icon\"></span>\n" +
            "        </a>\n" +
            "        <a class=\"carousel-control-next\" href=\"#myCarousel\" data-slide=\"next\">\n" +
            "            <span class=\"carousel-control-next-icon\"></span>\n" +
            "        </a>\n" +
            "    </div>";
    }

    function delete_motive_cn(){
        let element_1 = document.getElementById("myCarousel");
        element_1.parentNode.removeChild(element_1);
        document.getElementById("wrapper_min").innerHTML = "    <div id=\"myCarousel\" class=\"carousel slide\" data-interval=\"3000\" data-ride=\"carousel\">\n" +
            "        <!-- Carousel indicators -->\n" +
            "        <ol class=\"carousel-indicators\">\n" +
            "            <li data-target=\"#myCarousel\" data-slide-to=\"0\" class=\"active\"></li>\n" +
            "            <li data-target=\"#myCarousel\" data-slide-to=\"1\"></li>\n" +
            "            <li data-target=\"#myCarousel\" data-slide-to=\"2\"></li>\n" +
            "        </ol>\n" +
            "        <!-- Wrapper for carousel items -->\n" +
            "        <div class=\"carousel-inner\">\n" +
            "            <div class=\"carousel-item active\">\n" +
            "                <div class=\"numbertext\">This storyboard provides information for part time employees (1 / 5)</div>\n" +
            "                <img src=\"images/minwage/Part&Full time/1.png\" alt=\"First Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">This storyboard provides information for part time employees (2 / 5)</div>\n" +
            "                <img src=\"images/minwage/Part&Full time/2.png\" alt=\"Second Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">This storyboard provides information for part time employees (3 / 5)</div>\n" +
            "                <img src=\"images/minwage/Part&Full time/3.png\" alt=\"Third Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">This storyboard provides information for part time employees (4 / 5)</div>\n" +
            "                <img src=\"images/minwage/Part&Full time/4.png\" alt=\"Third Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">This storyboard provides information for part time employees (5 / 5)</div>\n" +
            "                <img src=\"images/minwage/Part&Full time/5.png\" alt=\"Third Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "        </div>\n" +
            "        <!-- Carousel controls -->\n" +
            "        <a class=\"carousel-control-prev\" href=\"#myCarousel\" data-slide=\"prev\">\n" +
            "            <span class=\"carousel-control-prev-icon\"></span>\n" +
            "        </a>\n" +
            "        <a class=\"carousel-control-next\" href=\"#myCarousel\" data-slide=\"next\">\n" +
            "            <span class=\"carousel-control-next-icon\"></span>\n" +
            "        </a>\n" +
            "    </div>";
    }

    function casualEmp(){
        let element_1 = document.getElementById("myCarousel");
        element_1.parentNode.removeChild(element_1);
        document.getElementById("wrapper_min").innerHTML = "    <div id=\"myCarousel\" class=\"carousel slide\" data-interval=\"3000\" data-ride=\"carousel\">\n" +
            "        <!-- Carousel indicators -->\n" +
            "        <ol class=\"carousel-indicators\">\n" +
            "            <li data-target=\"#myCarousel\" data-slide-to=\"0\" class=\"active\"></li>\n" +
            "            <li data-target=\"#myCarousel\" data-slide-to=\"1\"></li>\n" +
            "            <li data-target=\"#myCarousel\" data-slide-to=\"2\"></li>\n" +
            "        </ol>\n" +
            "        <!-- Wrapper for carousel items -->\n" +
            "        <div class=\"carousel-inner\">\n" +
            "            <div class=\"carousel-item active\">\n" +
            "                <div class=\"numbertext\">This storyboard provides information for casual employees (1 / 5)</div>\n" +
            "                <img src=\"images/minwage/casual/1.png\" alt=\"First Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">This storyboard provides information for casual employees (2 / 5)</div>\n" +
            "                <img src=\"images/minwage/casual/2.png\" alt=\"Second Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">This storyboard provides information for casual employees (3 / 5)</div>\n" +
            "                <img src=\"images/minwage/casual/3.png\" alt=\"Third Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">This storyboard provides information for casual employees (4 / 5)</div>\n" +
            "                <img src=\"images/minwage/casual/4.png\" alt=\"Third Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <div class=\"numbertext\">This storyboard provides information for casual employees (5 / 5)</div>\n" +
            "                <img src=\"images/minwage/casual/5.png\" alt=\"Third Slide\">\n" +
            "                <div class=\"carousel-caption d-none d-md-block\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "        </div>\n" +
            "        <!-- Carousel controls -->\n" +
            "        <a class=\"carousel-control-prev\" href=\"#myCarousel\" data-slide=\"prev\">\n" +
            "            <span class=\"carousel-control-prev-icon\"></span>\n" +
            "        </a>\n" +
            "        <a class=\"carousel-control-next\" href=\"#myCarousel\" data-slide=\"next\">\n" +
            "            <span class=\"carousel-control-next-icon\"></span>\n" +
            "        </a>\n" +
            "    </div>";
    }
</script>
</body>
</html>