<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Garry" content="">
    <title>Minimum Wage Page</title>
    
    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/working_hour.css" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <!-- Carousel code-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <title>Activate Bootstrap 4 Carousel via Data Attributes</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<!--    <style>-->
<!--        .carousel{-->
<!--            background: #eb8034;-->
<!--            margin-top: 20px;-->
<!--        }-->
<!--        .carousel-item{-->
<!--            text-align: center;-->
<!--            min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */-->
<!--            transition-duration: 10s;-->
<!--        }-->
<!--        .bs-example{-->
<!--            margin: 20px;-->
<!--        }-->
<!--    </style>-->
    <!-- carousel Code-->
</head>

<body class="gray_style">
<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
    <div class="container">
        <a class="navbar-brand-sharon" href="/">
            <div class = "logo-image">
                <img src="images/logo.png" class="img-fluid">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <span class="oi oi-home" title="home" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-home" href="/"><span id="homenav">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-employee" href="#entitlement">Employee Entitlement
                        <span id="nav-separator">|</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#au" data-reload onclick="translate_au();delete_motive_cn();">
                        <span class="flag-icon flag-icon-au"> </span>
                        <span id="nav-separator">English</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#cn" data-reload onclick="translate_cn();delete_motive_au();">
                        <span class="flag-icon flag-icon-cn" id="nav-separator"></span>
                        <span id="nav-separator">中文</span>
                        <span id="nav-separator">|</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#ce" data-reload onclick="casualEmp();">
                        <span id="nav-separator">Casual Employees</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#ce" data-reload onclick="delete_motive_cn();">
                        <span id="nav-separator">Full-Time Employees</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--  TILES CODE-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="tile">-->
<!--            <div class="tile-thumbnail" onclick="location.href='working_hour';" style="cursor: pointer;">-->
<!--                <img src="images/Check.your.minimum.wage.2.jpg" alt="My Awesome Tile">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="tile">-->
<!--            <div class="tile-thumbnail" onclick="location.href='pay_slip';" style="cursor: pointer;">-->
<!--                <img src="images/pay_slips.jpg" alt="My Awesome Tile">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="tile">-->
<!--            <div class="tile-thumbnail" onclick="location.href='superannuation';" style="cursor: pointer;">-->
<!--                <img src="images/Check.your.minimum.wage.3.jpg" alt="My Awesome Tile">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="tile">-->
<!--            <div class="tile-thumbnail" onclick="location.href='pay_rate_level';" style="cursor: pointer;">-->
<!--                <img src="images/pay_rate_level.jpg" alt="My Awesome Tile">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="pagina">
    <div class="linha">
        <div class="tile epic1" onclick="location.href='superannuation'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Super and Tax</span>
        </div>
        <div class="tile epic1" onclick="location.href='minimum_wage'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Minimum Wage</span>
        </div>
        <div class="tile epic1"  onclick="location.href='working_hour'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Working Hours</span>
        </div>
        <div class="tile epic1"  onclick="location.href='annual_bonus'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Annual Bonus</span>
        </div>
        <div class="tile epic2"  onclick="location.href='annual_leave'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Annual Leave</span>
        </div>
        <div class="tile epic1"  onclick="location.href='pay_raise_visu'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Pay Raise</span>
        </div>
        <div class="tile epic2"  onclick="location.href='pay_rate_level'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Pay Level</span>
        </div>
        <div class="tile epic1"  onclick="location.href='pay_slip'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Pay Slips</span>
        </div>
        <div class="tile epic2"  onclick="location.href='sick_leave'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Sick Leave</span>
        </div>
    </div>
</div>
<!-- TILES CODE END-->
<!--<div align="center">-->
<!--    <button class="button" data-reload onclick="myFunction1()">Casual Employees</button>-->
<!--    <button class="button" data-reload onclick="myFunction2()">Part/Full Time Employees</button>-->
<!--</div>-->

<!-- CAROUSEL CODE-->
<!--<div class="container">-->
<div id="wrapper_min">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol id="indicator_carousel" class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/minwage/Part&Full time/1.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img src="images/minwage/Part&Full time/2.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img src="images/minwage/Part&Full time/3.png" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img src="images/minwage/Part&Full time/4.png" alt="Fourth slide">
            </div>
            <div class="carousel-item">
                <img src="images/minwage/Part&Full time/5.png" alt="Fifth slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span id="color_prev" class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span id="color_prev" class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--</div>-->
<!--<div class="bs-example" id="wrapper_min">-->
<!--    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">-->
<!--        &lt;!&ndash; Carousel indicators &ndash;&gt;-->
<!--        <ol class="carousel-indicators">-->
<!--            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
<!--            <li data-target="#myCarousel" data-slide-to="1"></li>-->
<!--            <li data-target="#myCarousel" data-slide-to="2"></li>-->
<!--        </ol>-->
<!--        &lt;!&ndash; Wrapper for carousel items &ndash;&gt;-->
<!--        <div class="carousel-inner">-->
<!--            <div class="carousel-item active">-->
<!--                <div class="numbertext">This storyboard provides information for part time employees (1 / 5)</div>-->
<!--                <img src="images/minwage/Part&Full time/1.png" alt="First Slide">-->
<!--                <div class="carousel-caption d-none d-md-block">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <div class="numbertext">This storyboard provides information for part time employees (2 / 5)</div>-->
<!--                <img src="images/minwage/Part&Full time/2.png" alt="Second Slide">-->
<!--                <div class="carousel-caption d-none d-md-block">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <div class="numbertext">This storyboard provides information for part time employees (3 / 5)</div>-->
<!--                <img src="images/minwage/Part&Full time/3.png" alt="Third Slide">-->
<!--                <div class="carousel-caption d-none d-md-block">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <div class="numbertext">This storyboard provides information for part time employees (4 / 5)</div>-->
<!--                <img src="images/minwage/Part&Full time/4.png" alt="Fourth Slide">-->
<!--                <div class="carousel-caption d-none d-md-block">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <div class="numbertext">This storyboard provides information for part time employees (5 / 5)</div>-->
<!--                <img src="images/minwage/Part&Full time/5.png" alt="Fifth Slide">-->
<!--                <div class="carousel-caption d-none d-md-block">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Carousel controls &ndash;&gt;-->
<!--        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">-->
<!--            <span class="carousel-control-prev-icon"></span>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" href="#myCarousel" data-slide="next">-->
<!--            <span class="carousel-control-next-icon"></span>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->
<!-- CAROUSEL CODE END-->

<!-- Links start here-->
<div class="container" id="aboutus">
    <span id="page2-entitlement">Government Links and Helplines</span>
    <div id="rectangle"></div>
    <h2 id="min_wage">Minimum Wage</h2>
    <p id="text1">Certain employees may have different pay entitlements depending on whether they have a reduced work capacity because of disability, if they're under the age of 21 or if they are an apprentice or trainee.
            For more information about pay for these employees, visit:</p>
    <a href="https://www.fairwork.gov.au/pay/minimum-wages/employees-with-disability-pay-rates" id="link1">Employees with disability pay rates</a>
    <br>
    <a href="https://www.fairwork.gov.au/pay/minimum-wages/junior-pay-rates" id="link2">Junior Pay rates</a> <br>
    <a href="https://www.fairwork.gov.au/pay/minimum-wages/apprentice-and-trainee-pay-rates" id="link3">Apprentice and trainee pay rates</a> <br>
    <p id="text2">If you have questions about how much tax comes out of a pay rate, please contact the </p> <br>
    <a href="https://www.ato.gov.au/" id="link4">Australian Taxation Office</a>
    <hr>
    <article>
        <h2 id="head1">Working Hours Information</h2>
        <p id="text3">Most student visas allow you to work for up to 40 hours every two weeks while your course is in session,
            and unrestricted hours during any scheduled course break,
            but before you undertake any paid work you need to make sure your visa allows you to work.</p> <br>
        <p id="text4">Find out more information at the following link</p>
        <a href="https://www.homeaffairs.gov.au/" id="link5" >Department of Home Affairs website.</a>
        <hr>
    </article>
    <article>
        <h2 id="pay">Pay Slips and Record-Keeping</h2>
        <p id="text5">In any business, large or small, record-keeping is vital to success.
            Record-keeping and pay slip obligations ensure employees receive correct wages and entitlements.</p>
        <p id="text6"> Check out the following link to learn what has to be included on pay slips and find our pay slip template.</p>
        <a href="https://www.fairwork.gov.au/Pay/pay-slips-and-record-keeping/pay-slips" id="link6">Pay Slips page</a> <br> <br>
        <h3 id="income">Income Statements</h3>
        <p id="text7"> There have been changes to the way some employers need to report payroll information to the Australian Taxation Office (ATO).
            This includes payments such as:</p>
        <li id="list1">salaries and wages</li>
        <li id="list2">pay as you go (PAYG) withholding</li>
        <li id="list3">superannuation information.</li>
        <p id="text8">This reporting change is called Single Touch Payroll (STP).</p> <br>
        <p id="text9"> If an employer reports using STP, they don't have to give employees an end-of-year payment summary.
            An employee’s end-of-year payment summary - now called an income statement - will be available through their myGov account. <br>
            Go to the ATO’s website to learn more about: </p>
        <a href="https://www.ato.gov.au/Business/Single-Touch-Payroll/" id="link7">Single Touch Payroll</a>
        <hr>
    </article>
    <section>
        <h2 id="tax">Tax & Superannuation</h2>
        <p id="text10">For questions about your tax contact the ATO on 13 28 61 or </p>
        <a href="https://www.ato.gov.au/" id="link8">Visit Their Website</a> <br> <br>
        <h4 id="super">Superannuation Guarantee</h4>
        <p id="text11">Under the superannuation guarantee,
            employers have to pay superannuation contributions of 9.5%  of an employee's ordinary time earnings if:</p>
        <p id="text12">when an employee is paid $450 or more before tax in a month and is:</p>
        <li id="list4">over 18 years, or</li>
        <li id="list5">under 18 years and works over 30 hours a week.</li> <br>
        <p id="text13">This applies to full-time and part-time employees and some casual employees, and includes temporary residents.</p>
        <p id="text14">Superannuation has to be paid at least every 3 months, into the employee's nominated account.</p>
        <p id="text15">For more information about the superannuation guarantee, contact the ATO on 13 10 20 or, visit the </p>
        <a href="https://www.ato.gov.au/Super/" id="link9">ATO Website</a>

        <hr>
    </section>
</div>
<!--    FOOTER CODE-->
<footer>
    <div class="container">
        <div class="content-footer row">
            <div class="column-footer col-lg-6 col-md-6 col-sm-6">
                <h3><span id="quick-link">Quick Links</span></h3>
                <ul id="restaurant-hours">
                    <li>
                        <a href="pay_raise_visu"><span id="pay-raise-2">Pay Raise</span></a>
                    </li>
                    <li>
                        <a href="working_hour"> <span id="working-hours-2">Working Hours</span></a>
                    </li>
                    <li>
                        <a href="superannuation"><span id="super-ann">Superannuation</span></a>
                    </li>
                    <li>
                        <a href="sick_leave"><span id="sick-leave-ent">Sick Leave Entitlements</span></a>
                    <li>
                        <a href="annual_bonus"><span id="annual-bonus-2">Annual Bonus</span></a>
                    </li>
                </ul>
                <div class="line-divide first-line"></div>
            </div>

            <div class="column-footer col-lg-3 col-md-3 col-sm-7">
                <h3><span id="other-links">Other Useful Links</span></h3>
                <ul id="useful-links">
                    <li>
                        <a href="minimum_wage"><span id="min-wage-3">Minimum Wage</span></a>
                    </li>
                    <li>
                        <a href="pay_rate_level"><span id="view-pay-rate-3">View Your Pay Rate Level</span></a>
                    </li>
                    <li>
                        <a href="pay_slip"><span id="pay-slip-3">Pay Slip</span></a>
                    </li>
                    <li>
                        <a href="annual_leave"><span id="annual-leave-3">Annual Leave Entitlements</span></a>
                    </li>
                </ul>
                <div class="line-divide second-line"></div>
            </div>
        </div>
    </div>
    <div class="wrap-bottom-footer">
        <div class="container">
            <div class="bottom-footer row justify-content-between">
                <div class="col-12 col-sm-7">© <span id="copy-right">2019 KnowYourRights. All rights reserved.</span></div>
                <div class="col-12 col-sm-5"><span id="privacy-pol">Privacy Policy</span>
                    <span id="terms-of-use">Terms of use</span></div>
            </div>
        </div>
    </div>
</footer>
<%include back_top.ejs%>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script src="routes/scroll.js"></script>-->
<script>
    var dataReload = document.querySelectorAll("[data-reload]");

    //Language translations
    var language = {
        au:{
            welcome: "Welcome to KnowYourRights",
            home: "Home",
            minwage: "Minimum Wage"
        },
        cn:{
            welcome: "欢迎来到KnowYourRights",
            home: "主页",
            minwage: "最低工资"
        }
    };

    function translate_cn() {
        document.getElementById("homenav").textContent = "主页";
        document.getElementById("nav-link-employee").textContent = "员工权利";
        document.getElementById("page2-entitlement").textContent = "政府链接和热线电话";
        // document.getElementById("page2-entitlement_gov").textContent = "政府链接和帮助热线";
        document.getElementById("min_wage").textContent = "最低工资";
        document.getElementById("text1").textContent = "某些员工可能有不同的工资待遇，具体取决于他们是否因残疾而工作能力下降，如果他们未满21岁，或者他们是学徒或实习生。\n" +
            "        有关这些员工薪酬的更多信息，请访问：";
        document.getElementById("link1").textContent = "残疾员工支付费用";
        document.getElementById("link2").textContent = "初级工资率";
        document.getElementById("link3").textContent = "学徒和实习生支付费用";
        document.getElementById("text2").textContent = "如果您对工资税的影响有疑问，请联系";
        document.getElementById("link5").textContent = "\n" +
            "内政部网站";
        document.getElementById("link4").textContent = "澳大利亚税务局";
        document.getElementById("head1").textContent = "工作时间信息";
        document.getElementById("text3").textContent = "\n" +
            "大多数学生签证允许您在课程学习期间每两周最多工作40个小时，\n" +
            "        在任何计划的课程休息期间不受限制的时间，\n" +
            "        但是在您从事任何有偿工作之前，您需要确保签证允许您工作。";
        document.getElementById("text4").textContent = "在以下链接中查找更多信息";
        document.getElementById("link5").textContent = "内政部网站。";
        document.getElementById("pay").textContent = "工资单和记录保存";
        document.getElementById("text5").textContent = "在任何规模的企业中，保持记录对于成功都是至关重要的。\n" +
            "        记录保存和工资单义务确保员工获得正确的工资和权利。";
        document.getElementById("text6").textContent = "查看以下链接，了解工资单上必须包含的内容，并找到我们的工资单模板。";
        document.getElementById("link6").textContent = "工资单页面";
        document.getElementById("income").textContent = "收入报表";
        document.getElementById("text7").textContent = "一些雇主需要向澳大利亚税务局（ATO）报告工资信息的方式已经发生了变化。这包括付款，例如：";
        document.getElementById("list1").textContent = "工资薪金";
        document.getElementById("list2").textContent = "即付即用（PAYG）预扣款";
        document.getElementById("list3").textContent = "退休金信息";
        document.getElementById("text8").textContent = "此报告更改称为单点薪资（STP）";
        document.getElementById("text9").textContent = "如果雇主使用STP进行报告，则不必向员工提供年末付款摘要。员工的年末付款摘要（现称为损益表）将通过其myGov帐户提供。\n" +
            "转到ATO的网站以了解有关以下内容的更多信息：";
        document.getElementById("link7").textContent = "单点工资单";
        document.getElementById("tax").textContent = "税收和养老金";
        document.getElementById("text10").textContent = "有关您的税金的问题，请致电13 28 61或联系ATO。";
        document.getElementById("link8").textContent = "访问他们的网站";
        document.getElementById("super").textContent = "退休金保证";
        document.getElementById("text11").textContent = "在退休金保证下，\n" +
            "        在以下情况下，雇主必须支付雇员正常时间收入的9.5％的退休金：";
        document.getElementById("text12").textContent = "当雇员在一个月内获得税前$ 450或以上的报酬是：";
        document.getElementById("list4").textContent = "超过18年，或";
        document.getElementById("list5").textContent = "未满18岁，每周工作30小时以上";
        document.getElementById("text13").textContent = "这适用于全职和兼职雇员以及一些临时雇员，包括临时居民。";
        document.getElementById("text14").textContent = "至少每3个月将退休金存入员工的指定帐户中。";
        document.getElementById("text15").textContent = "有关退休金保证的更多信息，请致电13 10 20与ATO联系，或访问";
        document.getElementById("link9").textContent = "ATO网站";
        document.getElementById("quick-link").textContent = "快速链接";
        document.getElementById("working-hours-2").textContent = "工作时间";
        document.getElementById("super-ann").textContent = "退休金";
        document.getElementById("sick-leave-ent").textContent = "病假权利";
        document.getElementById("annual-bonus-2").textContent = "年度奖金";
        document.getElementById("pay-raise-2").textContent = "加薪";
        document.getElementById("other-links").textContent = "其他有用的链接";
        document.getElementById("min-wage-3").textContent = "最低工资";
        document.getElementById("view-pay-rate-3").textContent = "查看您的工资水平";
        document.getElementById("pay-slip-3").textContent = "工资单";
        document.getElementById("annual-leave-3").textContent = "年假权利";
        document.getElementById("copy-right").textContent = "2019年KnowYourRights。版权所有。";
        document.getElementById("privacy-pol").textContent = "隐私政策";
        document.getElementById("terms-of-use").textContent = "使用条款";


    }
    function translate_au() {
        document.getElementById("homenav").textContent = "Home";
        document.getElementById("nav-link-employee").textContent = "Employee Entitlement";
        document.getElementById("page2-entitlement").textContent = "Government Links and Helplines";
        // document.getElementById("page2-entitlement").textContent = "Infographics";
        document.getElementById("min_wage").textContent = "Minimum Wage";
        document.getElementById("text1").textContent = "Certain employees may have different pay entitlements depending on whether they have a reduced work capacity because of disability, if they're under the age of 21 or if they are an apprentice or trainee.\n" +
            "        For more information about pay for these employees, visit:";
        document.getElementById("link1").textContent = "Employees with disability pay rates";
        document.getElementById("link2").textContent = "Junior Pay rates";
        document.getElementById("link3").textContent = "Apprentice and trainee pay rates";
        document.getElementById("text2").textContent = "If you have questions about how much tax comes out of a pay rate, please contact the";
        document.getElementById("link4").textContent = "Australian Taxation Office";
        document.getElementById("head1").textContent = "Working Hours Information";
        document.getElementById("text3").textContent = "Most student visas allow you to work for up to 40 hours every two weeks while your course is in session,\n" +
            "        and unrestricted hours during any scheduled course break,\n" +
            "        but before you undertake any paid work you need to make sure your visa allows you to work.";
        document.getElementById("text4").textContent = "Find out more information at the following link.";
        document.getElementById("link5").textContent = "Department of Home Affairs website.";
        document.getElementById("pay").textContent = "Pay Slips and Record-Keeping";
        document.getElementById("text5").textContent = "In any business, large or small, record-keeping is vital to success.\n" +
            "        Record-keeping and pay slip obligations ensure employees receive correct wages and entitlements.";
        document.getElementById("text6").textContent = "Check out the following link to learn what has to be included on pay slips and find our pay slip template.";
        document.getElementById("link6").textContent = "Pay Slips page";
        document.getElementById("income").textContent = "Income Statements";
        document.getElementById("text7").textContent = "There have been changes to the way some employers need to report payroll information to the Australian Taxation Office (ATO). This includes payments such as:";
        document.getElementById("list1").textContent = "salaries and wages";
        document.getElementById("list2").textContent = "pay as you go (PAYG) withholding";
        document.getElementById("list3").textContent = "superannuation information";
        document.getElementById("text8").textContent = "This reporting change is called Single Touch Payroll (STP)";
        document.getElementById("text9").textContent = "If an employer reports using STP, they don't have to give employees an end-of-year payment summary. An employee’s end-of-year payment summary - now called an income statement - will be available through their myGov account. \n" +
            "Go to the ATO’s website to learn more about:";
        document.getElementById("link7").textContent = "Single Touch Payroll";
        document.getElementById("tax").textContent = "Tax & Superannuation";
        document.getElementById("text10").textContent = "For questions about your tax contact the ATO on 13 28 61 or";
        document.getElementById("link8").textContent = "Visit Their Website";
        document.getElementById("super").textContent = "Superannuation Guarantee";
        document.getElementById("text11").textContent = "Under the superannuation guarantee,\n" +
            "        employers have to pay superannuation contributions of 9.5%  of an employee's ordinary time earnings if:";
        document.getElementById("text12").textContent = "when an employee is paid $450 or more before tax in a month and is:";
        document.getElementById("list4").textContent = "over 18 years, or";
        document.getElementById("list5").textContent = "under 18 years and works over 30 hours a week";
        document.getElementById("text13").textContent = "This applies to full-time and part-time employees and some casual employees, and includes temporary residents.";
        document.getElementById("text14").textContent = "Superannuation has to be paid at least every 3 months, into the employee's nominated account.";
        document.getElementById("text15").textContent = "For more information about the superannuation guarantee, contact the ATO on 13 10 20 or, visit the";
        document.getElementById("link9").textContent = "ATO Website";
        document.getElementById("quick-link").textContent = "Quick Links";
        document.getElementById("working-hours-2").textContent = "Working Hours";
        document.getElementById("super-ann").textContent = "Superannuation";
        document.getElementById("sick-leave-ent").textContent = "Sick Leave Entitlements";
        document.getElementById("annual-bonus-2").textContent = "Annual Bonus";
        document.getElementById("pay-raise-2").textContent = "Pay Raise";
        document.getElementById("other-links").textContent = "Other Useful Links";
        document.getElementById("min-wage-3").textContent = "Minimum Wage";
        document.getElementById("view-pay-rate-3").textContent = "View Your Pay Rate Level";
        document.getElementById("pay-slip-3").textContent = "Pay Slip";
        document.getElementById("annual-leave-3").textContent = "Annual Leave Entitlements";
        document.getElementById("copy-right").textContent = "2019 KnowYourRights. All rights reserved.";
        document.getElementById("privacy-pol").textContent = "Privacy Policy";
        document.getElementById("terms-of-use").textContent = "Terms of Use";
    }

    function delete_motive_au(){
        let element_1 = document.getElementById("carouselExampleIndicators");
        element_1.parentNode.removeChild(element_1);
        document.getElementById("wrapper_min").innerHTML = " <div id=\"carouselExampleIndicators\" class=\"carousel slide\" data-ride=\"carousel\">\n" +
            "        <ol id=\"indicator_carousel\" class=\"carousel-indicators\">\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"0\" class=\"active\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"1\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"2\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"3\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"4\"></li>\n" +
            "        </ol>\n" +
            "        <div class=\"carousel-inner\">\n" +
            "            <div class=\"carousel-item active\">\n" +
            "                <img src=\"images/minwage/part_full/1.png\" alt=\"First slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/part_full/2.png\" alt=\"Second slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/part_full/3.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/part_full/4.png\" alt=\"Fourth slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/part_full/5.png\" alt=\"Fifth slide\">\n" +
            "            </div>\n" +
            "        </div>\n" +
            "        <a class=\"carousel-control-prev\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"prev\">\n" +
            "            <span id=\"color_prev\" class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n" +
            "            <span id=\"color_prev\" class=\"sr-only\">Previous</span>\n" +
            "        </a>\n" +
            "        <a class=\"carousel-control-next\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"next\">\n" +
            "            <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n" +
            "            <span class=\"sr-only\">Next</span>\n" +
            "        </a>\n" +
            "    </div>";
    }

    function delete_motive_cn(){
        let element_1 = document.getElementById("carouselExampleIndicators");
        element_1.parentNode.removeChild(element_1);
        document.getElementById("wrapper_min").innerHTML = " <div id=\"carouselExampleIndicators\" class=\"carousel slide\" data-ride=\"carousel\">\n" +
            "        <ol id=\"indicator_carousel\" class=\"carousel-indicators\">\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"0\" class=\"active\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"1\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"2\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"3\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"4\"></li>\n" +
            "        </ol>\n" +
            "        <div class=\"carousel-inner\">\n" +
            "            <div class=\"carousel-item active\">\n" +
            "                <img src=\"images/minwage/Part&Full time/1.png\" alt=\"First slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/Part&Full time/2.png\" alt=\"Second slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/Part&Full time/3.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/Part&Full time/4.png\" alt=\"Fourth slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/Part&Full time/5.png\" alt=\"Fifth slide\">\n" +
            "            </div>\n" +
            "        </div>\n" +
            "        <a class=\"carousel-control-prev\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"prev\">\n" +
            "            <span id=\"color_prev\" class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n" +
            "            <span id=\"color_prev\" class=\"sr-only\">Previous</span>\n" +
            "        </a>\n" +
            "        <a class=\"carousel-control-next\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"next\">\n" +
            "            <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n" +
            "            <span class=\"sr-only\">Next</span>\n" +
            "        </a>\n" +
            "    </div>";
    }

    function casualEmp(){
        let element_1 = document.getElementById("carouselExampleIndicators");
        element_1.parentNode.removeChild(element_1);
        document.getElementById("wrapper_min").innerHTML = "<div id=\"carouselExampleIndicators\" class=\"carousel slide\" data-ride=\"carousel\">\n" +
            "        <ol id=\"indicator_carousel\" class=\"carousel-indicators\">\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"0\" class=\"active\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"1\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"2\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"3\"></li>\n" +
            "            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"4\"></li>\n" +
            "        </ol>\n" +
            "        <div class=\"carousel-inner\">\n" +
            "            <div class=\"carousel-item active\">\n" +
            "                <img src=\"images/minwage/casual/1.png\" alt=\"First slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/casual/2.png\" alt=\"Second slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/casual/3.png\" alt=\"Third slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/casual/4.png\" alt=\"Fourth slide\">\n" +
            "            </div>\n" +
            "            <div class=\"carousel-item\">\n" +
            "                <img src=\"images/minwage/casual/5.png\" alt=\"Fifth slide\">\n" +
            "            </div>\n" +
            "        </div>\n" +
            "        <a class=\"carousel-control-prev\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"prev\">\n" +
            "            <span id=\"color_prev\" class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n" +
            "            <span id=\"color_prev\" class=\"sr-only\">Previous</span>\n" +
            "        </a>\n" +
            "        <a class=\"carousel-control-next\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"next\">\n" +
            "            <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n" +
            "            <span class=\"sr-only\">Next</span>\n" +
            "        </a>\n" +
            "    </div>";
    }
    $(function(){
        $(".tile").mousedown(function(){
            $(this).addClass("selecionado");
        });

        $(".tile").mouseup(function(){
            $(this).removeClass("selecionado");
        });
    });
</script>
</body>
</html>