<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Garry" content="">
    <title>Pay Slips Page</title>
    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/working_hour.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
</head>
</html>

<body style="background-color: #f0f0f0;">
<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
    <div class="container">
        <a class="navbar-brand-sharon" href="/">
            <div class = "logo-image">
                <img src="images/logo.png" class="img-fluid">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <div id="menu_area" class="menu-area">
                    <div class="container">
                        <div class="row">
                            <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li><a id="nav_home" href="/" style="font-family: Josefin Sans;">Home</a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">Employee Entitlements</span></a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Pay</span></a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li ><a  id="myfont_1" href="#">Minimum Wage</a></li>
                                                        <li><a  id="myfont_2" href="#">Pay Slip</a></li>
                                                        <li><a id="myfont_3"  href="#">Superannuation</a></li>
                                                        <li><a id="myfont_4"  href="#">Working Hours</a></li>
                                                        <li><a id="myfont_5" href="#">Annual Bonus</a></li>
                                                        <li><a id="myfont_6" href="#">Quick Info</a></li>
                                                        <li><a id="myfont_20" href="#">Salary&Job Analysis</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Leave</span></a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li><a id="myfont_8" href="#">Annual Leave Entitlements</a></li>
                                                        <li><a id="myfont_9" href="#">Sick Leave Entitlements</a></li>
                                                        <li><a id="myfont_10" href="#">Quick Info</a></li>
                                                        <li><a id="myfont_21" href="#">Paid Leave Analysis</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Contract</span></a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li>
                                                            <a id="myfont_12" href="#">Contract Information</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_13" href="#">Industrial Action</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_14" href="#">Redundancy</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_15" href="#">Resignation</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_16" href="#">Unfair Dismissal Case</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_17" href="#">Unfair Dismissal</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_18" href="#">Infographic</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_22" href="#">Injury Analysis</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a id="myfont_23" href="#">External Links</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#au" data-reload onclick="translate_au(); delete_motive_cn();">
                        <span class="flag-icon flag-icon-au"> </span>
                        <span id="nav-separator">English</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#cn" data-reload onclick="translate_cn(); delete_motive_au();">
                        <span class="flag-icon flag-icon-cn" id="nav-separator"></span>
                        <span id="nav-separator">中文</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- CAROUSEL CODE-->
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="container my-4" id="min_wrapper">
                <!--                <hr class="my-4">-->
                <!--Carousel Wrapper-->
                <div id="carousel-thumb" data-interval="false" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                    <!--Slides-->
                    <div id="trial" class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_1.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_2.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_3.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_4.png" alt="Fourth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_5.png" alt="Fifth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_6.png" alt="Fifth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                    <ol id ="indicator_caro" class="carousel-indicators">
                        <li data-target="#carousel-thumb" data-slide-to="0" class="active">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_1.png" class="img-fluid">
                        </li>
                        <li data-target="#carousel-thumb" data-slide-to="1">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_2.png" class="img-fluid">
                        </li>
                        <li data-target="#carousel-thumb" data-slide-to="2">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_3.png" class="img-fluid">
                        </li>
                        <li data-target="#carousel-thumb" data-slide-to="3">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_4.png" class="img-fluid">
                        </li>
                        <li data-target="#carousel-thumb" data-slide-to="4">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_5.png" class="img-fluid">
                        </li>
                        <li data-target="#carousel-thumb" data-slide-to="5">
                            <img class="d-block w-100" src="images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_6.png" class="img-fluid">
                        </li>
                    </ol>
                </div>
                <!--/.Carousel Wrapper-->
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <!--/.Slides-->
            <!--Controls-->

        </div>
        <div class="col-2"></div>
    </div>
</div>
<!-- CAROUSEL CODE END-->


<!-- FOOTER CODE -->

<footer id="myfooter">
    <div class="container content-footer">
        <div class=" row">
            <div class="column-footer col-lg-6 col-md-6 col-sm-6">
                <h3><span id="quick-link">Quick Links</span></h3>
                <ul id="restaurant-hours">
                    <li>
                        <a href="pay_raise_visu"><span id="pay-raise-2">Pay Raise</span></a>
                    </li>
                    <li>
                        <a href="working_hour"> <span id="working-hours-2">Working Hours</span></a>
                    </li>
                    <li>
                        <a href="superannuation"><span id="super-ann">Superannuation</span></a>
                    </li>
                    <li>
                        <a href="sick_leave"><span id="sick-leave-ent">Sick Leave Entitlements</span></a>
                    <li>
                        <a href="annual_bonus"><span id="annual-bonus-2">Annual Bonus</span></a>
                    </li>
                </ul>
                <div class="line-divide first-line"></div>
            </div>

            <div class="column-footer col-lg-3 col-md-3 col-sm-7">
                <h3><span id="other-links">Other Useful Links</span></h3>
                <ul id="useful-links">
                    <li>
                        <a href="minimum_wage"><span id="min-wage-3">Minimum Wage</span></a>
                    </li>
                    <li>
                        <a href="pay_rate_level"><span id="view-pay-rate-3">View Your Pay Rate Level</span></a>
                    </li>
                    <li>
                        <a href="pay_slip"><span id="pay-slip-3">Pay Slip</span></a>
                    </li>
                    <li>
                        <a href="annual_leave"><span id="annual-leave-3">Annual Leave Entitlements</span></a>
                    </li>
                </ul>
                <div class="line-divide second-line"></div>
            </div>
        </div>
    </div>
    <div class="wrap-bottom-footer">
        <div class="container">
            <div class="bottom-footer row justify-content-between">
                <div class="col-12 col-sm-7">© <span id="copy-right">2019 KnowYourRights. All rights reserved.</span></div>
                <div class="col-12 col-sm-5"><span id="privacy-pol">Privacy Policy</span>
                    <span id="terms-of-use">Terms of use</span></div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER CODE END-->

<%include back_top.ejs%>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script src="routes/scroll.js"></script>-->
<script>
    var dataReload = document.querySelectorAll("[data-reload]");

    //Language translations
    var language = {
        au:{
            welcome: "Welcome to KnowYourRights",
            home: "Home",
            minwage: "Minimum Wage"
        },
        cn:{
            welcome: "欢迎来到KnowYourRights",
            home: "主页",
            minwage: "最低工资"
        }
    };
    function translate_cn() {
        document.getElementById("nav_home").textContent = "主页";
        document.getElementById("navbarDropdown").textContent = "员工权利";
        document.getElementById("navbar1").textContent = "关于您的薪水";
        document.getElementById("myfont_1").textContent = "最低工资";
        document.getElementById("myfont_2").textContent = "工资单";
        document.getElementById("myfont_3").textContent = "退休金";
        document.getElementById("myfont_4").textContent = "工作时间";
        document.getElementById("myfont_5").textContent = "年度奖金";
        document.getElementById("myfont_6").textContent = "快速资讯";
        document.getElementById("myfont_20").textContent = "薪资和工作分析";
        document.getElementById("navbar2").textContent = "关于您的假期";
        document.getElementById("myfont_8").textContent = "年假权利";
        document.getElementById("myfont_9").textContent = "病假权利";
        document.getElementById("myfont_10").textContent = "快速资讯";
        document.getElementById("myfont_21").textContent = "带薪休假分析";
        document.getElementById("navbar3").textContent = "关于您的合同";
        document.getElementById("myfont_12").textContent = "合同信息";
        document.getElementById("myfont_13").textContent = "工业行动";
        document.getElementById("myfont_14").textContent = "冗余";
        document.getElementById("myfont_15").textContent = "辞职";
        document.getElementById("myfont_16").textContent = "不公平解雇案";
        document.getElementById("myfont_17").textContent = "不公平解雇";
        document.getElementById("myfont_18").textContent = "快速资讯";
        document.getElementById("myfont_22").textContent = "损伤分析";
        document.getElementById("myfont_23").textContent = "外部链接";
        document.getElementById("quick-link").textContent = "快速链接";
        document.getElementById("working-hours-2").textContent = "工作时间";
        document.getElementById("super-ann").textContent = "退休金";
        document.getElementById("sick-leave-ent").textContent = "病假权利";
        document.getElementById("annual-bonus-2").textContent = "年度奖金";
        document.getElementById("pay-raise-2").textContent = "加薪";
        document.getElementById("other-links").textContent = "其他有用的链接";
        document.getElementById("min-wage-3").textContent = "最低工资";
        document.getElementById("view-pay-rate-3").textContent = "查看您的工资水平";
        document.getElementById("pay-slip-3").textContent = "工资单";
        document.getElementById("annual-leave-3").textContent = "年假权利";
        document.getElementById("copy-right").textContent = "2019年KnowYourRights。版权所有。";
        document.getElementById("privacy-pol").textContent = "隐私政策";
        document.getElementById("terms-of-use").textContent = "使用条款";
    }
    function translate_au() {
        document.getElementById("nav_home").textContent = "Home";
        document.getElementById("navbarDropdown").textContent = "Employee Entitlement";
        document.getElementById("navbar1").textContent = "About Your Pay";
        document.getElementById("myfont_1").textContent = "Minimum Wage";
        document.getElementById("myfont_2").textContent = "Pay Slip";
        document.getElementById("myfont_3").textContent = "Superannuation";
        document.getElementById("myfont_4").textContent = "Working Hours";
        document.getElementById("myfont_5").textContent = "Annual Bonus";
        document.getElementById("myfont_6").textContent = "Quick Info";
        document.getElementById("myfont_20").textContent = "Salary&Job Analysis";
        document.getElementById("navbar2").textContent = "About Your leave";
        document.getElementById("myfont_8").textContent = "Annual Leave Entitlements";
        document.getElementById("myfont_9").textContent = "Sick Leave Entitlements";
        document.getElementById("myfont_10").textContent = "Quick Info";
        document.getElementById("myfont_21").textContent = "Paid Leave Analysis";
        document.getElementById("navbar3").textContent = "About Your Contract";
        document.getElementById("myfont_12").textContent = "Contract Information";
        document.getElementById("myfont_13").textContent = "industrial Action";
        document.getElementById("myfont_14").textContent = "Redundancy";
        document.getElementById("myfont_15").textContent = "Resignation";
        document.getElementById("myfont_16").textContent = "Unfair Dismissal Case";
        document.getElementById("myfont_17").textContent = "Unfair Dismissal";
        document.getElementById("myfont_18").textContent = "Quick Info";
        document.getElementById("myfont_22").textContent = "Injury Analysis";
        document.getElementById("myfont_23").textContent = "External Links";
        document.getElementById("quick-link").textContent = "Quick Links";
        document.getElementById("working-hours-2").textContent = "Working Hours";
        document.getElementById("super-ann").textContent = "Superannuation";
        document.getElementById("sick-leave-ent").textContent = "Sick Leave Entitlements";
        document.getElementById("annual-bonus-2").textContent = "Annual Bonus";
        document.getElementById("pay-raise-2").textContent = "Pay Raise";
        document.getElementById("other-links").textContent = "Other Useful Links";
        document.getElementById("min-wage-3").textContent = "Minimum Wage";
        document.getElementById("view-pay-rate-3").textContent = "View Your Pay Rate Level";
        document.getElementById("pay-slip-3").textContent = "Pay Slip";
        document.getElementById("annual-leave-3").textContent = "Annual Leave Entitlements";
        document.getElementById("copy-right").textContent = "2019 KnowYourRights. All rights reserved.";
        document.getElementById("privacy-pol").textContent = "Privacy Policy";
        document.getElementById("terms-of-use").textContent = "Terms of Use";
    }

    function delete_motive_au(){
        let element_1 = document.getElementById("carousel-thumb");
        element_1.parentNode.removeChild(element_1);
        document.getElementById("min_wrapper").innerHTML = " <div id=\"carousel-thumb\" data-interval=\"false\" class=\"carousel slide carousel-fade carousel-thumbnails\" data-ride=\"carousel\">\n" +
            "                    <!--Slides-->\n" +
            "                    <div id=\"trial\" class=\"carousel-inner\" role=\"listbox\">\n" +
            "                        <div class=\"carousel-item active\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/1.png\" alt=\"First slide\">\n" +
            "                        </div>\n" +
            "                        <div class=\"carousel-item\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/2.png\" alt=\"Second slide\">\n" +
            "                        </div>\n" +
            "                        <div class=\"carousel-item\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/3.png\" alt=\"Third slide\">\n" +
            "                        </div>\n" +
            "                        <div class=\"carousel-item\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/4.png\" alt=\"Fourth slide\">\n" +
            "                        </div>\n" +
            "                        <div class=\"carousel-item\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/5.png\" alt=\"Fifth slide\">\n" +
            "                        </div>\n" +
            "                        <div class=\"carousel-item\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/6.png\" alt=\"Fifth slide\">\n" +
            "                        </div>\n" +
            "                    </div>\n" +
            "                    <a class=\"carousel-control-prev\" href=\"#carousel-thumb\" role=\"button\" data-slide=\"prev\">\n" +
            "                        <span class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n" +
            "                        <span class=\"sr-only\">Previous</span>\n" +
            "                    </a>\n" +
            "                    <a class=\"carousel-control-next\" href=\"#carousel-thumb\" role=\"button\" data-slide=\"next\">\n" +
            "                        <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n" +
            "                        <span class=\"sr-only\">Next</span>\n" +
            "                    </a>\n" +
            "                    <!--/.Controls-->\n" +
            "                    <ol id =\"indicator_caro\" class=\"carousel-indicators\">\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"0\" class=\"active\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/1.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"1\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/2.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"2\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/3.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"3\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/4.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"4\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/5.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"5\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/st-board-chinese-1/pay_slip_cn/6.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                    </ol>\n" +
            "                </div>";
    }

    function delete_motive_cn(){
        let element_1 = document.getElementById("carousel-thumb");
        element_1.parentNode.removeChild(element_1);
        document.getElementById("min_wrapper").innerHTML = "<div id=\"carousel-thumb\" data-interval=\"false\" class=\"carousel slide carousel-fade carousel-thumbnails\" data-ride=\"carousel\">\n" +
            "                    <!--Slides-->\n" +
            "                    <div id=\"trial\" class=\"carousel-inner\" role=\"listbox\">\n" +
            "                        <div class=\"carousel-item active\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_1.png\" alt=\"First slide\">\n" +
            "                        </div>\n" +
            "                        <div class=\"carousel-item\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_2.png\" alt=\"Second slide\">\n" +
            "                        </div>\n" +
            "                        <div class=\"carousel-item\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_3.png\" alt=\"Third slide\">\n" +
            "                        </div>\n" +
            "                        <div class=\"carousel-item\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_4.png\" alt=\"Fourth slide\">\n" +
            "                        </div>\n" +
            "                        <div class=\"carousel-item\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_5.png\" alt=\"Fifth slide\">\n" +
            "                        </div>\n" +
            "                        <div class=\"carousel-item\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_6.png\" alt=\"Fifth slide\">\n" +
            "                        </div>\n" +
            "                    </div>\n" +
            "                    <a class=\"carousel-control-prev\" href=\"#carousel-thumb\" role=\"button\" data-slide=\"prev\">\n" +
            "                        <span class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n" +
            "                        <span class=\"sr-only\">Previous</span>\n" +
            "                    </a>\n" +
            "                    <a class=\"carousel-control-next\" href=\"#carousel-thumb\" role=\"button\" data-slide=\"next\">\n" +
            "                        <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n" +
            "                        <span class=\"sr-only\">Next</span>\n" +
            "                    </a>\n" +
            "                    <!--/.Controls-->\n" +
            "                    <ol id =\"indicator_caro\" class=\"carousel-indicators\">\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"0\" class=\"active\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_1.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"1\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_2.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"2\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_3.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"3\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_4.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"4\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_5.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                        <li data-target=\"#carousel-thumb\" data-slide-to=\"5\">\n" +
            "                            <img class=\"d-block w-100\" src=\"images/ABOUT_PAY/Pay_pay_slip/pay_pay_slip_6.png\" class=\"img-fluid\">\n" +
            "                        </li>\n" +
            "                    </ol>\n" +
            "                </div>";
    }
    $(function(){
        $(".tile").mousedown(function(){
            $(this).addClass("selecionado");
        });

        $(".tile").mouseup(function(){
            $(this).removeClass("selecionado");
        });
    });
</script>

</body>