<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Garry" content="">
    <title>View you pay level</title>


    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/working_hour.css" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
</head>
</html>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
    <div class="container">
        <a class="navbar-brand-sharon" href="/">
            <div class = "logo-image">
                <img src="images/logo.png" class="img-fluid">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <span class="oi oi-home" title="home" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-home" href="/"><span id="homenav">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-employee" href="#entitlement">Employee Entitlement
                        <span id="nav-separator">|</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#au" data-reload onclick="translate_au()"><span class="flag-icon flag-icon-au"></span>
                        <span id="nav-separator">English</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link-au" href="#cn" data-reload onclick="translate_cn()">
                        <span class="flag-icon flag-icon-cn" id="nav-separator"></span>
                        <span id="nav-separator">中文</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--  TILES CODE-->
<div class="pagina">
    <div class="linha">
        <div class="tile amarelo" onclick="location.href='superannuation'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Super and Tax</span>
        </div>
        <div class="tile azul" onclick="location.href='minimum_wage'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Minimum Wage</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='working_hour'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Working Hours</span>
        </div>
        <div class="tile verde"  onclick="location.href='annual_bonus'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Annual Bonus</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='annual_leave'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Annual Leave</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='pay_raise_visu'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Pay Raise</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='pay_rate_level'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Pay Level</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='pay_slip'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Pay Slips</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='sick_leave'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Sick Leave</span>
        </div>
    </div>
</div>
<!-- TILES CODE END-->

<!-- Visualisation code-->
<div class="w3-container">
<div class='tableauPlaceholder' id='viz1568715504795' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;pa&#47;payraise&#47;Dashboard1&#47;1_rss.png' style='border: none' />
        </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='payraise&#47;Dashboard1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;pa&#47;payraise&#47;Dashboard1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
    </object>
</div>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1568715504795');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.minWidth='1100px';vizElement.style.maxWidth='1700px';vizElement.style.width='100%';vizElement.style.minHeight='587px';vizElement.style.maxHeight='887px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
</div>
<!-- Visualisation code end-->
<%include footer.ejs%>
<script>
    var dataReload = document.querySelectorAll("[data-reload]");

    //Language translations
    var language = {
        au:{
            welcome: "Welcome to KnowYourRights",
            home: "Home",
            minwage: "Minimum Wage"
        },
        cn:{
            welcome: "欢迎来到KnowYourRights",
            home: "主页",
            minwage: "最低工资"
        }
    };
    //Define language using window hashing
    // if (window.location.hash) {
    //   //console.log(window.location.hash);
    //   if (window.location.hash === "#cn") {
    //     homenav.textContent = language.cn.home;
    //     minwage.textContent = language.cn.minwage;
    //   } else {
    //     homenav.textContent = language.au.home;
    //     minwage.textContent = language.au.minwage;
    //   }
    // }
    // //Language Reload onclick illiteration
    // for(i=0; i< dataReload.length; i++){
    //   //console.log(dataReload[i]);
    //   dataReload[i].onclick = function(){
    //     //console.log("hello");
    //     if(window.location.hash === "#au"){
    //       //window.location.href = "#au";
    //       alert("hello");
    //       // window.location.reload();
    //     }
    //     else if(window.location.hash === "#cn"){
    //       //window.location.href = "#cn";
    //       // window.location.reload();
    //     }
    //   };
    // }
    function translate_cn() {
        document.getElementById("homenav").textContent = "主页";
        document.getElementById("nav-link-employee").textContent = "员工权利";
        document.getElementById("international-st").textContent = "对于国际学生";
        document.getElementById("know-entitle").textContent = "了解你的工作权利";
        document.getElementById("page2-entitlement").textContent = "员工权利";
        document.getElementById("about-your-pay").textContent = "关于你的工资";
        document.getElementById("minwage").textContent = "最低工资";
        document.getElementById("pay-slip").textContent = "支付单";
        document.getElementById("super-an").textContent = "退休金";
        document.getElementById("working-hrs").textContent = "工作时间";
        document.getElementById("view-pay-rate").textContent = "查看您的工资水平";
        document.getElementById("about-your-leave").textContent = "关于你的假期";
        document.getElementById("pay-raise").textContent = "加薪";
        document.getElementById("annual-bonus").textContent = "年度奖金";
        document.getElementById("annual-leave-entitle").textContent = "年假权利";
        document.getElementById("sick-leave-entitle").textContent = "病假权利";
        document.getElementById("page2-motive").textContent = "我们的动机";
        document.getElementById("quick-link").textContent = "快速链接";
        document.getElementById("pay-raise-2").textContent = "加薪";
        document.getElementById("working-hours-2").textContent = "工作时间";
        document.getElementById("super-ann").textContent = "养老金";
        document.getElementById("sick-leave-ent").textContent = "病假权利";
        document.getElementById("annual-bonus-2").textContent = "年度奖金";
        document.getElementById("other-links").textContent = "其他有用的链接";
        document.getElementById("min-wage-3").textContent = "最低工资";
        document.getElementById("view-pay-rate-3").textContent = "查看您的工资水平";
        document.getElementById("pay-slip-3").textContent = "工资单";
        document.getElementById("annual-leave-3").textContent = "年假权利";
        document.getElementById("copy-right").textContent = "2019年KnowYourRights。版权所有。";
        document.getElementById("privacy-pol").textContent = "隐私政策";
        document.getElementById("terms-of-use").textContent = "使用条款";


    }
    function translate_au() {
        document.getElementById("homenav").textContent = "Home";
        document.getElementById("nav-link-employee").textContent = "Employee Entitlement";
        document.getElementById("international-st").textContent = "For International Students";
        document.getElementById("know-entitle").textContent = "Know Your Entitlements";
        document.getElementById("page2-entitlement").textContent = "EMPLOYEE ENTITLEMENT";
        document.getElementById("about-your-pay").textContent = "About Your Pay";
        document.getElementById("minwage").textContent = "Minimum Wage";
        document.getElementById("pay-slip").textContent = "Pay Slip";
        document.getElementById("super-an").textContent = "Superannuation";
        document.getElementById("working-hrs").textContent = "Working Hours";
        document.getElementById("view-pay-rate").textContent = "View Your Pay Rate Level";
        document.getElementById("about-your-leave").textContent = "About Your Leave";
        document.getElementById("pay-raise").textContent = "Pay Raise";
        document.getElementById("annual-bonus").textContent = "Annual Bonus";
        document.getElementById("annual-leave-entitle").textContent = "Annual Leave Entitlements";
        document.getElementById("sick-leave-entitle").textContent = "Sick Leave Entitlements";
        document.getElementById("page2-motive").textContent = "Our Motive";
        document.getElementById("quick-link").textContent = "Quick Links";
        document.getElementById("pay-raise-2").textContent = "Pay Raise";
        document.getElementById("working-hours-2").textContent = "Working Hours";
        document.getElementById("super-ann").textContent = "Superannuation";
        document.getElementById("sick-leave-ent").textContent = "Sick Leave Entitlements";
        document.getElementById("annual-bonus-2").textContent = "Annual Bonus";
        document.getElementById("other-links").textContent = "Other Useful Links";
        document.getElementById("min-wage-3").textContent = "Minimum Wage";
        document.getElementById("view-pay-rate-3").textContent = "View Your Pay Rate Level";
        document.getElementById("pay-slip-3").textContent = "Pay Slip";
        document.getElementById("annual-leave-3").textContent = "Annual Leave Entitlements";
        document.getElementById("copy-right").textContent = "2019 KnowYourRights. All rights reserved.";
        document.getElementById("privacy-pol").textContent = "Privacy Policy";
        document.getElementById("terms-of-use").textContent = "Terms of Use";
    }
    $(function(){
        $(".tile").mousedown(function(){
            $(this).addClass("selecionado");
        });

        $(".tile").mouseup(function(){
            $(this).removeClass("selecionado");
        });
    });
    </script>
</body>