<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Garry" content="">
    <title>View you pay level</title>


    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/working_hour.css" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">

<!--    VISUALIZATION LINK D3-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <link rel="stylesheet" href="css/story.css">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
</html>

<body>
<%include header.ejs%>

<!--  TILES CODE-->
<div class="pagina">
    <div class="linha">
        <div class="tile amarelo" onclick="location.href='superannuation'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Super and Tax</span>
        </div>
        <div class="tile azul" onclick="location.href='minimum_wage'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Minimum Wage</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='working_hour'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Working Hours</span>
        </div>
        <div class="tile verde"  onclick="location.href='annual_bonus'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Annual Bonus</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='annual_leave'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Annual Leave</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='pay_raise_visu'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Pay Raise</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='pay_rate_level'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Pay Level</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='pay_slip'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Pay Slips</span>
        </div>
        <div class="tile amarelo"  onclick="location.href='sick_leave'" style="cursor: pointer">
            <span class="titulo" style="align-content: center">Sick Leave</span>
        </div>
    </div>
</div>
<!-- TILES CODE END-->

<!-- Visualisation code-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="head_title">How was employment across Australia in 2018?</h1>
            <h2 class="head_title">How was full time employment based on salary?</h2>
            <!--                <div class="center-block" id="map"></div>-->
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the highest salary in Victoria?</h2>
            <div id="vic_categ"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in Victoria?</h2>
            <div id="vic_job_post"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="javascripts/choropleth_map.js"></script>
<!-- Visualisation code end-->
<%include footer.ejs %>

</body>