<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Garry" content="">
    <title>View you pay level</title>


    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/working_hour.css" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">

<!--    VISUALIZATION LINK D3-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <link rel="stylesheet" href="css/story.css">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
</html>

<body style="background-color: #f0f0f0;">
<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
    <div class="container">
        <a class="navbar-brand-sharon" href="/">
            <div class = "logo-image">
                <img src="images/logo.png" class="img-fluid">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <div id="menu_area" class="menu-area">
                    <div class="container">
                        <div class="row">
                            <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li><a id="nav_home" href="/" style="font-family: Josefin Sans;">Home</a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">Employee Entitlements</span></a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li class="dropdown">

                                                    <a class="dropdown-toggle" href="#" id="navbar1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Pay</span></a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li ><a  id="myfont_1" href="minimum_wage">Minimum Wage</a></li>
                                                        <li><a  id="myfont_2" href="pay_slip">Pay Slip</a></li>
                                                        <li><a id="myfont_3"  href="superannuation">Superannuation</a></li>
                                                        <li><a id="myfont_4"  href="working_hour">Working Hours</a></li>
                                                        <li><a id="myfont_5" href="annual_bonus">Annual Bonus</a></li>
                                                        <li><a id="myfont_6" href="infographics_epic1">Quick Info</a></li>
                                                        <li><a id="myfont_20" href="pay_raise_visu">Salary&Job Analysis</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Leave</span></a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li><a id="myfont_8" href="annual_leave">Annual Leave Entitlements</a></li>
                                                        <li><a id="myfont_9" href="sick_leave">Sick Leave Entitlements</a></li>
                                                        <li>
                                                            <a id="myfont_21" href="pay_rate_level">Paid Leave Analysis</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_10" href="infographic_epic2">Quick Info</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Contract</span></a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li>
                                                            <a id="myfont_12" href="contract_termination">Contract Termination</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_13" href="industrial_action">Industrial Action</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_14" href="redundancy">Redundancy</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_15" href="resignation">Resignation</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_16" href="unfair_dismissal_case">Unfair Dismissal Case</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_17" href="unfair_dismissal">Unfair Dismissal</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_22" href="injury_visualisation">Injury Analysis</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_18" href="infographic_epic3">Quick Info</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a id="myfont_23" href="external_links">External Links</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <li class="dropdown">
                    <a class="nav-link" id="nav-link-au" href="#au" data-reload onclick="translate_au(); delete_motive_cn();">
                        <span class="flag-icon flag-icon-au"> </span>
                        <span id="nav-separator">English</span></a>
                </li>
                <li class="dropdown">
                    <a class="nav-link" id="nav-link-au" href="#cn" data-reload onclick="translate_cn(); delete_motive_au();">
                        <span class="flag-icon flag-icon-cn" id="nav-separator"></span>
                        <span id="nav-separator">中文</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<!-- Visualisation code-->
<div class="container">
    <div class="row">
        <div class="col-12"> <br><br>
            <h1 class="head_title">How was employment across Australia in 2018?</h1>
            <h2 class="head_title">How was full time employment based on salary?</h2>
            <!--                <div class="center-block" id="map"></div>-->
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the highest salary in Victoria?</h2>
            <div id="vic_categ"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in Victoria?</h2>
            <div id="vic_job_post"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the highest salary in Queensland?</h2>
            <div id="qld_categ"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in Queensland?</h2>
            <div id="qld_job_post"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the highest salary in New South Wales?</h2>
            <div id="nsw_categ"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in New South Wales?</h2>
            <div id="nsw_job_post"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="javascripts/choropleth_map.js"></script>
<!-- Visualisation code end-->
<%include footer.ejs %>

</body>