<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Garry" content="">
    <title>View you pay level</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/working_hour.css" rel="stylesheet">
    <link href="css/scroll.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/story.css">
    <link rel="stylesheet" href="css/percentile.css">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
</html>

<body style="background-color: #f0f0f0;">
<nav class="navbar navbar-expand-lg navbar-dark bg-sharon static-top">
    <div class="container">
        <a class="navbar-brand-sharon" href="/">
            <div class = "logo-image">
                <img src="images/logo.png" class="img-fluid">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <div id="menu_area" class="menu-area">
                    <div class="container">
                        <div class="row" style="margin-right:5.5em;">
                            <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li><a id="nav_home" href="/" style="font-family: Josefin Sans;">Home</a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">Employee Entitlements</span></a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li class="dropdown">

                                                    <a class="dropdown-toggle" href="#" id="navbar1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Pay</span></a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li ><a  id="myfont_1" href="minimum_wage">Minimum Wage</a></li>
                                                        <li><a  id="myfont_2" href="pay_slip">Pay Slip</a></li>
                                                        <li><a id="myfont_3"  href="superannuation">Superannuation</a></li>
                                                        <li><a id="myfont_4"  href="working_hour">Working Hours</a></li>
                                                        <li><a id="myfont_5" href="annual_bonus">Annual Bonus</a></li>
                                                        <li><a id="myfont_6" href="infographics_epic1">Quick Info</a></li>
                                                        <li><a id="myfont_20" href="pay_raise_visu">Salary&Job Analysis</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-family: Josefin Sans;">About Your Leave</span></a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li><a id="myfont_8" href="annual_leave">Annual Leave Entitlements</a></li>
                                                        <li><a id="myfont_9" href="sick_leave">Sick Leave Entitlements</a></li>
                                                        <li>
                                                            <a id="myfont_21" href="pay_rate_level">Paid Leave Analysis</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_10" href="infographic_epic2">Quick Info</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Your Contract</a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <li>
                                                            <a id="myfont_12" href="contract_termination">Contract Termination</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_13" href="industrial_action">Industrial Action</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_14" href="redundancy">Redundancy</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_15" href="resignation">Resignation</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_16" href="unfair_dismissal_case">Unfair Dismissal Case</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_17" href="unfair_dismissal">Unfair Dismissal</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_22" href="injury_visualisation">Injury Analysis</a>
                                                        </li>
                                                        <li>
                                                            <a id="myfont_18" href="infographic_epic3">Quick Info</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a id="myfont_23" href="external_links">External Links</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" id="nav-link-au" href="#au" data-reload onclick="translate_au(); delete_motive_ch();">-->

<!--                        <span class="flag-icon flag-icon-au"> </span>-->
<!--                        <span id="nav-separator">English</span></a>-->
<!--                </li>-->
<!--                <li class="dropdown">-->
<!--                    <a class="nav-link" id="nav-link-au" href="#cn" data-reload onclick="translate_cn(); delete_motive_au();">-->
<!--                        <span class="flag-icon flag-icon-cn" id="nav-separator"></span>-->
<!--                        <span id="nav-separator">中文</span></a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</nav>
<div class="container vis_1_head">
    <div class="row each_vis_box">
        <div class="col-2 choose_state">
            <div class="row head_title">
                Choose a state for further analysis
            </div>
            <div class="row head_title">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        State
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#vic_1">Victoria</a>
                        <a class="dropdown-item" href="#qld_1">Queensland</a>
                        <a class="dropdown-item" href="#nsw_1">New South Wales</a>
                        <a class="dropdown-item" href="#tas_1">Tasmania</a>
                        <a class="dropdown-item" href="#wa_1">Western Australia</a>
                        <a class="dropdown-item" href="#sa_1">South Australia</a>
                        <a class="dropdown-item" href="#act_1">Australian Capital Territory</a>
                        <a class="dropdown-item" href="#nt_1">Northern Territory</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <h1 class="head_title">How was employment across Australia?</h1>
            <h2 class="head_title">Employment & Salary 2018</h2>
            <!--                <div class="center-block" id="map"></div>-->
            <div id="map"></div>
        </div>
    </div>
    <div class="row each_vis_box">
        <div class="col-12">
            <h2 id="vic_1" class="head_title">Which category had the highest salary in <b class="question">Victoria?</b></h2>
            <div id="vic_categ"></div>
        </div>
    </div>
    <div class="row each_vis_box">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in <b class="question">Victoria?</b></h2>
            <div id="vic_job_post"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 id="qld_1" class="head_title">Which category had the highest salary in <b class="question">Queensland?</b></h2>
            <div id="qld_categ"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in <b class="question">Queensland?</b></h2>
            <div id="qld_job_post"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 id="nsw_1" class="head_title">Which category had the highest salary in <b class="question">New South Wales?</b></h2>
            <div id="nsw_categ"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in <b class="question">New South Wales?</b></h2>
            <div id="nsw_job_post"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 id="tas_1" class="head_title">Which category had the highest salary in <b class="question">Tasmania?</b></h2>
            <div id="tas_categ"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in <b class="question">Tasmania?</b></h2>
            <div id="tas_job_post"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 id="wa_1" class="head_title">Which category had the highest salary in <b class="question">Western Australia?</b></h2>
            <div id="wa_categ"></div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in <b class="question">Western Australia?</b></h2>
            <div id="wa_job_post"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 id="sa_1" class="head_title">Which category had the highest salary in <b class="question">South Australia?</b></h2>
            <div id="sa_categ"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in <b class="question">South Australia?</b></h2>
            <div id="sa_job_post"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 id="act_1" class="head_title">Which category had the highest salary in <b class="question">Australian Capital Territory?</b></h2>
            <div id="act_categ"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in <b class="question">Australian Capital Territory?</b></h2>
            <div id="act_job_post"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 id="nt_1" class="head_title">Which category had the highest salary in <b class="question">Northern Territory?</b></h2>
            <div id="nt_categ"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="head_title">Which category had the most job posts in <b class="question">Northern Territory?</b></h2>
            <div id="nt_job_post"></div>
        </div>
    </div>
    <!--
            <div class="row">
                <div class="col-12 ying_div">
                    <h1 class="head_title">How did weekly earning change from the last 20 years?</h1>
                    <h2 class="head_title">Weekly earnings from several industries over the last 20 years (vertical axis - wage; horizontal axis - years)</h2>
                    <h3 class="head_title" style="font-family:Architects Daughter, cursive;">Select a category: &nbsp;&nbsp;</h3>
                    <select id="selectButton"></select>
                    <div id="ying_wage"></div>
                </div>
            </div>
    -->
</div>
<%include back_top.ejs%>
<script type="text/javascript" src="javascripts/choropleth_map.js"></script>
<!--&lt;!&ndash; Visualisation code&ndash;&gt;-->
<!--<script src="https://d3js.org/d3.v4.js"></script>-->
<!--<script src="https://unpkg.com/d3-simple-slider"></script>-->

<!--<div class="container">-->

<!--    <div class="row align-items-center">-->
<!--        <div><h1>How did weekly earning change from the last 20 years?</h1></div>-->
<!--    </div>-->
<!--    <p>The dataset used in the below figure was about the weekly earnings from several industries during the last 20 years and it includes the predicting wage in 2020 and 2021.How to use this figure? First, we can choose a category that we are interested in, the line graph will change according to which industry we select. We can find employees from mining always had the highest wage in the same year and they wage was increased faster than every other industry. Oppositely, people who worked in accommodation and food service had a very low wage, which climbed very slowly as well </p>-->
<!--    <p>After checking each category, we can find that employees from all industries had higher and higher wages year by year. Based on this information, we can calculate the percentage that the wage increased from the last year. Some predictions can be done as well. For example, we can predict how much we can earn per week in 2020, if your wage is too much lower than the prediction, you can find some entitlements from our story boards. After that, you can negotiate with your boss.</p>-->
<!--</div>-->

<!--&lt;!&ndash; Create a div where the graph will take place &ndash;&gt;-->
<!--<div class="container">-->

<!--    <div class="row align-items-center">-->


<!--        <h3>Select a category: &nbsp;&nbsp;</h3>-->

<!--        <div><select id="selectButton" style="text-align: center"></select></div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Create a div where the graph will take place &ndash;&gt;-->
<!--    <div id="my_dataviz" style="text-align: center"></div>-->

<!--</div>-->

<!--<div class="container">-->

<!--    <div class="row align-items-center">-->
<!--        <div><h3>How much can you earn in 2020 or 2021?</h3></div>-->
<!--    </div>-->
<!--    <p>The prediction for <b>Mining</b> may be around $2862.6 and $2937.73 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Manufacturing</b> may be around $1434.2 and $1466.91 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Electricity, Gas, Water and Waste Services</b> maybe around $2022.4 and $2076.52 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Construction</b> maybe around $1615.091 and $1656.539 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Wholesale Trade</b> maybe around $1474.11 and $1511.01 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Retail Trade</b> maybe around $795.6 and $813.88 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Accommodation and Food Services</b> maybe around $570.8 and $581.34 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Transport, Postal and Warehousing</b> maybe around $1539.944 and $1574.735 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Information Media and Telecommunications</b> maybe around $1778.157 and $1826.45 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Financial and Insurance Services</b> maybe around $1764.073 and $1809.13 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Rental, Hiring and Real Estate Services</b> maybe around $1265.67 and $1296.141 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Professional, Scientific and Technical Services</b> maybe around $1748.929 and $1796.114 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Administrative and Support Services</b> maybe around $1105.6 and $1130.38 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Public Administration and Safety</b> maybe around $1584 and $1623.2 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Education and Training</b> maybe around $1243.2 and $1271.86 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Health Care and Social Assistance</b> maybe around $1129.8 and $1156.29 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Arts and Recreation Services</b> maybe around $876.6 and $895.93 in 2020 and 2021.-->
<!--        <br>The prediction for <b>Other Services</b> maybe around $1021.618 and $1046.969 in 2020 and 2021.<br>-->
<!--        <font size="3" color="red">Claim: the predictions may not 100% correct, it is just a reference. If your salary was too much lower than it, please find some entitlement from our website.</font>    </p>-->
<!--</div>-->
<!--&lt;!&ndash; Color Scale &ndash;&gt;-->
<script>
    $(document).ready(function() {
        $(".dropdown-toggle").dropdown();
    });
</script>>
<script>

    // set the dimensions and margins of the graph
    var margin = {top: 10, right: 30, bottom: 30, left: 60},
        width = 800 - margin.left - margin.right,
        height = 600 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#my_dataviz")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    //Read the data
    d3.csv("images/Pay_raise.csv", function(data) {
        console.log(data)
        // List of groups (here I have one group per column)
        var allGroup = d3.map(data, function(d){return(d.Industry)}).keys()
        console.log(allGroup)
        // add the options to the button
        d3.select("#selectButton")
            .selectAll('myOptions')
            .data(allGroup)
            .enter()
            .append('option')
            .text(function (d) { return d; }) // text showed in the menu
            .attr("value", function (d) { return d; }) // corresponding value returned by the button

        // A color scale: one color for each group
        var myColor = d3.scaleOrdinal()
            .domain(allGroup)
            .range(d3.schemeCategory20);

        // Add X axis --> it is a date format
        var x = d3.scaleLinear()
            .domain(d3.extent(data, function(d) { return d.Year; }))
            .range([ 0, width ]);
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x).ticks(7));

        // Add Y axis
        var y = d3.scaleLinear()
            .domain([0, d3.max(data, function(d) { return +d.Wage; })])
            .range([ height, 0 ]);
        svg.append("g")
            .call(d3.axisLeft(y));


        var tooltip = d3.select("#my_dataviz")
            .append("div")
            .style("opacity", 0)
            .attr("class", "tooltip")
            .style("background-color", "skyblue")
            .style("border-radius", "5px")
            .style("padding", "10px")
            .style("color", "black")

        var showTooltip = function(d) {
            tooltip
                .transition()
                .duration(200)
            tooltip
                .style("opacity", 1)
                .html("The wages of 2020 and 2021 are predictions")

                .style("left", (d3.mouse(this)[0]+30)+ "px")
                .style("top", (d3.mouse(this)[1]+250)+ "px")
        }
        var moveTooltip = function(d) {
            tooltip
                .style("left", (d3.mouse(this)[0]+30) + "px")
                .style("top", (d3.mouse(this)[1]+250) + "px")
        }
        var hideTooltip = function(d) {
            tooltip
                .transition()
                .duration(200)
                .style("opacity", 0)
        }
        // Initialize line with first group of the list
        var line = svg
            .append('g')
            .append("path")
            .datum(data.filter(function(d){return d.Industry==allGroup[0]}))
            .attr("d", d3.line()
                .x(function(d) { return x(d.Year) })
                .y(function(d) { return y(+d.Wage) })
            )
            .attr("stroke", function(d){ return myColor("valueA") })
            .style("stroke-width", 4)
            .style("fill", "none")
            .on("mouseover", showTooltip )
            .on("mousemove", moveTooltip )
            .on("mouseleave", hideTooltip )
        // A function that update the chart
        function update(selectedGroup) {

            // Create new data with the selection?
            var dataFilter = data.filter(function(d){return d.Industry==selectedGroup})

            // Give these new data to update line
            line
                .datum(dataFilter)
                .transition()
                .duration(1000)
                .attr("d", d3.line()
                    .x(function(d) { return x(d.Year) })
                    .y(function(d) { return y(+d.Wage) })
                )
                .attr("stroke", function(d){ return myColor(selectedGroup) })
        }

        // When the button is changed, run the updateChart function
        d3.select("#selectButton").on("change", function(d) {
            // recover the option that has been chosen
            var selectedOption = d3.select(this).property("value")
            // run the updateChart function with this selected option
            update(selectedOption)
        })
    })
</script>

<!-- Visualisation code end-->
<!-- FOOTER CODE -->

<footer>
    <div class="container">
        <div class="content-footer row">
            <div class="column-footer col-lg-6 col-md-6 col-sm-6">
                <h3><span id="quick-link">Quick Links</span></h3>
                <ul id="restaurant-hours">
                    <li>
                        <a href="pay_raise_visu"><span id="pay-raise-2">Pay Raise</span></a>
                    </li>
                    <li>
                        <a href="working_hour"> <span id="working-hours-2">Working Hours</span></a>
                    </li>
                    <li>
                        <a href="superannuation"><span id="super-ann">Superannuation</span></a>
                    </li>
                    <li>
                        <a href="sick_leave"><span id="sick-leave-ent">Sick Leave Entitlements</span></a>
                    <li>
                        <a href="annual_bonus"><span id="annual-bonus-2">Annual Bonus</span></a>
                    </li>
                </ul>
                <div class="line-divide first-line"></div>
            </div>

            <div class="column-footer col-lg-3 col-md-3 col-sm-7">
                <h3><span id="other-links">Other Useful Links</span></h3>
                <ul id="useful-links">
                    <li>
                        <a href="minimum_wage"><span id="min-wage-3">Minimum Wage</span></a>
                    </li>
                    <li>
                        <a href="pay_rate_level"><span id="view-pay-rate-3">View Your Pay Rate Level</span></a>
                    </li>
                    <li>
                        <a href="pay_slip"><span id="pay-slip-3">Pay Slip</span></a>
                    </li>
                    <li>
                        <a href="annual_leave"><span id="annual-leave-3">Annual Leave Entitlements</span></a>
                    </li>
                </ul>
                <div class="line-divide second-line"></div>
            </div>
        </div>
    </div>
    <div class="wrap-bottom-footer">
        <div class="container">
            <div class="bottom-footer row justify-content-between">
                <div class="col-12 col-sm-7">© <span id="copy-right">2019 KnowYourRights. All rights reserved.</span></div>
                <div class="col-12 col-sm-5"><span id="privacy-pol">Privacy Policy</span>
                    <span id="terms-of-use">Terms of use</span></div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER CODE END-->
<script>
    var dataReload = document.querySelectorAll("[data-reload]");

    //Language translations
    var language = {
        au:{
            welcome: "Welcome to KnowYourRights",
            home: "Home",
            minwage: "Minimum Wage"
        },
        cn:{
            welcome: "欢迎来到KnowYourRights",
            home: "主页",
            minwage: "最低工资"
        }
    };
    //Define language using window hashing
    // if (window.location.hash) {
    //   //console.log(window.location.hash);
    //   if (window.location.hash === "#cn") {
    //     homenav.textContent = language.cn.home;
    //     minwage.textContent = language.cn.minwage;
    //   } else {
    //     homenav.textContent = language.au.home;
    //     minwage.textContent = language.au.minwage;
    //   }
    // }
    // //Language Reload onclick illiteration
    // for(i=0; i< dataReload.length; i++){
    //   //console.log(dataReload[i]);
    //   dataReload[i].onclick = function(){
    //     //console.log("hello");
    //     if(window.location.hash === "#au"){
    //       //window.location.href = "#au";
    //       alert("hello");
    //       // window.location.reload();
    //     }
    //     else if(window.location.hash === "#cn"){
    //       //window.location.href = "#cn";
    //       // window.location.reload();
    //     }
    //   };
    // }
    function translate_cn() {
        document.getElementById("nav_home").textContent = "主页";
        document.getElementById("navbarDropdown").textContent = "员工权利";
        document.getElementById("navbar1").textContent = "关于您的薪水";
        document.getElementById("myfont_1").textContent = "最低工资";
        document.getElementById("myfont_2").textContent = "工资单";
        document.getElementById("myfont_3").textContent = "退休金";
        document.getElementById("myfont_4").textContent = "工作时间";
        document.getElementById("myfont_5").textContent = "年度奖金";
        document.getElementById("myfont_6").textContent = "快速资讯";
        document.getElementById("myfont_20").textContent = "薪资和工作分析";
        document.getElementById("navbar2").textContent = "关于您的假期";
        document.getElementById("myfont_8").textContent = "年假权利";
        document.getElementById("myfont_9").textContent = "病假权利";
        document.getElementById("myfont_10").textContent = "快速资讯";
        document.getElementById("myfont_21").textContent = "带薪休假分析";
        document.getElementById("navbar3").textContent = "关于您的合同";
        document.getElementById("myfont_12").textContent = "合同信息";
        document.getElementById("myfont_13").textContent = "工业行动";
        document.getElementById("myfont_14").textContent = "冗余";
        document.getElementById("myfont_15").textContent = "辞职";
        document.getElementById("myfont_16").textContent = "不公平解雇案";
        document.getElementById("myfont_17").textContent = "不公平解雇";
        document.getElementById("myfont_18").textContent = "快速资讯";
        document.getElementById("myfont_22").textContent = "损伤分析";
        document.getElementById("myfont_23").textContent = "外部链接";
        document.getElementById("quick-link").textContent = "快速链接";
        document.getElementById("working-hours-2").textContent = "工作时间";
        document.getElementById("super-ann").textContent = "退休金";
        document.getElementById("sick-leave-ent").textContent = "病假权利";
        document.getElementById("annual-bonus-2").textContent = "年度奖金";
        document.getElementById("pay-raise-2").textContent = "加薪";
        document.getElementById("other-links").textContent = "其他有用的链接";
        document.getElementById("min-wage-3").textContent = "最低工资";
        document.getElementById("view-pay-rate-3").textContent = "查看您的工资水平";
        document.getElementById("pay-slip-3").textContent = "工资单";
        document.getElementById("annual-leave-3").textContent = "年假权利";
        document.getElementById("copy-right").textContent = "2019年KnowYourRights。版权所有。";
        document.getElementById("privacy-pol").textContent = "隐私政策";
        document.getElementById("terms-of-use").textContent = "使用条款";


    }
    function translate_au() {
        document.getElementById("nav_home").textContent = "Home";
        document.getElementById("navbarDropdown").textContent = "Employee Entitlement";
        document.getElementById("navbar1").textContent = "About Your Pay";
        document.getElementById("myfont_1").textContent = "Minimum Wage";
        document.getElementById("myfont_2").textContent = "Pay Slip";
        document.getElementById("myfont_3").textContent = "Superannuation";
        document.getElementById("myfont_4").textContent = "Working Hours";
        document.getElementById("myfont_5").textContent = "Annual Bonus";
        document.getElementById("myfont_6").textContent = "Quick Info";
        document.getElementById("myfont_20").textContent = "Salary&Job Analysis";
        document.getElementById("navbar2").textContent = "About Your leave";
        document.getElementById("myfont_8").textContent = "Annual Leave Entitlements";
        document.getElementById("myfont_9").textContent = "Sick Leave Entitlements";
        document.getElementById("myfont_10").textContent = "Quick Info";
        document.getElementById("myfont_21").textContent = "Paid Leave Analysis";
        document.getElementById("navbar3").textContent = "About Your Contract";
        document.getElementById("myfont_12").textContent = "Contract Information";
        document.getElementById("myfont_13").textContent = "industrial Action";
        document.getElementById("myfont_14").textContent = "Redundancy";
        document.getElementById("myfont_15").textContent = "Resignation";
        document.getElementById("myfont_16").textContent = "Unfair Dismissal Case";
        document.getElementById("myfont_17").textContent = "Unfair Dismissal";
        document.getElementById("myfont_18").textContent = "Quick Info";
        document.getElementById("myfont_22").textContent = "Injury Analysis";
        document.getElementById("myfont_23").textContent = "External Links";
        document.getElementById("quick-link").textContent = "Quick Links";
        document.getElementById("working-hours-2").textContent = "Working Hours";
        document.getElementById("super-ann").textContent = "Superannuation";
        document.getElementById("sick-leave-ent").textContent = "Sick Leave Entitlements";
        document.getElementById("annual-bonus-2").textContent = "Annual Bonus";
        document.getElementById("pay-raise-2").textContent = "Pay Raise";
        document.getElementById("other-links").textContent = "Other Useful Links";
        document.getElementById("min-wage-3").textContent = "Minimum Wage";
        document.getElementById("view-pay-rate-3").textContent = "View Your Pay Rate Level";
        document.getElementById("pay-slip-3").textContent = "Pay Slip";
        document.getElementById("annual-leave-3").textContent = "Annual Leave Entitlements";
        document.getElementById("copy-right").textContent = "2019 KnowYourRights. All rights reserved.";
        document.getElementById("privacy-pol").textContent = "Privacy Policy";
        document.getElementById("terms-of-use").textContent = "Terms of Use";
    }

    </script>
</body>