/*NAVBAR*/
.menu-area{background: rgba(235, 128, 52, 1);}
.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{color:black;font-size:16px;text-transform:capitalize;padding:16px 15px;font-family:'Roboto',sans-serif;display: block !important;}
.mainmenu .active a,.mainmenu .active a:focus,.mainmenu .active a:hover,.mainmenu li a:hover,.mainmenu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{color: #fff;background: rgba(235, 128, 52, 1);outline: 0;}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a{background: rgba(235, 128, 52, 1);}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{background: rgba(235, 128, 52, 1);}
.mainmenu .collapse ul ul ul > li:hover > a{background: rgba(235, 128, 52, 1);}
/*#eb8034;*/
.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{background:rgba(235, 128, 52,0.8);}
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{background:rgba(235, 128, 52,0.8);}
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{background:rgba(235, 128, 52,0.8);}
#navbarDropdown{
    font-family: "Josefin Sans";
    /*margin-bottom : -0.2em;*/
}
.dropdown-toggle{
    font-family: "Josefin Sans";
}
/*.nav_home{*/
/*    margin-bottom: 5px;*/
/*}*/
#dropdownMenuLink{
    margin:0.2em;
}
.dropdown{
    margin-top: 0.1em;
}
#myfont_1{
    font-family: "Josefin Sans";
}
#myfont_2{
    font-family: "Josefin Sans";
}

#myfont_3{
    font-family: "Josefin Sans";
}

#myfont_4{
    font-family: "Josefin Sans";
}

#myfont_5{
    font-family: "Josefin Sans";
}

#myfont_6{
    font-family: "Josefin Sans";
}
#myfont_7{
    font-family: "Josefin Sans";
}
#myfont_8{
    font-family: "Josefin Sans";
}
#myfont_9{
    font-family: "Josefin Sans";
}
#myfont_10{
    font-family: "Josefin Sans";
}
#myfont_11{
    font-family: "Josefin Sans";
}
#myfont_12{
    font-family: "Josefin Sans";
}
#myfont_13{
    font-family: "Josefin Sans";
}
#myfont_14{
    font-family: "Josefin Sans";
}
#myfont_15{
    font-family: "Josefin Sans";
}
#myfont_16{
    font-family: "Josefin Sans";
}
#myfont_17{
    font-family: "Josefin Sans";
}
#myfont_18{
    font-family: "Josefin Sans";
}
#myfont_19{
    font-family: "Josefin Sans";
}
#myfont_20{
    font-family: "Josefin Sans";
}
#myfont_21{
    font-family: "Josefin Sans";
}
#myfont_22{
    font-family: "Josefin Sans";
}
#myfont_23{
    font-family: "Josefin Sans";
}
#myfont_24{
    font-family: "Josefin Sans";
}
/******************************Drop-down menu work on hover**********************************/
.mainmenu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}
@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li:hover> ul{display:block}
    .mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    /*******/
    .mainmenu .collapse ul ul li{position:relative}
    .mainmenu .collapse ul ul li:hover> ul{display:block}
    .mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
    /*******/
    .mainmenu .collapse ul ul ul li{position:relative}
    .mainmenu .collapse ul ul ul li:hover ul{display:block}
    .mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}
/*NAVBAR ENDS*/



.title-div-sharon{
    margin: 100px 0px 50px 0px;
    text-align: center;
    height: 20%;
    width: 100%;
    z-index: 2;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.7);
    padding-top: 0.6em;
    white-space: normal;
}
/*.carousel{*/
/*    width: auto;*/
/*    overflow: hidden;*/
/*    text-align: center;*/
/*}*/
/*.carousel-inner{*/
/*    text-align: center;*/
/*}*/
/*#carouselExampleIndicators{*/
/*    text-align: center;*/
/*}*/
/*.carousel-inner > .carousel-item > img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*margin: 50px 50px 100px 500px;*!*/
/*    !*text-align: center;*!*/
/*}*/
/*.carousel-item{*/
/*    margin:auto;*/
/*}*/
.gray_style{
    background-color: #f0f0f0;
}
.carousel-indicators {
    bottom: -3em;
}
.carousel-indicators li {
    width: 10em;
    height: 5em;
}
        /*.carousel-inner{*/
        /*    margin: -60px 50px 50px 400px;*/
        /*}*/
/*.carousel-control-next-icon, .carousel-control-prev-icon {*/
/*    color:#eb8034 !important;*/
/*}*/
/*#trial  a:hover{*/
/*    color:#eb8034;*/
/*}*/
/*.carousel-control-next{*/
/*    width:35%;*/
/*    height:35%;*/
/*}*/
/*.carousel-indicators{*/
/*    width: auto;*/
/*    overflow: hidden;*/
/*}*/
/*a.carousel-control-next{*/
/*    right: 75px;*/
/*    top: 150px;*/
/*}*/
/*a.carousel-control-prev{*/
/*    left: 75px;*/
/*    top: 150px;*/
/*}*/
/*.carousel-control-prev-icon,*/
/*.carousel-control-next-icon {*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    outline: black;*/
/*    background-size: 100%, 100%;*/
/*    border-radius: 50%;*/
/*    border: 1px solid black;*/
/*    background-image: none;*/
/*}*/

/*.carousel-control-next-icon:after*/
/*{*/
/*    content: '>';*/
/*    font-size: 5em;*/
/*    color: #eb8034;*/
/*}*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
}
.carousel-control-next-icon:after
{
    content: '>';
    font-size: 4em;
    color: #eb8034;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 4em;
    color: #eb8034;
}
.dropdown-submenu {
    position: relative;
}
/*.carousel-control-prev span{*/
/*    color:#eb8034;*/
/*}*/
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
/*.carousel-control-prev-icon:after {*/
/*    content: '<';*/
/*    font-size: 55px;*/
/*    color: #eb8034;*/
/*}*/
.show > .btn-secondary.dropdown-toggle:focus{
    box-shadow: 0 0 0 .2rem #eb8034;
}
#dropdownMenu2{
    background-color: #eb8034;
    border-color: #eb8034;
    color:black;
}

/*.carousel-indicators{*/
/*    position:relative;*/
/*    top:585px;*/
/*}*/
/*.carousel-indicators li {*/
/*    display: inline-block;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    margin: 10px;*/
/*    text-indent: 0;*/
/*    cursor: pointer;*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    background-color: #eb8034;*/
/*    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);*/
/*}*/
/*.carousel-indicators .active {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    margin: 10px;*/
/*    background-color: #ff9e59;*/
/*}*/
/*.carousel-item img {*/
/*    margin: auto;*/
/*}*/
/*.carousel_center{*/
/*    text-align: center;*/
/*    !*width:auto;*!*/
/*    overflow: hidden;*/
/*}*/
/*.carousel-inner {*/
/*    width:45%;*/
/*    height:45%;*/
/*}*/
#indicator_caro{
    /*position:relative;*/
    /*overflow: hidden;*/
}
#myfooter{
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: 2.5rem;*/
}
#info-pay{
    background-color: #F0F8FF;
    text-align: center;
}
#info-leave{
    background-color: #F0F8FF;
    text-align: center;
}
#info-injury{
    background-color: #F0F8FF;
    text-align: center;
}
ul.b {
    list-style-type: square;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
.page-2-info-title{
    color:#343a40;
    font-size: 1.5em;
    font-family: 'Architects Daughter', cursive;
}
/*.img {*/
/*    position: relative;*/
/*    float: left;*/
/*    width:  380px;*/
/*    height: 300px;*/
/*    background-position: 50% 50%;*/
/*    background-repeat:   no-repeat;*/
/*    background-size:     cover;*/
/*    margin:0 auto;*/
/*}*/
/*.w3-container {*/
/*    padding-left: 25px;*/
/*    padding-right: 25px;*/
/*    font-family: "Josefin Sans";*/
/*    font-size: 18px;*/
/*}*/
/*.sr-only{*/
/*    color:#eb8034;*/
/*}*/
html {
    scroll-behavior: smooth;
}
#rectangle{
    width: 10em;
    height:0.5em;
    background:#eb8034;
    margin: 0px auto 50px auto;
}
#entitlement{
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
}
/*#aboutus{*/
/*    !*margin-top: 200px;*!*/
/*    !*margin-bottom: 50px;*!*/
/*    text-align: center;*/
/*}*/
.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*=================================================================== Loading ===*/
.animsition-loading {
    background-color: transparent;
    border-top: 5px solid rgba(255, 0, 0, 0.3);
    border-right: 5px solid rgba(255, 0, 0, 0.3);
    border-bottom: 5px solid rgba(255, 0, 0, 0.3);
    border-left: 5px solid rgba(255, 0, 0, 0.1);
}
#page2-entitlement{
    color:darkgray;
    font-size: 4em;
    font-family: 'Architects Daughter', cursive;
}
#page2-entitlement_gov {
    color: darkgray;
    font-size: 4em;
    font-family: 'Architects Daughter', cursive;
}

#page2-motive{
    color:darkgray;
    font-size: 4em;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}
p span{
    display: block;
}
.title-sharon{
    font-size: 2.5em;
    font-family: 'Architects Daughter', cursive;
}
.parallax {
    /* The image used */
    background-image: url("../images/Background.png");

    /* Set a specific height */
    min-height: 700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    /*    position: relative;*/
}
/*=================================================================== Footer ===*/
footer {
    background-color: #FFFFFF;
}

footer h3 {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    color: black;
    line-height: 1.3;
    padding-bottom: 15px;
}

footer ul li {
    list-style-type: none;
    color: black;
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
    line-height: 2.14;
}
footer ul li a {
    color: black;
    font-family: 'Architects Daughter', cursive;
    font-size: 14px;
    line-height: 2.14;
}
footer ul li a:hover {
    text-decoration: none;
    color: black;
}
.content-footer {
    padding-top: 100px;
    padding-bottom: 60px;
    position: relative;
    /*display: block;*/
}
/*.column-footer{*/
/*    padding-top: 17px;*/
/*}*/
.line-divide {
    position: absolute;
    width: 1px;
    background-color: #333333;
    bottom: 0px;
    top: 0px;
}
.column-footer.col-lg-5{padding-right: 80px;}
.column-footer.col-lg-4{padding-right: 50px;}

#follow-us a {
    padding-left: 18px;
}

#restaurant-hours .span-left {
    display: inline-block;
    width: 42%;
}

#useful-links .span-left {
    display: inline-block;
    width: 56%;
}
.first-line {
    left: -12%;
}
.second-line {
    left: -16%;
}


.wrap-bottom-footer {
    border-top: 1px solid #333333;
    padding-bottom: 18px;
    padding-top: 18px;
}
.bottom-footer .col-sm-7,.bottom-footer .col-sm-5 {
    color: #222222;
    font-family: 'Architects Daughter', cursive;
    font-size: 14px;
    line-height: 1.8;
}
.bottom-footer .col-sm-5{text-align: right;}
.bottom-footer span:first-child {
    padding-right: 10px;
    border-right: 1px solid #333333;
}
.bottom-footer span:last-child {
    padding-left: 10px;
}


@media (max-width: 991px){

    .column-footer.col-lg-5{margin-left: 18%; padding-right: 0px;}
    .column-footer.col-lg-4{margin-left: 18%; padding-right: 0px;}
    .column-footer.col-lg-3{padding-right: 0px;}
    .first-line{display: none;}
}
@media (max-width: 767px){
    .column-footer.col-lg-5{margin-left: auto; padding-right: 0px;}
    .column-footer.col-lg-4{margin-left: auto; padding-right: 0px;}
    .column-footer{margin: auto;}
    .second-line{display: none;}
}
@media (max-width: 576px){
    .bottom-footer .col-sm-7,.bottom-footer .col-sm-5{text-align: center;}
}

/*................................................................... Footer ...*/

#nav-link-sharon{
    color:black;
    font-family: "Josefin Sans"
}
#nav-link-sharon:hover{
    color:white;
    font-family: "Josefin Sans"
}
#nav-link-home{
    color:black;
    font-family: "Josefin Sans"
}
#nav-link-home:hover{
    color:white;
    font-family: "Josefin Sans"
}
#nav-link-employee{
    color:black;
    font-family: "Josefin Sans"
}
#nav-link-employee:hover{
    color:white;
    font-family: "Josefin Sans"
}
#nav-link-au{
    color:black;
    font-family: "Josefin Sans"
}
#nav-link-au:hover{
    color:white;
    font-family: "Josefin Sans"
}
#nav-link-cn{
    color:black;
    font-family: "Josefin Sans";
}
#nav-link-cn:hover{
    color:white;
    font-family: "Josefin Sans";
}
#nav-separator{
    color: black;
    font-family: "Josefin Sans";
}
#nav-separator:hover{
    color: white;
    font-family: "Josefin Sans";
    text-decoration: underline;
}
/*.nav-link-translate{*/
/*    color:black;*/
/*    font-family: "Josefin Sans"*/
/*}*/
/*#nav-link-translate:hover{*/
/*    color:white;*/
/*}*/
.navbar-brand-sharon{
    color:black;
}
.navbar-brand-sharon:hover{
    text-decoration: none;
    color:white;
}
.logo-image{
    width: 150px;
    height: 60px;
    overflow: hidden;
    margin-top: -6px;
}
.bg-sharon{
    background-color:#eb8034;
}
#tryme {
    color: #4CAF50;
}
/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}
/* Changing the arrow position to bottom center position,
   translateX(50%) works with right: 50%
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0;
    }


    /* Toggling the sidebar header content,
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position,
      translateX(50%) works with right: 50%
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}
.row{
    padding-left: 30px;
    padding-right: 30px;
}

.infographics{
    position: relative;
    margin: auto;
    display: block;
    border: solid 6px black;
    height: 1000px;
    width: 400px;
}

.poster{
    /*position: absolute;*/
    height: 100%;
    width: 100%;
    margin-bottom: 20em;
}

.bulb{
    position: absolute;
    z-index: 2;
    height: 20%;
    width: 30%;
    top: 34%;
    left: 10%;
    animation: gravity 7s infinite;
}

.search{
    position: absolute;
    z-index: 2;
    height: 18%;
    width: 35%;
    top: 31%;
    left: 55%;
    animation: gravity 7s infinite;
}

@keyframes gravity{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}