body{
    background-color:#f0f0f0;
/*    #f9f9f9*/
/*    #43a2ca*/
}
.txt{
    font-size: 11px; 
    font-family: 'Architects Daughter', cursive;
}

/*
.choropleth{
    position: relative;
    display: inline-block;
}
*/
/*

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: #333;
  font-weight: 400;
    text-align: center;
}
*/
.question{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: 1.3em;
}
#map {
/*    display: block;*/
    text-align: center;
/*    padding-bottom: 5px;*/
/*  background: #43a2ca;*/
/*    display: inline-block;*/
/*
    margin-left: auto;
    margin-right: auto;
    padding: auto;
*/
/*    position: absolute;*/
/*
    width:1em;
    height:1em;
*/
}
.vis_1_head{
    margin-top: 1em;
}
.each_vis_box{
    margin-top: 1em;
}
/*
h1, h2 {
  line-height: 1em;
  font-size: 1.75em;
  font-weight: 900;
  color: #000;
}
*/

/*
h2.year {
  margin: 10px 0px 0px 0px;
  font-size: 1.2em;
  font-weight: 700;
}
*/

/*
p {
  margin: 10px 0px 0px 0px;
}
*/

.ying_div{
    text-align: center;
    font-family:'Architects Daughter', cursive;
}
#states {
/*    #eb8034*/
    stroke: #ccc;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill:orange;
}
#states .active {
    fill: black;
/*    stroke: #ef0;*/
}
.head_title{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}
.choose_state{
    text-align: center;
}
/*
#state-borders{
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}
*/

.leg .little_square{
    
}
.little_ruler{
    
}
.little_text{
    font-family: 'Architects Daughter', cursive;
/*    color:black;*/
    font-size: .90em;
}
.vic_rect_legend{
    
}
.qld_rect_legend{
    
}
.nsw_rect_legend{
    
}
.vic_rect_legend_treemap{
    
}
.qld_rect_legend_treemap{
    
}
.leg{
    fill:#f0f0f0;
}
.text_in_tree_vic{
    font-family: 'Architects Daughter', cursive;
/*    font-size: .90em;*/
}
.text_in_tree_qld{
    font-family: 'Architects Daughter', cursive;
/*    font-size: .90em;*/
}
.text_in_tree_nsw{
    font-family: 'Architects Daughter', cursive;
/*    font-size: .90em;*/
}
.text_in_tree_tas{
    font-family: 'Architects Daughter', cursive;
/*    font-size: .90em;*/
}
.text_in_tree_wa{
    font-family: 'Architects Daughter', cursive;
/*    font-size: .90em;*/
}
.text_in_tree_sa{
    font-family: 'Architects Daughter', cursive;
/*    font-size: .90em;*/
}
.text_in_tree_act{
    font-family: 'Architects Daughter', cursive;
/*    font-size: .90em;*/
}
.text_in_tree_nt{
    font-family: 'Architects Daughter', cursive;
/*    font-size: .90em;*/
}
.text_in_tree_vic2{
    font-family: 'Architects Daughter', cursive;
    font-size: .50em;
    fill:white;
}
.text_in_tree_qld2{
    font-family: 'Architects Daughter', cursive;
    font-size: .50em;
    fill:white;
}
.text_in_tree_nsw2{
    font-family: 'Architects Daughter', cursive;
    font-size: .50em;
    fill:white;
}
.text_in_tree_tas2{
    font-family: 'Architects Daughter', cursive;
    font-size: .50em;
    fill:white;
}
.text_in_tree_wa2{
    font-family: 'Architects Daughter', cursive;
    font-size: .50em;
    fill:white;
}
.text_in_tree_sa2{
    font-family: 'Architects Daughter', cursive;
    font-size: .50em;
}
.text_in_tree_act2{
    font-family: 'Architects Daughter', cursive;
    font-size: .50em;
}
.text_in_tree_nt2{
    font-family: 'Architects Daughter', cursive;
    font-size: .50em;
    fill:white;
}
.leg_vic{
    fill:#f0f0f0;
}
.leg_qld{
    fill:#f0f0f0;
}
.leg_nsw{
    fill:#f0f0f0;
}
.leg_tas{
    fill:#f0f0f0;
}
.leg_wa{
    fill:#f0f0f0;
}
.leg_sa{
    fill:#f0f0f0;
}
.leg_nt{
    fill:#f0f0f0;
}
.leg_act{
    fill:#f0f0f0;
}
.leg_treemap_vic{
    fill:#f0f0f0;
}
.leg_treemap_qld{
    fill:#f0f0f0;
}
.leg_treemap_nsw{
/*    fill: rgba(255,255,255,0.95);*/
    fill:#f0f0f0;
}
.leg_treemap_tas{
    fill:#f0f0f0;
}
.leg_treemap_wa{
    fill:#f0f0f0;
}
.leg_treemap_sa{
    fill:#f0f0f0;
}
.leg_treemap_act{
    fill:#f0f0f0;
}
.leg_treemap_nt{
    fill:#f0f0f0;
}
.leg_vic_text{
    font-family: 'Architects Daughter', cursive;
    font-size: .90em;
}
.leg_qld_text{
    font-family: 'Architects Daughter', cursive;
    font-size: .90em;
}
.leg_nsw_text{
    font-family: 'Architects Daughter', cursive;
    font-size: .90em;
}
.leg_tas_text{
    font-family: 'Architects Daughter', cursive;
    font-size: .90em;
}
.leg_wa_text{
    font-family: 'Architects Daughter', cursive;
    font-size: .90em;
}
.leg_sa_text{
    font-family: 'Architects Daughter', cursive;
    font-size: .90em;
}
.leg_act_text{
    font-family: 'Architects Daughter', cursive;
    font-size: .90em;
}
.leg_nt_text{
    font-family: 'Architects Daughter', cursive;
    font-size: .90em;
}
#ying_wage{
    text-align: center;
}
#vic_categ{
    text-align: center;
}
#vic_job_post{
    text-align: center;
}
#qld_categ{
    text-align: center;
}
#qld_job_post{
    text-align: center;
}
#nsw_categ{
    text-align: center;
}
#nsw_job_post{
    text-align: center;
}
#wa_categ{
    text-align: center;
}
#wa_job_post{
    text-align: center;
}
#tas_categ{
    text-align: center;
}
#tas_job_post{
    text-align: center;
}
#sa_categ{
    text-align: center;
}
#sa_job_post{
    text-align: center;
}
#act_categ{
    text-align: center;
}
#act_job_post{
    text-align: center;
}
#nt_categ{
    text-align: center;
}
#nt_job_post{
    text-align: center;
}

.tooltip {
  position: absolute;
  padding: 7px;
  font-size: 0.9em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

  -moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow:         3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.tooltip p {
  margin: 0;
  padding: 0;
}

.tooltip table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

/*
.wide {
  width: 120px;
}
*/
    